<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
  <div class="page-header">
    <h1 class="page-title">
      {{ categoryName }}
    </h1>
  </div>
  <!-- Table container -->
  <div class="overflow-x-hidden shadow-2lg">
    <!-- Table scroll container -->
    <div class="overflow-x-auto">
      <table mat-table [dataSource]="positionAttributes">
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef>
            <span class="headerTitle" mat-sort-header>
              {{ 'common.name' | translate }}
            </span>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.value }}</td>
        </ng-container>
        <ng-container matColumnDef="usersCount">
          <th mat-header-cell *matHeaderCellDef>
            <span class="headerTitle" mat-sort-header>
              {{ 'common.user.few' | translate }}
            </span>
          </th>
          <td mat-cell *matCellDef="let element">{{ element.usersCount }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</ng-container>
