<ui-dialog size="small">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{ 'components.role.impersonate.title' | translate }}
    </h3>
  </ng-container>
  <ng-container ngProjectAs="content">
    <ui-spinner *ngIf="loading"></ui-spinner>
    <form [formGroup]="roleForm" class="flex flex-col" *ngIf="!loading">
      <div uiFormFieldDirective>
        <label>{{ 'common.role.one' | translate }}</label>
        <ui-graphql-select
          valueField="id"
          textField="title"
          [query]="rolesQuery"
          formControlName="role"
        >
        </ui-graphql-select>
      </div>
    </form>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <ui-button uiDialogClose variant="default">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="roleForm.value"
      cdkFocusInitial
      [disabled]="!roleForm.valid"
    >
      {{ 'common.preview' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
