<safe-modal size="small">
  <h1 mat-dialog-title>
    {{ 'components.role.impersonate.title' | translate }}
  </h1>
  <div mat-dialog-content>
    <ui-spinner *ngIf="loading"></ui-spinner>
    <form [formGroup]="roleForm" class="flex flex-col" *ngIf="!loading">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'common.role.one' | translate }}</mat-label>
        <safe-graphql-select
          valueField="id"
          textField="title"
          [query]="rolesQuery"
          formControlName="role"
        >
        </safe-graphql-select>
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <ui-button (click)="onClose()">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      [category]="category.SECONDARY"
      [variant]="variant.PRIMARY"
      [mat-dialog-close]="roleForm.value"
      cdkFocusInitial
      [disabled]="!roleForm.valid"
    >
      {{ 'common.preview' | translate }}
    </ui-button>
  </div>
</safe-modal>
