<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && workflow">
    <div *ngIf="!formActive" class="workflow-name-container">
        <h1 class="workflow-name" (click)="toggleFormActive()">{{workflow.name}}</h1>
        <safe-access [access]="workflow.permissions" [application]="workflow.page?.application?.id"
                     (save)="saveAccess($event)" *ngIf="workflow.page?.canUpdate || false"></safe-access>
    </div>
    <ng-container *ngIf="formActive">
        <form [formGroup]="workflowNameForm" (ngSubmit)="saveName()" class="workflow-name-container">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="workflowName" type="string">
            </mat-form-field>
            <safe-button type="submit" [isIcon]="true" icon="save" variant="primary" [disabled]="!workflowNameForm.valid">
            </safe-button>
            <safe-button [isIcon]="true" icon="close" variant="danger" (click)="toggleFormActive()">
            </safe-button>
        </form>
    </ng-container>
    <div class="step-list-container">
        <mat-divider></mat-divider>
        <div cdkDropList cdkDropListOrientation="horizontal" class="step-list" (cdkDropListDropped)="dropStep($event)">
            <div class="step-box" *ngFor="let step of steps" cdkDragLockAxis="x" (click)="onStepClick(step)"
                (cdkDragStarted)="onDragStart()" [class.selected]="step === selectedStep" cdkDrag>
                <safe-button *ngIf="workflow.canUpdate" [isIcon]="true" icon="drag_indicator" class="step-handle" cdkDragHandle>
                </safe-button>
                <div class="step-placeholder" *cdkDragPlaceholder></div>
                {{step.name}}
                <safe-button *ngIf="step.canDelete" [isIcon]="true" icon="delete" class="delete-button" (click)="deleteStep(step, $event)">
                </safe-button>
            </div>
            <div class="step-box" *ngIf="workflow.canUpdate">
                <safe-button icon="add" variant="primary" class="add-step-button" (click)="addStep()">
                    Add a step
                </safe-button>
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
</ng-container>
<router-outlet (activate)="onActivate($event)"></router-outlet>
