<!-- HEADER -->
<div *ngIf="!formActive" class="workflow-name-container">
  <ng-container *ngIf="loading">
    <kendo-skeleton
      shape="rectangle"
      animation="pulse"
      width="100px"
      height="24px"
    ></kendo-skeleton>
    <safe-button
      [isIcon]="true"
      icon="admin_panel_settings"
      matTooltipPosition="above"
      [disabled]="true"
    >
    </safe-button>
  </ng-container>
  <ng-container *ngIf="!loading && workflow">
    <h1 class="workflow-name" (click)="toggleFormActive()">
      {{ workflow.name }}
    </h1>
    <div class="workflow-icons-container">
      <safe-access
        [access]="workflow.permissions"
        [application]="workflow.page?.application?.id"
        [objectTypeName]="'common.page.one' | translate"
        (save)="saveAccess($event)"
        *ngIf="workflow.page?.canUpdate || false"
      ></safe-access>
      <safe-button
        [isIcon]="true"
        icon="more_vert"
        class="share-button"
        [matMenuTriggerFor]="menu"
        cdkOverlayOrigin
        #appMenuTrigger="cdkOverlayOrigin"
      >
      </safe-button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onAppSelection()">
          <mat-icon>file_copy</mat-icon>
          {{ 'common.duplicate' | translate }}
        </button>
      </mat-menu>

      <ng-template #searchMenuHeaderTemplate>
        <safe-alert
          ><safe-icon icon="info"></safe-icon>
          {{ 'models.page.tooltip.duplicate' | translate }}
        </safe-alert>
      </ng-template>

      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="appMenuTrigger"
        [cdkConnectedOverlayOpen]="showAppMenu"
      >
        <safe-search-menu
          [headerTemplate]="searchMenuHeaderTemplate"
          [currentApplicationId]="applicationId"
          [applications]="applications"
          (close)="showAppMenu = false"
          (open)="onDuplicate($event)"
        ></safe-search-menu>
      </ng-template>
    </div>
  </ng-container>
</div>
<!-- NAME EDITION -->
<ng-container *ngIf="formActive">
  <form
    [formGroup]="workflowNameForm"
    (ngSubmit)="saveName()"
    class="name-edit-container"
  >
    <mat-form-field>
      <mat-label>{{ 'common.name' | translate }}</mat-label>
      <input matInput formControlName="workflowName" type="string" />
    </mat-form-field>
    <safe-button
      type="submit"
      [isIcon]="true"
      icon="save"
      variant="primary"
      [disabled]="!workflowNameForm.valid"
    >
    </safe-button>
    <safe-button
      [isIcon]="true"
      icon="close"
      variant="danger"
      (click)="toggleFormActive()"
    >
    </safe-button>
  </form>
</ng-container>
<!-- STEPS -->
<safe-workflow-stepper
  [loading]="loading"
  [steps]="steps"
  [canUpdate]="canUpdate"
  (add)="onAddStep()"
  (openStep)="onOpenStep($event)"
  (delete)="onDeleteStep($event)"
  (reorderSteps)="onReorderSteps($event)"
  [activeStep]="activeStep"
>
</safe-workflow-stepper>
<router-outlet (activate)="onActivate($event)"></router-outlet>
