.workflow-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .workflow-name {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 6px;
    margin: unset;
  }
  .workflow-name:hover {
    background-color: #dddddd54;
  }
  .workflow-icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
.share-button {
  color: #A9A9A9 !important;
  margin-left: -6px;
}

.name-edit-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


safe-workflow-stepper {
  margin: 16px -24px;
  display: block;
}

.cdk-drag-preview {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.step-list.cdk-drop-list-dragging .step-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
