.share-button {
  color: #a9a9a9 !important;
  margin-left: -6px;
}

safe-workflow-stepper {
  margin: 16px -24px;
  display: block;
}

.cdk-drag-preview {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.step-list.cdk-drop-list-dragging .step-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
