.workflow-name-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;

  .workflow-name {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 6px;
  }
  .workflow-name:hover {
    background-color: #dddddd54;
  }
}

.add-step-button {
  align-self: center;
  border-color: #13AD38;
  color: #13AD38;
  background-color: white;
}

.step-list-container {
  margin: 0 -24px 16px;
}

.step-list {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  padding: 0 0px;
}

.step-box {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  position: relative;
  z-index: 1;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);

  .step-handle {
    color: transparent;
    cursor: move;
    position: absolute;
    left: -4px;
  }

  .delete-button {
    color: transparent;
    cursor: pointer;
    position: absolute;
    right: -4px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.04);
    .step-handle {
      color: #aeaeaf;
    }
    .delete-button {
      color: #aeaeaf;
    }
  }
}

.step-box.selected {
  background-color: rgba(0, 0, 0, 0.04);
}

.step-placeholder {
  min-width: 90px;
  background:  rgba(0, 0, 0, 0.04);
  border: dotted 3px #999;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.2);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.step-box:last-child {
  border: none;
}

.step-list.cdk-drop-list-dragging .step-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.next-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

.end-buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  margin-top: 64px;
  
  button {
      margin: 0 8px;
  }
}

.settings-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.settings-button {
  color: #A9A9A9 !important;
}