<ui-spinner *ngIf="loading"></ui-spinner>
<ng-container *ngIf="!loading && workflow">
  <!-- STEPS -->
  <safe-workflow-stepper
    [steps]="steps"
    (openStep)="onOpenStep($event)"
    [activeStep]="activeStep"
  >
  </safe-workflow-stepper>
  <ng-container *ngIf="step && step.type === 'dashboard'">
    <app-dashboard
      [id]="step.content!"
      (goToNextStep)="onActivate($event)"
    ></app-dashboard>
  </ng-container>
  <ng-container *ngIf="step && step.type === 'form'">
    <app-form [id]="step.content!"></app-form>
  </ng-container>
</ng-container>
