<div [formGroup]="form" class="flex flex-col gap-4">
  <!-- Default filter -->
  <div class="flex flex-wrap gap-2 sm:items-center flex-col sm:flex-row">
    <!-- Search text filter -->
    <mat-form-field appearance="outline" class="p-0 mat-form-field-sm">
      <ui-icon matPrefix [icon]="'search'"></ui-icon>
      <mat-label>{{ 'common.placeholder.search' | translate }}</mat-label>
      <input matInput [formControl]="search" type="search" />
      <mat-spinner *ngIf="loading" diameter="24" matSuffix></mat-spinner>
    </mat-form-field>
    <!-- Toggle advanced filters -->
    <safe-button
      class="max-sm:!w-auto"
      icon="filter_list"
      category="tertiary"
      variant="primary"
      (click)="show = !show"
      >{{
        show
          ? ('common.filter.hide' | translate)
          : ('common.filter.show' | translate)
      }}
    </safe-button>
  </div>
  <!-- Advanced filters -->
  <div
    *ngIf="show"
    class="flex flex-wrap gap-2 sm:items-center flex-col sm:flex-row"
  >
    <!-- Date range filter -->
    <mat-form-field class="p-0 mat-form-field-sm" appearance="outline">
      <mat-label>{{ 'common.input.dateRange' | translate }}</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input formControlName="startDate" matStartDate />
        <input formControlName="endDate" matEndDate />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <safe-button matDateRangePickerCancel (click)="clearDateFilter()">
            {{ 'common.clear' | translate }}
          </safe-button>
          <safe-button
            category="secondary"
            variant="primary"
            matDateRangePickerApply
          >
            {{ 'common.filter.apply' | translate }}
          </safe-button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
    <!-- Status filter -->
    <mat-form-field class="p-0 mat-form-field-sm" appearance="outline">
      <mat-label>{{ 'common.status' | translate }}</mat-label>
      <mat-select formControlName="status">
        <mat-option>-</mat-option>
        <mat-option value="active">
          {{ 'common.status_active' | translate }}
        </mat-option>
        <mat-option value="pending">
          {{ 'common.status_pending' | translate }}
        </mat-option>
        <mat-option value="archived">
          {{ 'common.status_archived' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Clear filters -->
    <safe-button variant="danger" (click)="clear()" class="max-sm:!w-auto">{{
      'common.filter.clear' | translate
    }}</safe-button>
  </div>
</div>
