<ui-dialog size="small">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{ (data ? 'models.channel.edit' : 'models.channel.new') | translate }}
    </h3>
  </ng-container>
  <ng-container ngProjectAs="content">
    <form [formGroup]="channelForm" class="flex flex-col">
      <div uiFormFieldDirective>
        <label>{{ 'common.title' | translate }}</label>
        <input
          formControlName="title"
          type="text"
          [placeholder]="'common.placeholder.title' | translate"
        />
      </div>
    </form>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <ui-button uiDialogClose variant="default">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="channelForm.value"
      cdkFocusInitial
      [disabled]="!channelForm.valid"
    >
      {{ (data ? 'common.update' : 'common.create') | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
