<safe-layout
  [applications]="applications"
  [toolbar]="toolbar"
  [leftSidenav]="leftSidenav"
  [profileRoute]="'/' + appID + '/profile'"
  (openApplication)="onOpenApplication($event)"
></safe-layout>
<ng-template #toolbar>
  <safe-app-application-toolbar
    [title]="title"
    [settings]="adminNavItems"
  ></safe-app-application-toolbar>
  <!-- Empty indicator -->
  <safe-empty
    class="m-auto py-6 px-0 bg-white"
    *ngIf="empty"
    icon="dashboard"
    [title]="'components.application.dashboard.empty' | translate"
  ></safe-empty>
</ng-template>
<!--Need the nav variable, don't remove let-nav, used in layout-->
<ng-template #leftSidenav let-nav>
  <safe-left-sidenav
    [nav]="nav"
    [appLayout]="true"
    [navGroups]="navGroups"
  ></safe-left-sidenav>
</ng-template>
