<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
  <div class="actions">
    <safe-button
      icon="add"
      category="secondary"
      variant="primary"
      (click)="onAdd()"
    >
      {{ 'models.application.subscription.create' | translate }}
    </safe-button>
  </div>
  <!-- Table container -->
  <div class="overflow-x-hidden shadow-2lg">
    <!-- Table scroll container -->
    <div class="overflow-x-auto">
      <table mat-table [dataSource]="subscriptions">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'common.title' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.title }}</td>
        </ng-container>
        <ng-container matColumnDef="convertTo">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'components.record.convert.select' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.convertTo ? element.convertTo.name : '-' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="channel">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'components.channel.dropdown.select' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.channel ? element.channel.title : '-' }}
          </td>
        </ng-container>
        <ng-container matColumnDef="actions" [stickyEnd]="true">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <safe-button
              [isIcon]="true"
              icon="more_vert"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            >
            </safe-button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
                {{ 'common.edit' | translate }}
              </button>
              <safe-divider class="m-0"></safe-divider>
              <button mat-menu-item color="warn" (click)="onDelete(element)">
                <mat-icon>delete</mat-icon>
                {{ 'common.delete' | translate }}
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
      </table>
    </div>
  </div>
</ng-container>
