:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.buttons-row {
    display: flex;
    justify-content: center;
    margin: 32px 0;
}

.login-button {
    font-size: large;
    font-weight: 300;
    background-color: #398FCC;
    color: white;
}

.login-icon {
    width: 100px;
    margin-right: 16px;
}

.dividor {
    width: 50%;
    height: inherit;
    float: left;
    text-align: center;
    display: flex;    
}

.picture {
    background-color: #398FCC;
    color: rgb(245, 245, 245);
}

.login-wrapper {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: xxx-large;
    color:rgb(95, 95, 95)
}

.form-group-title {
    color:rgb(153, 153, 153)
}

.test {
    position: absolute;
    left: 5px;
    top: 5px;
}

.side-bar-picture {
    height: inherit;
    width: auto;
    background-size: cover;
}

.full {
    display: flex;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}
  
.left {
    left: 0;
}

.right {
    right: 0;
}

@media only screen and (max-width: 600px) {
    .right {
        display: none;
    }
    .left {
        left: 25%;
    }
    .test {
        display: none;
    }
}