<div class="dividor" rowHeight="fit">
<mat-grid-list cols="2">
    <mat-grid-tile>
        <div class="test">
            <img src="/assets/who-logo-vector.png" class="login-icon">
        </div>
        <div class="login-wrapper">
            <div class="form-group">
                <div class="form-group-title">
                    <h1>SAFE</h1>
                    <h2>Simple Application Framework <br> for Emergency Management</h2>
                </div>
            </div>
            <div class="buttons-row">
                <button mat-button type="button" (click)="onLogin()" class="login-button">
                    Login with Microsoft
                </button>
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="picture">
        <img src="/assets/who_image.jpg" class="side-bar-picture">
    </mat-grid-tile>
</mat-grid-list> 
</div>
