<div class="login-panel left">
  <div class="login-logo">
    <img src="/assets/logo.png" />
  </div>
  <div class="login-wrapper">
    <div class="form-group">
      <div class="form-group-title">
        <h1>SAFE</h1>
        <h2>
          Simple Application Framework <br />
          for Emergency Management
        </h2>
      </div>
    </div>
    <div class="buttons-row">
      <safe-button category="tertiary" (click)="onLogin()"> Login </safe-button>
    </div>
  </div>
</div>
<div class="login-panel right"></div>
