<div [formGroup]="form" class="forms-filter">
  <div class="top">
    <mat-form-field appearance="outline" class="mat-form-field-sm p-0">
      <mat-icon matPrefix>search</mat-icon>
      <mat-label>{{ 'common.placeholder.search' | translate }}</mat-label>
      <input
        matInput
        [formControl]="search"
        type="search"
      />
      <mat-spinner *ngIf="loading" diameter="24" matSuffix></mat-spinner>
    </mat-form-field>
    <safe-button
      icon="filter_list"
      category="tertiary"
      variant="primary"
      (click)="show = !show"
    >
      {{
        show
          ? ('common.filter.hide' | translate)
          : ('common.filter.show' | translate)
      }}
    </safe-button>
  </div>
  <div class="advanced" *ngIf="show">
    <mat-form-field appearance="outline" class="mat-form-field-sm p-0">
      <mat-label>{{ 'common.input.dateRange' | translate }}</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input formControlName="startDate" matStartDate />
        <input formControlName="endDate" matEndDate />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <safe-button matDateRangePickerCancel (click)="clearDateFilter()">
            {{ 'common.clear' | translate }}
          </safe-button>
          <safe-button
            category="secondary"
            variant="primary"
            matDateRangePickerApply
          >
            {{ 'common.filter.apply' | translate }}
          </safe-button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mat-form-field-sm p-0">
      <mat-label>{{ 'common.status' | translate }}</mat-label>
      <mat-select formControlName="status">
        <mat-option>-</mat-option>
        <mat-option value="active">
          {{ 'common.status_active' | translate }}
        </mat-option>
        <mat-option value="pending">
          {{ 'common.status_pending' | translate }}
        </mat-option>
        <mat-option value="archived">
          {{ 'common.status_archived' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline" class="mat-form-field-sm p-0">
      <mat-label>{{ 'components.forms.isCore' | translate }}</mat-label>
      <mat-select formControlName="core">
        <mat-option>-</mat-option>
        <mat-option [value]="true">
          {{ 'common.true' | translate }}
        </mat-option>
        <mat-option [value]="false">
          {{ 'common.false' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <safe-button variant="danger" (click)="clear()">{{
      'common.filter.clear' | translate
    }}</safe-button>
  </div>
</div>
