.forms-filter {
    .top, .advanced {
        display: flex;
        flex-direction: row;
        align-items: top;
        gap: 16px;
        flex-wrap: wrap;
    }
    mat-form-field {
        margin-top: -0.25em;
        font-size: 1em;
    }
    #custom-search{
        position: absolute;
        margin-top: -1em;
        margin-left: 2em;
        font-size: 1em;
        height: 1.5em;
    }
    mat-icon{
        position: absolute;
        font-size: 1.5em;
        margin-top: -1.5em;
    }
}
