<form [formGroup]="pageForm">
  <div class="flex flex-col" [ngSwitch]="step">
    <ng-container *ngSwitchCase="1">
      <h2>{{ 'pages.application.addPage.selectType' | translate }}</h2>
      <safe-content-choice
        formControlName="type"
        [contentTypes]="contentTypes"
      ></safe-content-choice>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <div class="flex flex-col w-80 items-center">
        <safe-forms-dropdown
          [forms$]="forms$"
          [label]="'models.form.select' | translate"
          [sourceControl]="pageForm.controls.content"
          [loadingMore]="loadingMore"
          (filter)="onFilterDataSource($event)"
          (scrolled)="onScrollDataSource($event)"
        ></safe-forms-dropdown>
        <safe-divider [text]="'or'"></safe-divider>
        <safe-button
          icon="add"
          category="secondary"
          variant="primary"
          (click)="onAdd()"
          [disabled]="!canCreateForm"
        >
          {{ 'models.form.create' | translate }}
        </safe-button>
      </div>
    </ng-container>
  </div>
</form>
<div class="add-page-stepper" *ngIf="step !== 1">
  <safe-button [disabled]="step <= 1" (click)="onBack()">{{
    'common.back' | translate
  }}</safe-button>
  <safe-button
    category="secondary"
    variant="primary"
    (click)="onNext()"
    [disabled]="!isStepValid(step)"
    >{{ 'common.next' | translate }}</safe-button
  >
</div>
