.csv-input {
  display: flex;
  .mat-form-field {
    flex: 2;
  }
  safe-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding-bottom: 1.34375em;
  }
}

safe-button {
  &:last-child ::ng-deep button {
    margin-top: 10px;
  }
}