<form [formGroup]="settingsForm" *ngIf="settingsForm" class="settings-form">
  <h1>General</h1>
  <div class="app-status">
    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="active">
          Active
        </mat-option>
        <mat-option value="pending">
          Pending
        </mat-option>
        <mat-option value="archived">
          Archived
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="form-group">
    <div class="form-group-row">
      <mat-form-field appearance="outline" style="flex: 2;">
        <mat-label>
          Application Name
        </mat-label>
        <input matInput formControlName="name" type='text' placeholder="Enter a name for the application" />
      </mat-form-field>
  
      <mat-form-field appearance="outline" style="flex: 1;">
        <mat-label>
          Application ID
        </mat-label>
        <input matInput formControlName="id" type='text'/>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>
        Description
      </mat-label>
      <textarea matInput formControlName="description" placeholder="Please enter a description for the application"
        [matTextareaAutosize]="true" [matAutosizeMinRows]="2" [matAutosizeMaxRows]="5"></textarea>
    </mat-form-field>
  </div>
  <button mat-flat-button (click)="onSubmit()" color="primary" [disabled]="settingsForm.invalid || !settingsForm.dirty">Save changes</button>
</form>

<div class="action-list" *ngIf="application && (application.canUpdate || application.canDelete)">
  <h1 class="header">Actions</h1>
  <button mat-stroked-button (click)="onDuplicate()" color="primary" *ngIf="application.canUpdate">
    <mat-icon class="button-icon">file_copy</mat-icon>
    Duplicate Application
  </button>
  <button mat-stroked-button (click)="onDelete()" color="warn" *ngIf="application.canDelete">
    <mat-icon class="button-icon">delete</mat-icon>
    Delete Application
  </button>
</div>