<form [formGroup]="settingsForm">
  <div class="form-group">
    <mat-form-field>
      <mat-label>
        Application Name
      </mat-label>
      <input matInput formControlName="name" type='text' placeholder="Enter a name for the application" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>
        Description
      </mat-label>
      <input matInput formControlName="description" type='text' placeholder="Please enter a description for the application" />
    </mat-form-field>
    <button mat-button (click) = "onSubmit()"> Edit Application </button>
  </div>
</form>
