# Dependencies
node_modules

# Compiled output
/dist
dist
/widgets
tmp
/out-tsc
.angular

# Test
/coverage

# Doc
/documentation
libs/shared/documentation.json
libs/ui/documentation.json

# IDEs and editors
/.idea
.vscode
.settings

# Misc
/.sass-cache
/typings
