<!-- Skeleton when loading -->
<ng-container
  *sharedSkeleton="
    loading;
    repeat: 1;
    height: '32px';
    width: '120px';
    shape: 'rectangle'
  "
>
  <ng-container *ngIf="workflow">
    <div class="flex flex-wrap items-center justify-between mb-6 gap-4">
      <!-- Editable Title -->
      <div class="flex items-center gap-1">
        <shared-editable-text
          [text]="workflow.name"
          [canEdit]="canEditName"
          (onChange)="saveName($event)"
          (formActiveEvent)="formActive = $event"
        >
          <h1 class="!m-0 overflow-hidden text-ellipsis">
            {{ workflow.name }}
          </h1>
        </shared-editable-text>
        <ui-button
          *ngIf="!formActive"
          variant="grey"
          (click)="onOpenSettings()"
          [isIcon]="true"
          icon="settings"
          [uiTooltip]="'common.settings' | translate"
        ></ui-button>
      </div>
      <ui-button *ngIf="canUpdate" icon="add" (click)="onAddStep()">{{
        'models.step.new' | translate
      }}</ui-button>
    </div>
  </ng-container>
</ng-container>
<!-- STEPS -->
<shared-workflow-stepper
  class="-mx-6 block"
  [loading]="loading"
  [steps]="steps"
  [canUpdate]="canUpdate"
  (openStep)="onOpenStep($event)"
  (delete)="onDeleteStep($event)"
  (reorderSteps)="onReorderSteps($event)"
  [activeStep]="activeStep"
>
</shared-workflow-stepper>
<router-outlet (activate)="onActivate($event)"></router-outlet>
