<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container>

  <div>
    <div class="searchbar" *ngIf="!loading">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input id="custom-search" matInput [ngModel]="searchText" (keyup)="applyFilter('', $event)" type="search"
               placeholder="Search...">
      </mat-form-field>
      <safe-button buttonType="mat-stroked-button" text="Filter" icon="filter_list" color="primary"
                   (click)="showFilters = !showFilters" class="filters-toggle">
      </safe-button>
    </div>

    <div class="filters" [style.display]="!showFilters ? 'none' : ''">
      <mat-form-field appearance="outline">
        <mat-label>Date Range</mat-label>
        <mat-date-range-input (click)="rangePicker.open()" [rangePicker]="rangePicker">
          <input #startDate (dateInput)="filtersDate['startDate'] = $event.value" matStartDate readonly>
          <input #endDate (dateInput)="filtersDate['endDate'] = $event.value" matEndDate readonly>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <safe-button buttonType="mat-button" text="Clear range" matDateRangePickerCancel
                         (click)="clearDateFilter()"></safe-button>
            <safe-button buttonType="mat-raised-button" text="Apply" color="primary" matDateRangePickerApply
                         (click)="applyFilter('createdAt', null)">
            </safe-button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select [ngModel]="statusFilter" (selectionChange)="applyFilter('status', $event)">
          <mat-option>-</mat-option>
          <mat-option value="active">
            Active
          </mat-option>
          <mat-option value="pending">
            Pending
          </mat-option>
          <mat-option value="archived">
            Archived
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Is Core</mat-label>
        <mat-select [ngModel]="coreFilter" (selectionChange)="applyFilter('core', $event)">
          <mat-option>-</mat-option>
          <mat-option value="true">
            Yes
          </mat-option>
          <mat-option value="false">
            No
          </mat-option>
        </mat-select>
      </mat-form-field>
      <safe-button buttonType="mat-button" text="Clear Filters" color="warn" (click)="clearAllFilters()"></safe-button>
    </div>
  </div>

  <div>
    <div class="actions">
      <safe-button buttonType="mat-flat-button" text="Create a form" icon="add" color="primary" (click)="onAdd()"
                   *ngIf="canAdd"></safe-button>
    </div>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        <span class="headerTitle" mat-sort-header>
          Name
        </span>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>
        <span class="headerTitle" mat-sort-header>
          Created on
        </span>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>
        <span class="headerTitle" mat-sort-header>
          Status
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip class="success-chip" disabled *ngIf="element.status === 'active'">
            {{ element.status | titlecase }}
          </mat-chip>
          <mat-chip class="accent-chip" disabled color="accent" *ngIf="element.status === 'pending'">
            {{ element.status | titlecase }}
          </mat-chip>
          <mat-chip class="warn-chip" disabled color="warn" *ngIf="element.status === 'archived'">
            {{ element.status | titlecase }}
          </mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="versionsCount">
      <th mat-header-cell *matHeaderCellDef>
        <span class="headerTitle" mat-sort-header>
          History
        </span>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.versionsCount }}</td>
    </ng-container>

    <ng-container matColumnDef="recordsCount">
      <th mat-header-cell *matHeaderCellDef>
        <span class="headerTitle" mat-sort-header>
          Records
        </span>
      </th>
      <td mat-cell *matCellDef="let element">{{ element.recordsCount }}</td>
    </ng-container>

    <ng-container matColumnDef="core">
      <th mat-header-cell *matHeaderCellDef>
        <span class="headerTitle" mat-sort-header>
          Is Core
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list *ngIf="element.core">
          <mat-chip class="primary-chip" disabled>Core</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <ng-container matColumnDef="parentForm">
      <th mat-header-cell *matHeaderCellDef>
        <span class="headerTitle" mat-sort-header>
          Parent form
        </span>
      </th>
      <td mat-cell *matCellDef="let element">
        <safe-button buttonType="mat-button" [text]="element.resource.coreForm.name"
                     *ngIf="!element.core && element.resource?.coreForm?.name"
                     [routerLink]="['/forms/builder', element.resource.coreForm.id]">
        </safe-button>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <safe-button buttonType="mat-icon-button" icon="more_vert" [matMenuTriggerFor]="menu"
                     (click)="$event.stopPropagation()"
                     [disabled]="!(element.canUpdate || element.canDelete || (element.recordsCount > 0))">
        </safe-button>
        <mat-menu #menu="matMenu">
          <safe-button buttonType="mat-menu-item" text="Edit" icon="edit" [routerLink]="['/forms/builder', element.id]"
                       *ngIf="element.canUpdate">
          </safe-button>
          <ng-container *ngIf="element.canSee && element.recordsCount > 0">
            <safe-button buttonType="mat-menu-item" text="View" icon="plagiarism"
                         [routerLink]="['/forms/records', element.id]">
            </safe-button>
          </ng-container>
          <safe-button buttonType="mat-menu-item" text="Delete" icon="delete" (click)="onDelete(element, $event)"
                       *ngIf="element.canDelete"></safe-button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{'clickable': ( row.canCreate && (row.status === 'active') )}"
        [routerLink]="( row.canCreate && (row.status === 'active') ) ? ['/forms/answer', row.id] : []"></tr>
  </table>
</ng-container>
