<app-data-presentation-list
  addNewItemButtonMessage="components.widget.settings.grid.layouts.add.choice.create"
  emptyDataListMessage="components.resource.empty.layouts"
  [loading]="loading"
  [dataSource]="layouts"
  [canUpdate]="resource.canUpdate ?? false"
  [displayedColumns]="displayedColumnsLayouts"
  (itemAction)="handleAction($event)"
>
  <ng-container ngProjectAs="pagination">
    <ui-paginator
      [disabled]="loading"
      [pageIndex]="pageInfo.pageIndex"
      [pageSize]="pageInfo.pageSize"
      [pageSizeOptions]="[10, 25, 50]"
      [totalItems]="pageInfo.length"
      (pageChange)="onPage($event)"
    >
    </ui-paginator>
  </ng-container>
</app-data-presentation-list>
