<div class="self-end" *ngIf="!loading">
  <safe-button variant="primary" category="secondary" (click)="onAddLayout()">
    {{
      'components.widget.settings.grid.layouts.add.choice.create' | translate
    }}</safe-button
  >
</div>
<div>
  <!-- Table container -->
  <div class="overflow-x-hidden shadow-2lg">
    <!-- Table scroll container -->
    <div class="overflow-x-auto">
      <table *ngIf="!loading" cdk-table uiTableStyle uiTableWrapper [dataSource]="layouts">
        <ng-container cdkColumnDef="name">
          <th uiCellHeader *cdkHeaderCellDef scope="col">
            {{ 'common.name' | translate }}
          </th>
          <td uiCell *cdkCellDef="let element" class="font-bold">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="createdAt">
          <th uiCellHeader *cdkHeaderCellDef scope="col">
            {{ 'common.createdOn' | translate }}
          </th>
          <td uiCell *cdkCellDef="let element">
            {{ element.createdAt | safeDate }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="_actions" [stickyEnd]="true">
          <th uiCellHeader *cdkHeaderCellDef scope="col" class="w-16"></th>
          <td uiCell *cdkCellDef="let element">
            <safe-button
              [isIcon]="true"
              icon="more_vert"
              [uiMenuTriggerFor]="resMenu"
              (click)="$event.stopPropagation()"
              [disabled]="!resource.canUpdate"
            >
            </safe-button>
            <ui-menu #resMenu>
              <button uiMenuItem (click)="onEditLayout(element)">
                <mat-icon>edit</mat-icon>
                {{ 'common.edit' | translate }}
              </button>
              <button uiMenuItem (click)="onDeleteLayout(element)">
                <mat-icon>delete</mat-icon>
                {{ 'common.delete' | translate }}
              </button>
            </ui-menu>
          </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumnsLayouts"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumnsLayouts"></tr>
      </table>
      <safe-skeleton-table
        *ngIf="loading"
        [columns]="['common.name', 'common.createdOn']"
        [actions]="true"
      >
      </safe-skeleton-table>
    </div>
    <!-- Pagination -->
    <mat-paginator
      *ngIf="!empty"
      [disabled]="loading"
      [pageIndex]="pageInfo.pageIndex"
      [pageSize]="pageInfo.pageSize"
      [pageSizeOptions]="[10, 25, 50]"
      [length]="pageInfo.length"
      (page)="onPage($event)"
    >
    </mat-paginator>
    <!-- Empty indicator -->
    <safe-empty
      class="m-auto py-6 px-0 bg-white"
      *ngIf="empty"
      [title]="'components.resource.empty.layouts' | translate"
    ></safe-empty>
  </div>
</div>
