table {
  div {
    max-height: 48px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 240px;
  }
}

:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 16px;
}
