<div class="self-end">
  <safe-button
    variant="primary"
    class="actions"
    category="secondary"
    (click)="onAddCalculatedField()"
  >
    {{ 'components.calculatedFields.add' | translate }}</safe-button
  >
</div>
<div>
  <div class="overflow-x-hidden shadow-2lg">
    <div class="overflow-x-auto">
      <table mat-table [dataSource]="fields">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'models.form.field.name' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'components.calculatedFields.expression' | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.expression }}
          </td>
        </ng-container>

        <ng-container matColumnDef="_actions" [stickyEnd]="true">
          <th mat-header-cell *matHeaderCellDef class="w-16"></th>
          <td mat-cell *matCellDef="let element">
            <safe-button
              [isIcon]="true"
              icon="more_vert"
              [matMenuTriggerFor]="resMenu"
              (click)="$event.stopPropagation()"
              [disabled]="!resource.canUpdate"
            >
            </safe-button>
            <mat-menu #resMenu="matMenu">
              <button mat-menu-item (click)="onEditCalculatedField(element)">
                <mat-icon>edit</mat-icon>
                {{ 'common.edit' | translate }}
              </button>
              <button mat-menu-item (click)="onDeleteCalculatedField(element)">
                <mat-icon>delete</mat-icon>
                {{ 'common.delete' | translate }}
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <safe-empty
      class="m-auto py-6 px-0 bg-white"
      *ngIf="fields.length === 0"
      [title]="'components.resource.empty.calculatedFields' | translate"
    ></safe-empty>
  </div>
</div>
