<div class="self-end">
  <ui-button
    variant="primary"
    class="actions"
    category="secondary"
    (click)="onAddCalculatedField()"
  >
    {{ 'components.calculatedFields.add' | translate }}</ui-button
  >
</div>
<div>
  <div class="overflow-x-hidden shadow-2lg">
    <div class="overflow-x-auto">
      <table cdk-table  uiTableWrapper [dataSource]="fields">
        <ng-container cdkColumnDef="name">
          <th uiCellHeader *cdkHeaderCellDef scope="col">
            {{ 'models.form.field.name' | translate }}
          </th>
          <td uiCell *cdkCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <ng-container cdkColumnDef="createdAt">
          <th uiCellHeader *cdkHeaderCellDef scope="col">
            {{ 'components.calculatedFields.expression' | translate }}
          </th>
          <td uiCell *cdkCellDef="let element">
            {{ element.expression }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="_actions" [stickyEnd]="true">
          <th uiCellHeader *cdkHeaderCellDef scope="col" class="w-16"></th>
          <td uiCell *cdkCellDef="let element">
            <ui-button
              [isIcon]="true"
              icon="more_vert"
              [uiMenuTriggerFor]="resMenu"
              (click)="$event.stopPropagation()"
              [disabled]="!resource.canUpdate"
            >
            </ui-button>
            <ui-menu #resMenu>
              <button uiMenuItem (click)="onEditCalculatedField(element)">
                <mat-icon>edit</mat-icon>
                {{ 'common.edit' | translate }}
              </button>
              <button uiMenuItem (click)="onDeleteCalculatedField(element)">
                <mat-icon>delete</mat-icon>
                {{ 'common.delete' | translate }}
              </button>
            </ui-menu>
          </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <safe-empty
      class="m-auto py-6 px-0 bg-white"
      *ngIf="fields.length === 0"
      [title]="'components.resource.empty.calculatedFields' | translate"
    ></safe-empty>
  </div>
</div>
