<div class="toolbar">
  <div class="toolbar-buttons">
    <button safe-button buttonType="mat-icon-button" icon="lock" [color]="lockedByUser ? 'primary' : 'warn'"
            (click)="onUnlock()" *ngIf="locked">
    </button>
    <button safe-button buttonType="mat-button" text="Cancel" color="warn" (click)="onClose()"></button>
    <button safe-button buttonType="mat-flat-button" text="Publish" class="success-button" (click)="onPublish()"
            [disabled]="!canPublish"></button>
  </div>
</div>
<mat-divider></mat-divider>
