.toolbar {
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-end;

  .toolbar-buttons {
    display: flex;
    align-items: center;

    safe-button:first-child {
      margin: 0 8px;
    }
  }
}
