<ng-container *ngIf="!loading && form">
  <shared-form [form]="form" (save)="onComplete($event)"></shared-form>
  <ng-container *ngIf="completed && !form.uniqueRecord && !hideNewRecord">
    <div class="flex justify-center gap-x-4">
      <ui-button category="secondary" (click)="clearForm()">{{
        'models.record.new' | translate
      }}</ui-button>
      <!-- Action buttons -->
      <shared-action-buttons
        class="export-hide"
        [actionButtons]="actionButtons"
      ></shared-action-buttons>
    </div>
  </ng-container>
</ng-container>
