<ng-container *ngIf="!loading && form">
  <shared-form
    [form]="form"
    [record]="record"
    (save)="onComplete($event)"
  ></shared-form>
  <!-- Form actions, only appear if not editing a record -->
  <ng-container *ngIf="completed && !record">
    <div class="flex justify-center gap-x-4">
      <!-- Action buttons -->
      <shared-action-buttons [actionButtons]="actionButtons">
        <!-- New record -->
        <ui-button
          *ngIf="!form.uniqueRecord && !hideNewRecord"
          category="secondary"
          (click)="clearForm()"
          >{{ 'models.record.new' | translate }}</ui-button
        >
      </shared-action-buttons>
    </div>
  </ng-container>
</ng-container>
