<h1 mat-dialog-title>Update user roles</h1>
<div mat-dialog-content>
    <form [formGroup]="userForm">
        <mat-form-field>
            <mat-label>Roles</mat-label>
            <mat-select formControlName="roles" multiple>
                <mat-option *ngFor="let role of roles" [value]="role.id">
                    {{role.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button [mat-dialog-close]="userForm.value" cdkFocusInitial color="primary" [disabled]="!userForm.valid">Update</button>
</div>
