<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && application">
    <div *ngIf="!formActive" class="application-name-container">
        <h1 class="application-name">{{application.name}}</h1>
        <button mat-icon-button color="accent" *ngIf="application.canUpdate">
            <mat-icon (click)="toggleFormActive()">create</mat-icon>
        </button>
        <who-access [access]="application.permissions" (save)="saveAccess($event)" *ngIf="application.canUpdate">
        </who-access>
    </div>
    <ng-container *ngIf="formActive">
        <form [formGroup]="applicationNameForm" (ngSubmit)="saveName()" class="application-name-container">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="applicationName" type="string">
            </mat-form-field>
            <button type="submit" mat-icon-button color="primary" [disabled]="!applicationNameForm.valid">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="toggleFormActive()">
                <mat-icon>close</mat-icon>
            </button>
        </form>
    </ng-container>
    <table mat-table [dataSource]="pages">
        <ng-container matColumnDef="pages">
          <th mat-header-cell *matHeaderCellDef>Pages</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        
        <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef>Type</th>
            <td mat-cell *matCellDef="let element">{{ element.type }}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Created At</th>
          <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()" [disabled]="!element.canDelete">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="deletePage(element.id, $event)" *ngIf="element.canDelete">
                <mat-icon>delete</mat-icon>
                Delete
              </button>
            </mat-menu>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="clickable" mat-row *matRowDef="let row; columns: displayedColumns"
          [routerLink]="['/pages', row.id]"></tr>
    </table>
    <button mat-fab class="action-button" (click)="addPage()" *ngIf="canAdd">
        <mat-icon matTooltip="Add page">add</mat-icon>
    </button>
</ng-container>