<h1 mat-dialog-title>{{ 'components.role.impersonate.title' | translate }}</h1>
<div mat-dialog-content>
  <mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
  <form [formGroup]="roleForm" class="form-group" *ngIf="!loading">
    <mat-form-field>
      <mat-label>{{ 'common.role.one' | translate }}</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{ role.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onClose()">
    {{ 'common.close' | translate }}
  </button>
  <button
    mat-flat-button
    [mat-dialog-close]="roleForm.value"
    cdkFocusInitial
    color="primary"
    [disabled]="!roleForm.valid"
  >
    {{ 'common.preview' | translate }}
  </button>
</div>
