<h1 mat-dialog-title>New form</h1>
<div mat-dialog-content>
    <form [formGroup]="addForm">
        <div class="form-group">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text" placeholder="Enter a name" />
            </mat-form-field>
            <mat-radio-group formControlName="binding" class="form-radio-group">
                <mat-radio-button value="newForm">Create a blank form</mat-radio-button>
                <mat-radio-button value="newResource">Create a new resource</mat-radio-button>
                <mat-radio-button value="fromResource">Inherit an existing resource</mat-radio-button>
            </mat-radio-group>
            <ng-container *ngIf="addForm.controls.binding.value === 'fromResource'">
                <mat-form-field>
                    <mat-label>From resource</mat-label>
                    <mat-select formControlName="resource" (selectionChange)="getResource($event)">
                        <mat-option *ngFor="let resource of resources" [value]="resource.id">
                            {{resource.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-container *ngIf="addForm.controls.resource.value != null">
                    <div class="inheritance-row">
                        <mat-slide-toggle formControlName="inheritsTemplate" class="form-slide-toggle">Start from existing template</mat-slide-toggle>
                        <mat-icon class="help-icon" matTooltip="If no template is selected, core structure will be loaded.">help_outline</mat-icon>
                    </div>
                    <ng-container *ngIf="addForm.controls.inheritsTemplate.value">
                        <mat-form-field>
                            <mat-label>From template</mat-label>
                            <mat-select formControlName="template" placeholder="Pick an existing template">
                                <mat-option *ngFor="let template of templates" [value]="template.id">
                                    {{template.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">Close</button>
    <button mat-button [mat-dialog-close]="addForm.value"  cdkFocusInitial color="primary" [disabled]="!addForm.valid">Create</button>
</div>