//.va-face {
//  position: absolute;;
//  top: 50%;
//  left: calc(50% - 100px);
//  width: 200px;
//}
.va-face {
  width: 200px;
}
.conversation .mat-figure {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block !important ;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 0;
  margin: 0;
}

//#btn-start {
//  position: absolute;
//  font-size: large;
//  height: 50px;
//  width: 100px;
//  top: 90%;
//  left: calc(50% - 50px);
//}

#btn-start {
  font-size: large;
  height: 50px;
  width: 100px;
}

#spinner-loading-form {
  position: absolute;
  top: 90%;
  left: calc(50% - 50px);
}
