#va-face {
  height: 250px;
}
.conversation .mat-figure {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: block !important ;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  padding: 0;
  margin: 0;
}
