<!-- Table container -->
<div class="overflow-x-hidden shadow-2lg">
  <!-- Table scroll container -->
  <div class="overflow-x-auto">
    <table *ngIf="!loading" cdk-table uiTableStyle uiTableWrapper [dataSource]="forms">
      <ng-container cdkColumnDef="name">
        <th uiCellHeader *cdkHeaderCellDef scope="col">
          {{ 'common.name' | translate }}
        </th>
        <td uiCell *cdkCellDef="let element" class="font-bold">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="createdAt">
        <th uiCellHeader *cdkHeaderCellDef scope="col">
          {{ 'common.createdOn' | translate }}
        </th>
        <td uiCell *cdkCellDef="let element">
          {{ element.createdAt | safeDate }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="status">
        <th uiCellHeader *cdkHeaderCellDef scope="col">
          {{ 'common.status' | translate }}
        </th>
        <td uiCell *cdkCellDef="let element">
          <mat-chip-list>
            <mat-chip
              class="success-chip !rounded-lg"
              disabled
              *ngIf="element.status === 'active'"
            >
              {{ 'common.status_active' | translate | titlecase }}
            </mat-chip>
            <mat-chip
              class="accent-chip !rounded-lg"
              disabled
              color="accent"
              *ngIf="element.status === 'pending'"
            >
              {{ 'common.status_pending' | translate | titlecase }}
            </mat-chip>
            <mat-chip
              class="warn-chip !rounded-lg"
              disabled
              color="warn"
              *ngIf="element.status === 'archived'"
            >
              {{ 'common.status_archived' | translate | titlecase }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="recordsCount">
        <th uiCellHeader *cdkHeaderCellDef scope="col">
          {{ 'common.record.few' | translate }}
        </th>
        <td uiCell *cdkCellDef="let element">
          {{ element.recordsCount }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="core">
        <th uiCellHeader *cdkHeaderCellDef scope="col">
          {{ 'components.forms.isCore' | translate }}
        </th>
        <td uiCell *cdkCellDef="let element">
          <mat-chip-list *ngIf="element.core">
            <mat-chip class="primary-chip !rounded-lg" disabled>{{
              'models.form.core' | translate
            }}</mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="_actions" [stickyEnd]="true">
        <th uiCellHeader *cdkHeaderCellDef scope="col" class="w-16"></th>
        <td uiCell *cdkCellDef="let element">
          <ui-button
            [isIcon]="true"
            icon="more_vert"
            [uiMenuTriggerFor]="resMenu"
            (click)="$event.stopPropagation()"
            [disabled]="!(element.canUpdate || element.canDelete)"
          >
          </ui-button>
          <ui-menu #resMenu>
            <button
              uiMenuItem
              *ngIf="element.canUpdate"
              [routerLink]="[element.id + '/builder']"
            >
              <mat-icon>edit</mat-icon>
              {{ 'common.edit' | translate }}
            </button>
            <button
              uiMenuItem
              (click)="deleteForm(element, $event)"
              *ngIf="element.canDelete"
            >
              <mat-icon>delete</mat-icon>
              {{ 'common.delete' | translate }}
            </button>
          </ui-menu>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumnsForms"></tr>
      <tr
        cdk-row
        *cdkRowDef="let row; columns: displayedColumnsForms"
        [ngClass]="{
          'cursor-pointer': row.canCreateRecords && row.status === 'active'
        }"
        [routerLink]="
          row.canCreateRecords && row.status === 'active'
            ? [row.id + '/answer']
            : []
        "
      ></tr>
    </table>
    <safe-skeleton-table
      *ngIf="loading"
      [columns]="[
        'common.name',
        'common.createdOn',
        'common.status',
        'common.record.few',
        'components.forms.isCore'
      ]"
      [actions]="true"
    >
    </safe-skeleton-table>
  </div>
</div>
