<form [formGroup]="stepForm">
    <div class="form-group" [ngSwitch]="stage">
        <ng-container *ngSwitchCase="1">
            <h2>Enter a name for the step</h2>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" type="text" placeholder="Enter a name for the step"/>
            </mat-form-field>
        </ng-container>
        <ng-container *ngSwitchCase="2">
            <h2>Select which type of step you want to create</h2>
            <mat-radio-group class="content-choice" formControlName="type">
                <mat-radio-button *ngFor="let type of contentTypes" [value]="type">{{ type }}</mat-radio-button>
            </mat-radio-group>
        </ng-container>
        <ng-container *ngSwitchCase="3">
            <h2>Available forms</h2>
            <mat-form-field appearance="outline">
                <mat-label>Select a form</mat-label>
                <mat-select formControlName="content">
                    <mat-option *ngFor="let form of forms" [value]="form.id">{{ form.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
    </div>
</form>
<div class="add-step-stepper">
    <button mat-button [disabled]="stage <= 1" (click)="onBack()">Back</button>
    <button mat-flat-button color="primary" (click)="onNext()" [disabled]="!isStageValid(stage)">Next</button>
</div>
