.add-step-stepper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 64px;
    
    button {
        margin: 0 4px;
    }
}

.content-choice {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 32px;

    .content-type {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            height: 196px;
            width: 196px;
        }
    }
}

.form-group {
    &:not(.content-choice-step) {
        max-width: 400px;
    }
}