<form [formGroup]="stepForm">
    <div class="form-group" [ngSwitch]="stage"  [ngClass]="{'content-choice-step': stage === 1 }">
        <ng-container *ngSwitchCase="1">
            <h2>Select which type of step you want to create</h2>
            <mat-radio-group formControlName="type">
                <safe-content-choice [contentTypes]="contentTypes" [form]="stepForm" [assetsPath]="assetsPath"></safe-content-choice>
            </mat-radio-group>
        </ng-container>
        <ng-container *ngSwitchCase="2">
            <h2>Available forms</h2>
            <mat-form-field appearance="outline">
                <mat-label>Select a form</mat-label>
                <mat-select formControlName="content">
                    <mat-option *ngFor="let form of forms" [value]="form.id">{{ form.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <safe-button icon="add" category="secondary" variant="primary" (click)="onAdd()" [disabled]=!canCreateForm>
                Create a form
            </safe-button>
        </ng-container>
    </div>
</form>
<div class="add-step-stepper">
    <safe-button [disabled]="stage <= 1" (click)="onBack()">Back</safe-button>
    <safe-button category="secondary" variant="primary" (click)="onNext()" [disabled]="!isStageValid(stage)">Next</safe-button>
</div>
