.add-step-stepper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;

  button {
    margin: 0 4px;
  }
}

.form-group {
  &:not(.content-choice-step) {
    align-items: center;
  }
}

safe-content-choice {
  margin-top: 32px;
}
