<ui-spinner *ngIf="loading"></ui-spinner>
<ng-container *ngIf="!loading && referenceData">
  <!-- Header -->
  <div class="flex justify-start items-center mb-5">
    <h1 class="overflow-hidden whitespace-nowrap text-ellipsis mb-0">
      {{ referenceData.name }}
    </h1>
    <shared-access
      [access]="referenceData.permissions"
      [objectTypeName]="'common.referenceData.one' | translate"
      (save)="saveAccess($event)"
      *ngIf="referenceData?.canUpdate"
    ></shared-access>
  </div>
  <!-- Form -->
  <form [formGroup]="referenceForm" class="flex flex-col mb-8">
    <div class="flex gap-x-2">
      <!-- Name -->
      <div uiFormFieldDirective class="flex-auto">
        <label>{{ 'common.name' | translate }}</label>
        <input
          formControlName="name"
          type="text"
          [placeholder]="'common.placeholder.name' | translate"
        />
      </div>
      <!-- Type selection -->
      <div uiFormFieldDirective class="w-44">
        <label>{{ 'common.type.one' | translate }}</label>
        <ui-select-menu formControlName="type">
          <ui-select-option
            *ngFor="let referenceTypeChoice of referenceTypeChoices"
            [value]="referenceTypeChoice"
          >
            {{ referenceTypeChoice }}
          </ui-select-option>
        </ui-select-menu>
      </div>
    </div>
    <!-- Specific to GraphQL and Rest type -->
    <div *ngIf="['rest', 'graphql'].includes(type)" class="flex flex-col">
      <div class="flex gap-x-2" [class.flex-col]="type === 'graphql'">
        <!-- API Configuration -->
        <div uiFormFieldDirective class="flex-auto">
          <label>{{ 'common.apiConfiguration.one' | translate }}</label>
          <ui-graphql-select
            valueField="id"
            textField="name"
            [query]="apiConfigurationsQuery"
            formControlName="apiConfiguration"
            [selectedElements]="[selectedApiConfiguration]"
          >
          </ui-graphql-select>
        </div>
        <!-- GraphQL Query -->
        <div *ngIf="type === 'graphql' && queryControl; else restQueryTmpl">
          <label class="block text-sm font-medium leading-6 text-gray-900"
            >{{ 'pages.referenceData.queryName' | translate }} *</label
          >
          <ngx-monaco-editor
            (onInit)="initEditor($event)"
            [options]="editorOptions"
            [formControl]="queryControl"
            class="mb-2"
          ></ngx-monaco-editor>
        </div>
        <!-- QueryName -->
        <ng-template #restQueryTmpl>
          <div uiFormFieldDirective class="flex-1">
            <label>{{ 'pages.referenceData.queryName' | translate }}</label>
            <input
              formControlName="query"
              type="text"
              [placeholder]="'common.placeholder.name' | translate"
            />
          </div>
        </ng-template>
      </div>
      <!-- Boolean for use pagination -->
      <ui-toggle
        formControlName="usePagination"
        *ngIf="type !== 'static'"
        class="mb-4"
      >
        <ng-container ngProjectAs="label">
          {{ 'pages.referenceData.pagination.usePagination.text' | translate }}
          <ui-icon
            class="ml-1 cursor-help self-center"
            variant="grey"
            [size]="18"
            icon="info_outline"
            [uiTooltip]="
              'pages.referenceData.pagination.usePagination.hint' | translate
            "
          ></ui-icon
        ></ng-container>
      </ui-toggle>
      <!-- Further pagination configuration -->
      <div
        class="flex flex-col gap-2"
        *ngIf="referenceForm.get('usePagination')?.value === true"
        formGroupName="pageInfo"
      >
        <div class="flex flex-row gap-2">
          <!-- Dropdown with the list of pagination strategies -->
          <div uiFormFieldDirective class="grow">
            <label>
              {{ 'pages.referenceData.pagination.strategy' | translate }}
            </label>
            <ui-select-menu formControlName="strategy">
              <ui-select-option
                *ngFor="let strategy of paginationStrategies"
                [value]="strategy"
              >
                {{ strategy }}
              </ui-select-option>
            </ui-select-menu>
          </div>

          <!-- If the pagination strategy is "cursor", show the path to the cursor question -->
          <div
            uiFormFieldDirective
            class="grow"
            *ngIf="referenceForm.get('pageInfo.strategy')?.value === 'cursor'"
          >
            <label>{{
              'pages.referenceData.pagination.cursorPath' | translate
            }}</label>
            <input
              formControlName="cursorField"
              type="text"
              [placeholder]="'pages.referenceData.path.placeholder' | translate"
            />
            <ui-icon
              icon="info_outline"
              class="cursor-pointer"
              variant="grey"
              uiSuffix
              [uiTooltip]="'pages.referenceData.tooltip.path' | translate"
            ></ui-icon>
          </div>

          <!-- If the pagination strategy is "cursor", show the cursor variable mapping dropdown -->
          <div
            uiFormFieldDirective
            class="grow"
            *ngIf="referenceForm.get('pageInfo.strategy')?.value === 'cursor'"
          >
            <label>
              {{ 'pages.referenceData.pagination.cursorVariable' | translate }}
            </label>
            <ui-select-menu formControlName="cursorVar">
              <ui-select-option
                *ngFor="let variable of queryVariables"
                [value]="variable"
              >
                {{ variable }}
              </ui-select-option>
            </ui-select-menu>
          </div>

          <!-- If the pagination strategy is "offset", show the offset variable mapping dropdown -->
          <div
            uiFormFieldDirective
            class="grow"
            *ngIf="referenceForm.get('pageInfo.strategy')?.value === 'offset'"
          >
            <label>
              {{ 'pages.referenceData.pagination.offsetVariable' | translate }}
            </label>
            <ui-select-menu formControlName="offsetVar">
              <ui-select-option
                *ngFor="let variable of queryVariables"
                [value]="variable"
              >
                {{ variable }}
              </ui-select-option>
            </ui-select-menu>
          </div>

          <!-- If the pagination strategy is "page", show the page variable mapping dropdown -->
          <div
            uiFormFieldDirective
            class="grow"
            *ngIf="referenceForm.get('pageInfo.strategy')?.value === 'page'"
          >
            <label>
              {{ 'pages.referenceData.pagination.pageVariable' | translate }}
            </label>
            <ui-select-menu formControlName="pageVar">
              <ui-select-option
                *ngFor="let variable of queryVariables"
                [value]="variable"
              >
                {{ variable }}
              </ui-select-option>
            </ui-select-menu>
          </div>
        </div>
        <div class="flex flex-row gap-2">
          <!-- Page size variable mapping dropdown -->
          <div uiFormFieldDirective class="grow">
            <label>
              {{
                'pages.referenceData.pagination.pageSizeVariable' | translate
              }}
            </label>
            <ui-select-menu formControlName="pageSizeVar">
              <ui-select-option
                *ngFor="let variable of queryVariables"
                [value]="variable"
              >
                {{ variable }}
              </ui-select-option>
            </ui-select-menu>
          </div>

          <!-- Input for the total count path -->
          <div uiFormFieldDirective class="grow">
            <label>{{
              'pages.referenceData.pagination.totalCountPath' | translate
            }}</label>
            <input
              formControlName="totalCountField"
              type="text"
              [placeholder]="'pages.referenceData.path.placeholder' | translate"
            />
            <ui-icon
              icon="info_outline"
              class="cursor-pointer"
              variant="grey"
              uiSuffix
              [uiTooltip]="'pages.referenceData.tooltip.path' | translate"
            ></ui-icon>
          </div>
        </div>
      </div>
      <div class="flex gap-x-2">
        <!-- Path -->
        <div
          class="flex-auto"
          uiFormFieldDirective
          *ngIf="['rest', 'graphql'].includes(type)"
        >
          <label>{{ 'pages.referenceData.path.title' | translate }}</label>
          <input
            formControlName="path"
            type="text"
            [placeholder]="'pages.referenceData.path.placeholder' | translate"
          />
          <ui-icon
            icon="info_outline"
            class="cursor-pointer"
            variant="grey"
            uiSuffix
            [uiTooltip]="'pages.referenceData.tooltip.path' | translate"
          ></ui-icon>
        </div>
        <!-- Value field to be displayed -->
        <ng-container *ngTemplateOutlet="valueFieldTmpl"></ng-container>
      </div>

      <ui-alert class="mb-4">{{
        'pages.referenceData.fields.help' | translate
      }}</ui-alert>
      <!-- Fields -->
      <kendo-grid *ngIf="!loading" [data]="valueFields" class="rounded-md">
        <kendo-grid-column
          field="name"
          title="{{ 'pages.referenceData.fields.title' | translate }}"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <p *ngIf="currEditingField !== dataItem">
              {{ dataItem.name }}
            </p>
            <kendo-textbox
              *ngIf="currEditingField === dataItem"
              [placeholder]="'models.form.field.name' | translate"
              [formControl]="inlineEditionForm.controls.name"
            ></kendo-textbox>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-column
          field="type"
          title="{{ 'pages.referenceData.type' | translate }}"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <p *ngIf="currEditingField !== dataItem">
              {{ dataItem.type }}
            </p>
            <kendo-dropdownlist
              *ngIf="currEditingField === dataItem"
              [data]="validJsonTypes"
              [formControl]="inlineEditionForm.controls.type"
            ></kendo-dropdownlist>
          </ng-template>
        </kendo-grid-column>
        <!-- remove button -->
        <kendo-grid-column
          [columnMenu]="false"
          [width]="86"
          [resizable]="false"
        >
          <ng-template kendoGridCellTemplate let-dataItem>
            <div [ngClass]="{ hidden: currEditingField === dataItem }">
              <button
                kendoButton
                class="text-center"
                icon="edit"
                [look]="'flat'"
                (click)="toggleInlineEditor(dataItem)"
                [uiTooltip]="'common.edit' | translate"
              ></button>
              <button
                kendoButton
                class="text-center"
                icon="delete"
                [look]="'flat'"
                (click)="onRemoveField(dataItem)"
                [uiTooltip]="'common.remove' | translate"
              ></button>
            </div>
            <div [ngClass]="{ hidden: currEditingField !== dataItem }">
              <button
                kendoButton
                class="text-center"
                icon="save"
                [look]="'flat'"
                (click)="toggleInlineEditor(null)"
                [uiTooltip]="'common.save' | translate"
              ></button>
              <button
                kendoButton
                class="text-center"
                icon="cancel"
                [look]="'flat'"
                (click)="currEditingField = null"
                [uiTooltip]="'common.cancel' | translate"
              ></button>
            </div>
          </ng-template>
        </kendo-grid-column>
        <ng-template kendoGridNoRecordsTemplate>
          {{ 'pages.referenceData.fields.noFields' | translate }}
          <ui-spinner class="my-2" *ngIf="loadingFields"></ui-spinner>
        </ng-template>
      </kendo-grid>
      <!-- Button to add new field -->
      <button
        kendoButton
        class="text-center mt-2"
        icon="add"
        (click)="addField()"
      >
        {{ 'components.referenceData.fields.add' | translate }}
      </button>
    </div>
    <!-- CSV Input for static type -->
    <div *ngIf="type === 'static'" class="flex flex-col gap-2">
      <div uiFormFieldDirective class="flex-auto">
        <label>{{ 'pages.referenceData.csv' | translate }}</label>
        <ui-textarea
          #csvData
          [placeholder]="'pages.referenceData.placeholder.csv' | translate"
          [value]="csvValue"
        >
        </ui-textarea>
      </div>
      <div class="flex gap-2 items-center">
        <div uiFormFieldDirective class="flex-1">
          <label>{{ 'common.separator' | translate }}</label>
          <ui-select-menu [formControl]="separator">
            <ui-select-option value=",">{{
              'common.comma' | translate
            }}</ui-select-option>
            <ui-select-option value=";">{{
              'common.semicolon' | translate
            }}</ui-select-option>
          </ui-select-menu>
        </div>
        <ui-button
          category="secondary"
          variant="primary"
          (click)="onValidateCSV()"
        >
          {{ 'pages.referenceData.validateCsv' | translate }}
        </ui-button>
      </div>
      <!-- Value field to be displayed -->
      <ng-container *ngTemplateOutlet="valueFieldTmpl"></ng-container>
    </div>

    <ui-spinner *ngIf="csvLoading"></ui-spinner>

    <!-- Kendo grid to preview data on static type -->
    <div *ngIf="!csvLoading && csvValue && type === 'static'">
      <kendo-grid [data]="newData">
        <kendo-grid-column
          *ngFor="let field of valueFields"
          [field]="field.name"
          [title]="field.name + ' (' + field.type + ')'"
        ></kendo-grid-column>
      </kendo-grid>
    </div>

    <!-- Value field selection template -->
    <ng-template #valueFieldTmpl>
      <div
        uiFormFieldDirective
        class="flex-1"
        *ngIf="!csvLoading && type && valueFields.length > 0"
      >
        <label>{{ 'pages.referenceData.valueField' | translate }}</label>
        <ui-select-menu formControlName="valueField">
          <ui-select-option
            *ngFor="let value of valueFields"
            [value]="value.name"
            >{{ value.name }}</ui-select-option
          >
        </ui-select-menu>
      </div>
    </ng-template>
  </form>
  <!-- Floating div for actions buttons -->
  <ui-fixed-wrapper>
    <div *ngIf="canFetchFields" class="flex gap-1 mr-auto items-center">
      <!-- Fetch fields -->
      <ui-button
        [disabled]="loadingFields"
        category="secondary"
        variant="primary"
        (click)="getFields()"
      >
        {{ 'pages.referenceData.fields.fetch' | translate }}
      </ui-button>
      <!-- Show payload -->
      <ui-button
        *ngIf="payload && !loadingFields"
        category="secondary"
        variant="primary"
        (click)="onOpenPayload()"
      >
        {{ 'pages.referenceData.payload.show' | translate }}
      </ui-button>
    </div>
    <!-- Submit button -->
    <ui-button
      category="secondary"
      variant="primary"
      (click)="onSave()"
      [disabled]="referenceForm.invalid || !referenceForm.dirty"
    >
      {{ 'common.save' | translate }}
    </ui-button>
  </ui-fixed-wrapper>
</ng-container>
