* {
    box-sizing: border-box;
    --size: min(calc(2rem + 3vw + 3vh), 17vw);
}

body {
    font-size: 14px;
    margin: 0;
    overflow: hidden;
}


/* IMAGES */

#top-left-corner {
    position: absolute;
    height: var(--size);
    left: 25%;
    top: calc(0.6 * var(--size));
    animation: 5s ease-in-out 0s infinite alternate clouds;
}

#bottom-left-corner {
    position: absolute;
    height: calc(6.6 * var(--size));
    left: 0;
    bottom: 0;
    margin-bottom: 3rem;
}

#top-right-corner {
    position: absolute;
    height: calc(1.5 * var(--size));
    right: 0;
    top: 20%;
    animation: 5s ease-in-out -3s infinite alternate clouds;
}

#bottom-right-corner {
    position: absolute;
    height: var(--size);
    right: 20%;
    bottom: var(--size);
    animation: 5s ease-in-out -6s infinite alternate clouds;
}


/* TEXTS */

.text {
    /* block */
    position: absolute;
    top: 10%;
    right: 10%;
    width: calc(10rem + 30vw + 10vh);
    max-height: 90%;
    overflow: scroll;
    /* text */
    color: rgba(0, 0, 0, 1);
    font-family: Nunito;
    font-weight: 700;
    font-size: calc(0.7rem + 0.5vw);
    line-height: 1.5;
}

.text .error-code {
    background-image: linear-gradient(rgba(83, 54, 145, 1), rgba(50, 28, 95, 1));
    background-clip: text;
    color: transparent;
    font-family: Noto Sans;
    font-weight: 700;
    font-size: 15.6em;
    line-height: 0.8;
    margin: 0;
    margin-left: -10px;
}

.text .title {
    font-size: 1.5em;
}

.text a {
    color: #906AE0;
    text-decoration: none;
}


/* FOR MOBILE SCREENS */

@media screen and ((max-width: 850px) or (max-height: 500px)) {
    #bottom-right-corner {
        display: none;
    }
    .text {
        width: 80%;
        text-align: right;
    }
    .text .error-code {
        font-size: 10em;
    }
    .text .title {
        font-size: 1.2em;
    }
}


/* ANIMATIONS */

#dog-tail {
    transform-box: fill-box;
    transform-origin: bottom right;
    animation: 0.7s ease-in-out infinite alternate dogtail;
}
@keyframes dogtail {
    from {
        rotate: -2deg;
    }
    to {
        rotate: 3deg;
    }
}

#head {
    transform-box: fill-box;
    transform-origin: bottom center;
    animation: 5s ease-in-out infinite alternate balance;
}
@keyframes balance {
    from {
        rotate: -1deg;
    }
    to {
        rotate: 1deg;
    }
}

@keyframes clouds {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(var(--size) / 4));
    }
}