<div [formGroup]="form" class="flex flex-col gap-x-4">
  <!-- Default filter -->
  <div class="flex flex-wrap gap-2 flex-col sm:flex-row">
    <!-- Search text filter -->
    <div uiFormFieldDirective>
      <ui-icon icon="search" uiPrefix></ui-icon>
      <input
        placeholder="{{ 'common.placeholder.search' | translate }}"
        [formControl]="search"
        type="text"
      />
      <ui-spinner [size]="'small'" *ngIf="loading" uiSuffix></ui-spinner>
    </div>
    <!-- Toggle advanced filters -->
    <ui-button
      class="max-sm:!w-auto"
      icon="filter_list"
      category="tertiary"
      variant="primary"
      (click)="show = !show"
    >
      {{
        show
          ? ('common.filter.hide' | translate)
          : ('common.filter.show' | translate)
      }}
    </ui-button>
  </div>
  <!-- Advanced filters -->
  <div
    *ngIf="show"
    class="flex flex-wrap gap-2 sm:items-end flex-col sm:flex-row"
  >
    <!-- Date range filter -->
    <div uiFormFieldDirective [defaultMargin]="false">
      <label>{{ 'common.input.dateRange' | translate }}</label>
      <div [formGroup]="form" [uiDateWrapper]="calendar">
        <input
          [uiDatePicker]
          formControlName="startDate"
          [label]="'kendo.datepicker.startLabel' | translate"
        />
        <input
          [uiDatePicker]
          formControlName="endDate"
          [label]="'kendo.datepicker.endLabel' | translate"
        />
        <ui-date-range #calendar> </ui-date-range>
      </div>
    </div>
    <!-- Clear filters -->
    <ui-button class="max-sm:!w-auto" variant="danger" (click)="clear()">
      {{ 'common.filter.clear' | translate }}
    </ui-button>
  </div>
</div>
