<!-- Loading indicator -->
<ui-spinner
  class="flex justify-center items-center h-screen"
  *ngIf="loading"
></ui-spinner>
<!-- Application wrapper -->
<shared-layout
  *ngIf="!loading"
  [applications]="applications"
  [header]="header"
  [leftSidenav]="pages"
  [sideMenu]="sideMenu"
  [menuOpened]="!hideMenu"
  [profileRoute]="appID ? '/' + appID + '/profile' : '/profile'"
  (openApplication)="onOpenApplication($event)"
></shared-layout>
<!--Need the nav variable, don't remove let-nav, used in layout-->
<ng-template #pages let-nav>
  <shared-navbar
    [nav]="nav"
    [appLayout]="true"
    [navGroups]="navGroups"
    [vertical]="!(!sideMenu && largeDevice)"
  ></shared-navbar>
</ng-template>

<!-- Application header -->
<ng-template #header>
  <!-- Title -->
  <h2 class="!m-0 overflow-hidden text-ellipsis whitespace-nowrap">
    {{ title }}
  </h2>
  <!-- Settings -->
  <ui-button
    *ngIf="adminNavItems.length > 0"
    [isIcon]="true"
    icon="tune"
    variant="light"
    [uiMenuTriggerFor]="settingsMenu"
    [uiTooltip]="'common.settings' | translate"
  ></ui-button>
  <shared-dashboard-filter-icon></shared-dashboard-filter-icon>
</ng-template>

<!-- Admin pages -->
<ui-menu #settingsMenu>
  <a
    uiMenuItem
    *ngFor="let setting of adminNavItems"
    [routerLink]="setting.path"
    routerLinkActive="text-primary-600 bg-gray-50"
    class="text-sm font-semibold leading-6"
  >
    <ui-icon variant="grey" [icon]="setting.icon"> </ui-icon>
    {{ setting.name }}
    <ui-chip
      *ngIf="setting.legacy"
      class="pointer-events-none flex items-center ml-auto"
      >{{ 'common.legacy' | translate }}</ui-chip
    >
  </a>
</ui-menu>
