<ui-spinner *ngIf="loading"></ui-spinner>
<ng-container *ngIf="!loading && application && selectedPage">
  <ng-container
    *ngIf="selectedPage.type === contentType.workflow && selectedPage.content"
  >
    <app-workflow [id]="selectedPage.content"></app-workflow>
  </ng-container>
  <ng-container
    *ngIf="selectedPage.type === contentType.dashboard && selectedPage.content"
  >
    <app-dashboard [id]="selectedPage.content"></app-dashboard>
  </ng-container>
  <ng-container
    *ngIf="selectedPage.type === contentType.form && selectedPage.content"
  >
    <app-form [id]="selectedPage.content"></app-form>
  </ng-container>
</ng-container>
