<div class="flex gap-8 justify-between mb-8 flex-col sm:flex-row">
  <!-- Filters -->
  <div class="flex flex-col gap-4">
    <!-- Default filter -->
    <div class="flex flex-wrap gap-2 sm:items-center flex-col sm:flex-row">
      <!-- Search text filter -->
      <mat-form-field appearance="outline" class="mat-form-field-sm p-0">
        <mat-icon matPrefix>search</mat-icon>
        <mat-label>{{ 'common.placeholder.search' | translate }}</mat-label>
        <input
          matInput
          [ngModel]="searchText"
          (keyup)="applyFilter('', $event)"
          type="search"
        />
      </mat-form-field>
    </div>
  </div>
  <!-- Actions -->
  <div class="flex items-center">
    <safe-button
      icon="add"
      category="secondary"
      variant="primary"
      (click)="onAdd()"
      *ngIf="'create' | able : 'ReferenceData'"
    >
      {{ 'models.referenceData.add' | translate }}
    </safe-button>
  </div>
</div>

<!-- Table container -->
<div class="overflow-x-hidden shadow-2lg">
  <!-- Table scroll container -->
  <div class="overflow-x-auto">
    <table
      *ngIf="!loading"
      cdk-table
      uiTableWrapper
      [dataSource]="dataSource"
      (sortChange)="onSort($event)"
    >
      <ng-container cdkColumnDef="name">
        <th uiTableHeaderSort="name" cdk-header-cell *cdkHeaderCellDef scope="col">
          <span class="headerTitle">
            {{ 'common.name' | translate }}
          </span>
        </th>
        <td cdk-cell *cdkCellDef="let element" class="font-bold">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="type">
        <th uiTableHeaderSort="type" cdk-header-cell *cdkHeaderCellDef scope="col">
          <span class="headerTitle">
            {{ 'pages.referenceData.type' | translate }}
          </span>
        </th>
        <td cdk-cell *cdkCellDef="let element">{{ element.type }}</td>
      </ng-container>

      <ng-container cdkColumnDef="apiConfiguration">
        <th uiTableHeaderSort="apiConfiguration" cdk-header-cell *cdkHeaderCellDef scope="col">
          <span class="headerTitle">
            {{ 'common.apiConfiguration.one' | translate }}
          </span>
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.apiConfiguration ? element.apiConfiguration.name : '' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="modifiedAt">
        <th uiTableHeaderSort="modifiedAt" cdk-header-cell *cdkHeaderCellDef scope="col">
          <span class="headerTitle">
            {{ 'common.modifiedOn' | translate }}
          </span>
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.modifiedAt | safeDate : 'medium' }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="actions" [stickyEnd]="true">
        <th cdk-header-cell *cdkHeaderCellDef scope="col" class="w-16"></th>
        <td cdk-cell *cdkCellDef="let element">
          <safe-button
            [isIcon]="true"
            icon="more_vert"
            [uiMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
            [disabled]="!(element.canUpdate || element.canDelete)"
          >
          </safe-button>
          <ui-menu #menu>
            <button
              uiMenuItem
              (click)="onDelete(element, $event)"
              *ngIf="element.canDelete"
            >
              <mat-icon>delete</mat-icon>
              {{ 'common.delete' | translate }}
            </button>
          </ui-menu>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr
        cdk-row
        *cdkRowDef="let row; columns: displayedColumns"
        class="cursor-pointer"
        [routerLink]="['/referencedata', row.id]"
      ></tr>
    </table>
    <safe-skeleton-table
      *ngIf="loading"
      [columns]="[
        'common.name',
        'pages.referenceData.type',
        'common.apiConfiguration.one',
        'common.modifiedOn'
      ]"
      [actions]="true"
    >
    </safe-skeleton-table>
  </div>
  <mat-paginator
    [disabled]="loading"
    [pageSize]="pageInfo.pageSize"
    [pageSizeOptions]="[10, 25, 50]"
    [length]="pageInfo.length"
    [ariaLabel]="'components.referenceData.paginator.ariaLabel' | translate"
    (page)="onPage($event)"
  >
  </mat-paginator>
</div>
