ul {
    list-style-type: none;
    padding: 0px;
}

li {
    padding-top: 2px;
}

.mat-row .mat-cell:first-child  {
    font-weight: 300;
}

.fixed {
    text-align: center;

    background-color: white;
    opacity: 100%;
}

.user {
    background-color: #B0D2EA;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
}