<shared-layout
  [title]="title"
  [leftSidenav]="showNavigation ? leftSidenav : undefined"
  [sideMenu]="sideMenu"
  [topMenu]="topMenu"
  [menuOpened]="!hideMenu"
></shared-layout>
<ng-template #toolbar>
  <app-preview-toolbar></app-preview-toolbar>
</ng-template>
<!--Need the nav variable, don't remove let-nav, used in layout-->
<ng-template #leftSidenav let-nav>
  <shared-navbar
    [nav]="nav"
    [navGroups]="navGroups"
    [appLayout]="true"
    [vertical]="topMenu ? false : !(!sideMenu && largeDevice)"
    [topMenu]="topMenu"
  ></shared-navbar>
</ng-template>
