<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && workflow">
    <div *ngIf="!formActive" class="workflow-name-container">
        <h1 class="workflow-name">{{workflow.name}}</h1>
        <button mat-icon-button color="accent" *ngIf="workflow.page.canUpdate">
            <mat-icon (click)="toggleFormActive()">create</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="formActive">
        <form [formGroup]="workflowNameForm" (ngSubmit)="saveName()" class="workflow-name-container">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="workflowName" type="string">
            </mat-form-field>
            <button type="submit" mat-icon-button color="primary" [disabled]="!workflowNameForm.valid">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="toggleFormActive()">
                <mat-icon>close</mat-icon>
            </button>
        </form>
    </ng-container>
    <div cdkDropList cdkDropListOrientation="horizontal" class="step-list" (cdkDropListDropped)="dropStep($event)">
        <button mat-button class="add-step-button" color="primary" (click)="addStep()">
            <mat-icon>add</mat-icon>
            Step
        </button>
        <div class="step-box" *ngFor="let step of steps" cdkDragLockAxis="x" 
        (click)="onStepClick($event, step)" (cdkDragStarted)="onDragStart($event)" 
        [class.selected]="step === selectedStep" 
        [cdkDragDisabled]="step !== selectedStep" cdkDrag>
            <div class="step-placeholder" *cdkDragPlaceholder></div>
            {{step.name}}
            <div *ngIf="step === selectedStep" class="step-handle" cdkDragHandle>
                <svg width="12px" fill="currentColor" viewBox="0 0 24 24">
                    <g>
                        <rect id="svg_1" height="4.49695" width="4.64939" y="2.7965" x="4.03507" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#fff" fill="#000"/>
                        <rect id="svg_2" height="4.49695" width="4.64939" y="9.88491" x="3.95885" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#fff" fill="#000"/>
                        <rect id="svg_3" height="4.49695" width="4.64939" y="17" x="4.03507" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#fff" fill="#000"/>
                        <rect id="svg_4" height="4.49695" width="4.64939" y="2.7965" x="14" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#fff" fill="#000"/>
                        <rect id="svg_5" height="4.49695" width="4.64939" y="10" x="14" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#fff" fill="#000"/>
                        <rect id="svg_6" height="4.49695" width="4.64939" y="17" x="14" fill-opacity="null" stroke-opacity="null" stroke-width="1.5" stroke="#fff" fill="#000"/>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <ng-container *ngIf="displayStep">
        <router-outlet></router-outlet>
        <button mat-fab color="warn" class="delete-button" (click)="deleteStep(selectedStep.id, $event)">
            <mat-icon>delete</mat-icon>
        </button>
    </ng-container>
</ng-container>