<div class="mb-4 flex flex-row justify-end">
  <safe-button
    icon="add"
    category="secondary"
    variant="primary"
    (click)="onAdd()"
  >
    {{ 'pages.pullJobs.create' | translate }}
  </safe-button>
</div>

<!-- Table container -->
<div class="overflow-x-hidden shadow-2lg">
  <!-- Table scroll container -->
  <div class="overflow-x-auto">
    <table *ngIf="!loading" cdk-table uiTableStyle uiTableWrapper [dataSource]="pullJobs">
      <ng-container cdkColumnDef="name">
        <th uiCellHeader *cdkHeaderCellDef>
          {{ 'common.name' | translate }}
        </th>
        <td uiCell *cdkCellDef="let element" class="font-bold">
          {{ element.name }}
        </td>
      </ng-container>
      <ng-container cdkColumnDef="status">
        <th uiCellHeader *cdkHeaderCellDef>
          {{ 'common.status' | translate }}
        </th>
        <td uiCell *cdkCellDef="let element">
          <mat-chip-list>
            <mat-chip
              class="success-chip !rounded-lg"
              disabled
              *ngIf="element.status === 'active'"
            >
              {{ 'common.status_active' | translate | titlecase }}
            </mat-chip>
            <mat-chip
              class="accent-chip !rounded-lg"
              disabled
              color="accent"
              *ngIf="element.status === 'pending'"
            >
              {{ 'common.status_pending' | translate | titlecase }}
            </mat-chip>
            <mat-chip
              class="warn-chip !rounded-lg"
              disabled
              color="warn"
              *ngIf="element.status === 'archived'"
            >
              {{ 'common.status_archived' | translate | titlecase }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <!-- <ng-container cdkColumnDef="apiConfiguration">
        <th uiCellHeader *cdkHeaderCellDef>
          {{ 'common.apiConfiguration.one' | translate }}
        </th>
        <td uiCell *cdkCellDef="let element">
          {{ element.apiConfiguration ? element.apiConfiguration.name : '-' }}
        </td>
      </ng-container> -->
      <ng-container cdkColumnDef="schedule">
        <th uiCellHeader *cdkHeaderCellDef>
          {{ 'models.pullJob.nextIteration' | translate }}
        </th>
        <td uiCell *cdkCellDef="let element">
          {{ element.schedule | safeCronParser | safeDate : 'short' }}
        </td>
      </ng-container>
      <!-- <ng-container cdkColumnDef="convertTo">
        <th uiCellHeader *cdkHeaderCellDef>
          {{ 'components.record.convert.select' | translate }}
        </th>
        <td uiCell *cdkCellDef="let element">
          {{ element.convertTo ? element.convertTo.name : '-' }}
        </td>
      </ng-container> -->
      <ng-container cdkColumnDef="actions" [stickyEnd]="true">
        <th uiCellHeader *cdkHeaderCellDef class="w-16"></th>
        <td uiCell *cdkCellDef="let element">
          <safe-button
            [isIcon]="true"
            icon="more_vert"
            [uiMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
          >
          </safe-button>
          <ui-menu #menu>
            <button uiMenuItem (click)="onEdit(element)">
              <mat-icon>edit</mat-icon>
              {{ 'common.edit' | translate }}
            </button>
            <ui-divider class="m-0"></ui-divider>
            <button uiMenuItem color="warn" (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
              {{ 'common.delete' | translate }}
            </button>
          </ui-menu>
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr *cdkRowDef="let row; columns: displayedColumns" cdk-row></tr>
    </table>
    <safe-skeleton-table
      *ngIf="loading"
      [columns]="[
        'common.name',
        'common.status',
        'common.apiConfiguration.one',
        'components.record.convert.select'
      ]"
      [actions]="true"
    >
    </safe-skeleton-table>
  </div>
  <mat-paginator
    [disabled]="loading"
    [pageSize]="pageInfo.pageSize"
    [pageSizeOptions]="[10, 25, 50]"
    [length]="pageInfo.length"
    [ariaLabel]="'components.pullJob.paginator.ariaLabel' | translate"
    (page)="onPage($event)"
  >
  </mat-paginator>
</div>
