<ui-dialog>
  <ng-container ngProjectAs="header">
    <h1>
      {{ 'components.share.modal.title' | translate }}
    </h1>
  </ng-container>
  <ng-container ngProjectAs="content">
    <div class="share-url">{{ data.url }}</div>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <ui-button
      category="secondary"
      variant="primary"
      cdkFocusInitial
      (click)="onCopy()"
    >
      {{ 'components.share.modal.copy' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
