<ng-container
  safeFullScreen
  [(isFullScreenMode)]="isFullScreen"
  *safeSkeleton="
    loading;
    repeat: 1;
    height: '32px';
    width: '120px';
    shape: 'rectangle'
  "
>
  <!-- Dashboard options -->
  <ng-container *ngIf="dashboard">
    <div class="flex flex-wrap items-center justify-between mb-6 gap-4">
      <!-- Dashboard title -->
      <safe-editable-text
        [text]="dashboard.name"
        [canEdit]="canEditName"
        (onChange)="saveName($event)"
        (formActiveEvent)="formActive = $event"
      >
        <h1 class="!m-0 overflow-hidden text-ellipsis">
          {{ dashboard.name }}
        </h1>
      </safe-editable-text>

      <div class="flex items-center gap-1" *ngIf="!formActive">
        <!-- Fullscreen -->
        <ui-button
          variant="grey"
          [isIcon]="true"
          icon="{{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}"
          (click)="isFullScreen = !isFullScreen"
        >
        </ui-button>
        <!-- Access -->
        <safe-access
          [access]="dashboard.permissions"
          [application]="applicationId"
          [objectTypeName]="'common.page.one' | translate"
          (save)="saveAccess($event)"
          *ngIf="
            dashboard.page
              ? dashboard.page.canUpdate
              : dashboard.step
              ? dashboard.step.canUpdate
              : false
          "
        >
        </safe-access>
        <!-- Context -->
        <ui-button
          variant="grey"
          [isIcon]="true"
          [icon]="dashboard.page?.context ? 'cached' : 'add'"
          (click)="selectContextDatasource()"
          [uiTooltip]="
            (dashboard.page?.context
              ? 'models.dashboard.context.datasource.update'
              : 'models.dashboard.context.datasource.set'
            ) | translate
          "
        >
        </ui-button>
        <!-- More options -->
        <ui-button
          variant="grey"
          [isIcon]="true"
          icon="more_vert"
          [uiMenuTriggerFor]="menu"
          cdkOverlayOrigin
          #appMenuTrigger="cdkOverlayOrigin"
        >
        </ui-button>
        <ui-menu #menu>
          <button uiMenuItem (click)="toggleFiltering()">
            <mat-icon>tune</mat-icon>
            <!-- todo(translate) -->
            {{
              dashboard.showFilter
                ? 'Deactivate filtering'
                : 'Activate filtering'
            }}
          </button>
          <button uiMenuItem (click)="onAppSelection()">
            <mat-icon>file_copy</mat-icon>
            {{ 'common.duplicate' | translate }}
          </button>
          <button uiMenuItem (click)="onShare()">
            <mat-icon>share</mat-icon>
            {{ 'models.dashboard.share' | translate }}
          </button>
        </ui-menu>

        <ng-template #searchMenuHeaderTemplate>
          <safe-alert
            ><safe-icon icon="info"></safe-icon>
            {{ 'models.page.tooltip.duplicate' | translate }}
          </safe-alert>
        </ng-template>

        <ng-template
          cdkConnectedOverlay
          [cdkConnectedOverlayOrigin]="appMenuTrigger"
          [cdkConnectedOverlayOpen]="showAppMenu"
        >
          <safe-search-menu
            [headerTemplate]="searchMenuHeaderTemplate"
            [currentApplicationId]="applicationId"
            [applications]="applications"
            (close)="showAppMenu = false"
            (open)="onDuplicate($event)"
          ></safe-search-menu>
        </ng-template>
      </div>
    </div>
    <ng-container *ngIf="dashboard.page?.context">
      <!-- todo(translate) -->
      <safe-alert *ngIf="!contextRecord" class="mb-4"
        ><safe-icon icon="info"></safe-icon
        >{{
          'models.dashboard.context.edition.template' | translate
        }}</safe-alert
      >
      <safe-alert *ngIf="contextRecord" class="mb-4"
        ><safe-icon icon="info"></safe-icon
        >{{
          'models.dashboard.context.edition.element' | translate
        }}</safe-alert
      >
    </ng-container>
    <span>
      <!-- Selection of record, to see dashboard per record -->
      <mat-form-field
        appearance="outline"
        *ngIf="
          dashboard.page &&
          dashboard.page.context &&
          $any(dashboard.page.context).resource &&
          recordsQuery
        "
      >
        <mat-label>{{ 'common.record.one' | translate }}</mat-label>
        <safe-graphql-select
          [query]="recordsQuery"
          [formControl]="contextId"
          path="records"
          valueField="id"
          textField="data.{{ dashboard.page.context.displayField }}"
          [selectedElements]="contextRecord ? [contextRecord] : []"
        >
        </safe-graphql-select>
      </mat-form-field>

      <!-- Selection of element from reference data -->
      <mat-form-field
        appearance="outline"
        *ngIf="
          dashboard.page &&
          dashboard.page.context &&
          $any(dashboard.page.context).refData
        "
      >
        <mat-label>{{
          'models.dashboard.context.refData.element' | translate
        }}</mat-label>
        <mat-select [formControl]="contextId">
          <mat-option
            *ngFor="let element of refDataElements"
            [value]="element[refDataValueField]"
          >
            {{ element[dashboard.page.context.displayField] }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
  </ng-container>
</ng-container>
<!-- Widgets -->
<safe-widget-grid
  [loading]="loading"
  [widgets]="tiles"
  [canUpdate]="dashboard?.canUpdate || false"
  (move)="onMove($event)"
  (edit)="onEditTile($event)"
  (delete)="onDeleteTile($event)"
  (goToNextStep)="goToNextStep.emit($event)"
  (add)="onAdd($event)"
></safe-widget-grid>
<safe-dashboard-filter *ngIf="dashboard?.showFilter"></safe-dashboard-filter>
