.content-drawer-open-top {
    margin-top: 165px;
}

.content-drawer-open-bottom {
    margin-bottom: 165px;
}

.content-drawer-open-left {
    margin-left: 390px;
}

.content-drawer-open-right {
    margin-right: 390px;
}