<ui-spinner *ngIf="loading"></ui-spinner>
<ng-container *ngIf="!loading && resource">
  <div class="page-header">
    <h1 class="page-title">
      {{ resource.name }}
    </h1>
    <shared-access
      [access]="resource.permissions"
      [objectTypeName]="'common.resource.one' | translate"
      (save)="saveAccess($event)"
      *ngIf="resource.canUpdate"
    >
    </shared-access>
  </div>
  <ui-tabs [selectedIndex]="selectedTab">
    <ui-tab
      (click)="selectedTab = 0"
      routerLink="./forms"
      [state]="{ resource }"
    >
      <ng-container ngProjectAs="label">{{
        'common.form.few' | translate
      }}</ng-container>
    </ui-tab>
    <ui-tab
      (click)="selectedTab = 1"
      routerLink="./layouts"
      [state]="{ resource }"
    >
      <ng-container ngProjectAs="label">{{
        'common.layout.few' | translate
      }}</ng-container>
    </ui-tab>
    <ui-tab
      (click)="selectedTab = 2"
      routerLink="./aggregations"
      [state]="{ resource }"
    >
      <ng-container ngProjectAs="label">{{
        'common.aggregation.few' | translate
      }}</ng-container>
    </ui-tab>
    <ui-tab
      (click)="selectedTab = 3"
      routerLink="./calculated-fields"
      [state]="{ resource }"
    >
      <ng-container ngProjectAs="label">{{
        'common.calculatedField.few' | translate
      }}</ng-container>
    </ui-tab>
    <ui-tab
      (click)="selectedTab = 4"
      routerLink="./records"
      [state]="{ resource }"
    >
      <ng-container ngProjectAs="label">{{
        'common.record.few' | translate
      }}</ng-container>
    </ui-tab>
  </ui-tabs>
  <router-outlet></router-outlet>
</ng-container>
