<div class="flex gap-8 justify-between mb-8 flex-col sm:flex-row">
  <!-- FILTERING -->
  <app-filter
    (filter)="onFilter($event)"
    [loading]="filterLoading"
  ></app-filter>
  <!-- ACTIONS -->
  <div class="flex items-center">
    <ui-button
      icon="add"
      [category]="btnCategory.SECONDARY"
      [variant]="btnVariant.PRIMARY"
      (click)="onAdd()"
    >
      {{ 'models.resource.create' | translate }}
    </ui-button>
  </div>
</div>

<!-- Table container -->
<div class="overflow-x-hidden shadow-2lg">
  <!-- Table scroll container -->
  <div class="overflow-x-auto">
    <table
      *ngIf="!loading"
      mat-table
      [dataSource]="resources"
      matSort
      (matSortChange)="onSort($event)"
    >
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          <span class="headerTitle" mat-sort-header="name">
            {{ 'common.name' | translate }}
          </span>
        </th>
        <td mat-cell *matCellDef="let element" class="font-bold">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>
          <span class="headerTitle" mat-sort-header="createdAt">
            {{ 'common.createdOn' | translate }}
          </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.createdAt | safeDate }}
        </td>
      </ng-container>

      <ng-container matColumnDef="recordsCount">
        <th mat-header-cell *matHeaderCellDef>
          <span class="headerTitle">
            {{ 'common.record.few' | translate }}
          </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.recordsCount }}</td>
      </ng-container>

      <ng-container matColumnDef="actions" [stickyEnd]="true">
        <th mat-header-cell *matHeaderCellDef class="w-16"></th>
        <td mat-cell *matCellDef="let element">
          <ui-button
            [isIcon]="true"
            icon="more_vert"
            [matMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
            [disabled]="!element.canDelete"
          >
          </ui-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
              {{ 'common.delete' | translate }}
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        class="cursor-pointer"
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        [routerLink]="['/resources', row.id]"
      ></tr>
    </table>
    <!-- Loading indicator -->
    <safe-skeleton-table
      *ngIf="loading"
      [columns]="['common.name', 'common.createdOn', 'common.record.few']"
      [actions]="true"
    >
    </safe-skeleton-table>
  </div>
  <!-- Pagination -->
  <mat-paginator
    [disabled]="loading || updating"
    [pageIndex]="pageInfo.pageIndex"
    [pageSize]="pageInfo.pageSize"
    [pageSizeOptions]="[10, 25, 50]"
    [length]="pageInfo.length"
    [ariaLabel]="'components.resource.paginator.ariaLabel' | translate"
    (page)="onPage($event)"
  >
  </mat-paginator>
</div>
