<configuration>
<system.web>
  <httpRuntime maxUrlLength="4096" maxQueryStringLength="4096" />
</system.web>
<system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="4096" />
      </requestFiltering>
    </security>
    <staticContent><mimeMap fileExtension=".json" mimeType="application/json" /></staticContent>
    <rewrite>
      <rules>
        <rule name="Main Rule" stopProcessing="true">
                <match url=".*" />
                <conditions logicalGrouping="MatchAll">
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                </conditions>
                <action type="Rewrite" url="/" />
            </rule>
        </rules>
    </rewrite>
</system.webServer>
</configuration>