<ng-container *ngIf="form">
  <div class="page-header">
    <ng-container *ngIf="!formActive">
      <h1 class="page-title" (click)="toggleFormActive()">
        {{ form.name }} {{ activeVersion ? activeVersion.id : '' }}
      </h1>
    </ng-container>

    <ng-container *ngIf="formActive">
      <form [formGroup]="nameForm" (ngSubmit)="saveName()">
        <mat-form-field>
          <mat-label>{{ 'common.name' | translate }}</mat-label>
          <input matInput formControlName="formName" type="string" />
        </mat-form-field>
        <safe-button
          type="submit"
          [isIcon]="true"
          icon="save"
          variant="primary"
          [disabled]="!nameForm.valid"
        >
        </safe-button>
        <safe-button
          [isIcon]="true"
          icon="close"
          variant="danger"
          (click)="toggleFormActive()"
        >
        </safe-button>
      </form>
    </ng-container>
    <span class="flex-spacer"></span>
    <safe-access
      [access]="form.permissions"
      [objectTypeName]="'common.form.one' | translate"
      (save)="saveAccess($event)"
      *ngIf="form.canUpdate"
    ></safe-access>
  </div>
  <div class="form-actions">
    <mat-button-toggle-group
      appearance="legacy"
      [value]="form.status"
      (change)="updateStatus($event)"
    >
      <mat-button-toggle
        *ngFor="let status of statuses"
        [value]="status.value"
        [className]="'toggle-' + status.value"
        >{{ status.key | translate }}</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>
  <app-history
    *ngIf="activeVersions"
    [dataSource]="form.versions || []"
    (open)="onOpenVersion($event)"
  ></app-history>
  <safe-form-builder
    [form]="form"
    (save)="onSave($event)"
    (formChange)="formStructureChange($event)"
  ></safe-form-builder>
</ng-container>
