<ui-dialog>
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      Duplicating <i>{{ currentApp.name }}</i>
    </h3>
  </ng-container>
  <ng-container ngProjectAs="content">
    <form [formGroup]="duplicateForm">
      <div class="flex flex-col">
        <h4>
          {{ 'components.application.duplicate.name.description' | translate }}
        </h4>
        <div uiFormFieldDirective>
          <label>
            {{ 'common.name' | translate }}
          </label>
          <input
            type="text"
            formControlName="name"
            [placeholder]="'common.placeholder.name' | translate"
          />
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <ui-button uiDialogClose variant="default">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      (click)="onSubmit()"
      cdkFocusInitial
      [disabled]="!duplicateForm.valid"
    >
      {{ 'common.duplicate' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
