<safe-modal>
  <h2 mat-dialog-title>
    Duplicating <i>{{ currentApp.name }}</i>
  </h2>
  <div mat-dialog-content>
    <form [formGroup]="duplicateForm">
      <div class="flex flex-col">
        <h3>
          {{ 'components.application.duplicate.name.description' | translate }}
        </h3>
        <mat-form-field appearance="outline">
          <mat-label>
            {{ 'common.name' | translate }}
          </mat-label>
          <input
            matInput
            type="text"
            formControlName="name"
            [placeholder]="'common.placeholder.name' | translate"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <ui-button (click)="onCancel()">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      [category]="btnCategory.SECONDARY"
      [variant]="btnVariant.PRIMARY"
      (click)="onSubmit()"
      cdkFocusInitial
      [disabled]="!duplicateForm.valid"
    >
      {{ 'common.duplicate' | translate }}
    </ui-button>
  </div>
</safe-modal>
