<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
  <div class="actions">
    <safe-button
      icon="add"
      category="secondary"
      variant="primary"
      (click)="onAdd()"
    >
      {{ 'models.channel.create' | translate }}
    </safe-button>
  </div>
  <table mat-table [dataSource]="channelsData">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'common.title' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>
    <ng-container matColumnDef="subscribedRoles">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'common.role.few' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <span
          *ngFor="let subscribedApplication of element.subscribedApplications"
        >
          <span *ngIf="subscribedApplication.roles.length > 0"
            >[{{ subscribedApplication.name }}] :
          </span>
          <span *ngFor="let role of subscribedApplication.roles">
            <span> {{ role.title }}, </span>
          </span>
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="recordsCount">
      <th mat-header-cell *matHeaderCellDef>Records</th>
      <td mat-cell *matCellDef="let element">{{ element.recordsCount }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <safe-button
          [isIcon]="true"
          icon="more_vert"
          [matMenuTriggerFor]="menu"
          (click)="$event.stopPropagation()"
        >
        </safe-button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
            {{ 'common.edit' | translate }}
          </button>
          <safe-divider style="margin: unset"></safe-divider>
          <button mat-menu-item (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
            {{ 'common.delete' | translate }}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
  </table>
</ng-container>
