@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  :host{
    @apply bg-white;
  }
}
:host {
  padding: 8px;
  border-radius: 4px;
  @apply shadow-lg;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;
  align-items: center;
}
