<!-- Loading indicator -->
<ui-spinner
  class="flex justify-center items-center h-screen"
  *ngIf="loading"
></ui-spinner>
<!-- Application wrapper -->
<shared-layout
  *ngIf="!loading"
  [route]="route"
  [leftSidenav]="pages"
  [sideMenu]="sideMenu"
  [title]="title"
  [settings]="adminNavItems"
  [canUpdate]="application?.canUpdate!"
  [showActions]="true"
></shared-layout>
<!--Need the nav variable, don't remove let-nav, used in layout-->
<ng-template #pages let-nav>
  <shared-navbar
    [nav]="nav"
    [navGroups]="navGroups"
    [appLayout]="true"
    [canAddPage]="application?.canUpdate!"
    [vertical]="!(!sideMenu && largeDevice)"
    (reorder)="onReorder($event)"
  ></shared-navbar>
</ng-template>
