<!-- Loading indicator -->
<ui-spinner
  class="flex justify-center items-center h-screen"
  *ngIf="loading"
></ui-spinner>
<!-- Application wrapper -->
<safe-layout
  *ngIf="!loading"
  [toolbar]="toolbar"
  [route]="route"
  [leftSidenav]="pages"
  [sideMenu]="sideMenu"
></safe-layout>
<ng-template #toolbar>
  <safe-app-application-toolbar
    [title]="title"
    [settings]="adminNavItems"
    [canUpdate]="application?.canUpdate!"
    [showActions]="true"
  ></safe-app-application-toolbar>
</ng-template>
<!--Need the nav variable, don't remove let-nav, used in layout-->
<ng-template #pages let-nav>
  <safe-navbar
    [nav]="nav"
    [navGroups]="navGroups"
    [appLayout]="true"
    [canAddPage]="application?.canUpdate!"
    [vertical]="!(!sideMenu && largeDevice)"
    (reorder)="onReorder($event)"
  ></safe-navbar>
</ng-template>
