 <form *ngIf="duplicateForm" [formGroup]="duplicateForm">
 <h2>Duplicating <i>{{currentApp.name}}</i></h2>
    <div class="form-group">
        <h3>Please enter a name for the new application</h3>
        <mat-form-field appearance="outline" style="flex: 2;">
            <mat-label>
              New Application Name
            </mat-label>
            <input matInput type='text' formControlName="name" placeholder="Enter a name for the application" />
          </mat-form-field>
    </div>
    <button mat-flat-button (click)="onSubmit()" color="primary"  [disabled]="duplicateForm.invalid">Save</button> 
    <button mat-flat-button (click)="onCancel()" color="primary">Cancel</button> 
</form>
 






