<h2 mat-dialog-title>Duplicating <i>{{currentApp.name}}</i></h2>
<div mat-dialog-content>
  <form [formGroup]="duplicateForm">
    <div class="form-group">
      <h3>{{'appSummary.description' | translate}}</h3>
      <mat-form-field appearance="outline" style="flex: 2;">
        <mat-label>
          {{'global.name' | translate}}
        </mat-label>
        <input matInput type='text' formControlName="name" [placeholder]="'global.namePlaceholder' | translate" />
      </mat-form-field>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">{{'action.close' | translate}}</button>
  <button mat-flat-button (click)="onSubmit()" color="primary" [disabled]="!duplicateForm.valid">{{'action.duplicate' | translate}}</button>
</div>