<ng-container>
  <!-- FILTERING -->
  <app-filter
    (filter)="onFilter($event)"
    [loading]="updating"
    class="block mb-8"
  ></app-filter>

  <!-- NEW APPLICATIONS -->
  <h2>{{ 'pages.applications.recent' | translate }}</h2>
  <safe-applications-summary
    class="block mb-14"
    [loading]="loading"
    [canCreate]="'create' | able: 'Application'"
    (add)="onAdd()"
    [applications]="newApplications"
    (openApplication)="onOpenApplication($event)"
    (delete)="onDelete($event)"
    (preview)="onPreview($event)"
    (clone)="onClone($event)"
  ></safe-applications-summary>

  <!-- APPLICATIONS TABLE -->
  <h2>{{ 'pages.applications.all' | translate }}</h2>
  <!-- Table container -->
  <div class="overflow-x-hidden shadow-2lg">
    <!-- Table scroll container -->
    <div class="overflow-x-auto">
      <table
        *ngIf="!loading"
        mat-table
        [dataSource]="applications"
        matSort
        (matSortChange)="onSort($event)"
      >
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            <span class="headerTitle" mat-sort-header="name">
              {{ 'common.name' | translate }}
            </span>
          </th>
          <td mat-cell *matCellDef="let element" class="font-bold">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>
            <span class="headerTitle" mat-sort-header="createdAt">
              {{ 'common.createdOn' | translate }}
            </span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.createdAt | safeDate }}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>
            <span class="headerTitle">
              {{ 'common.status' | translate }}
            </span>
          </th>
          <td mat-cell *matCellDef="let element">
            <mat-chip-listbox>
              <mat-chip-option
                class="success-chip !rounded-lg"
                disabled
                *ngIf="element.status === 'active'"
              >
                {{ 'common.status_active' | translate | titlecase }}
              </mat-chip-option>
              <mat-chip-option
                class="accent-chip !rounded-lg"
                disabled
                color="accent"
                *ngIf="element.status === 'pending'"
              >
                {{ 'common.status_pending' | translate | titlecase }}
              </mat-chip-option>
              <mat-chip-option
                class="warn-chip !rounded-lg"
                disabled
                color="warn"
                *ngIf="element.status === 'archived'"
              >
                {{ 'common.status_archived' | translate | titlecase }}
              </mat-chip-option>
            </mat-chip-listbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="usersCount">
          <th mat-header-cell *matHeaderCellDef>
            <span class="headerTitle">
              {{ 'common.user.few' | translate }}
            </span>
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.users?.totalCount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" [stickyEnd]="true">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <safe-button
              [isIcon]="true"
              icon="more_vert"
              [matMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            >
            </safe-button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="onPreview(element)">
                <mat-icon>preview</mat-icon>
                {{ 'common.preview' | translate }}
              </button>
              <safe-access
                [menuItem]="true"
                [access]="element.permissions"
                [objectTypeName]="'common.application.one' | translate"
                (save)="saveAccess($event, element)"
                *ngIf="element.canUpdate"
              ></safe-access>
              <button
                mat-menu-item
                (click)="onClone(element)"
                *ngIf="element.canDelete"
              >
                <mat-icon>file_copy</mat-icon>
                {{ 'common.duplicate' | translate }}
              </button>
              <ng-container *ngIf="element.canDelete">
                <safe-divider class="m-0"></safe-divider>
                <button mat-menu-item (click)="onDelete(element, $event)">
                  <mat-icon>delete</mat-icon>
                  {{ 'common.delete' | translate }}
                </button>
              </ng-container>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="cursor-pointer"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [routerLink]="['/applications', row.id]"
        ></tr>
      </table>
      <!-- Loading indicator -->
      <safe-skeleton-table
        *ngIf="loading"
        [columns]="[
          'common.name',
          'common.createdOn',
          'common.status',
          'common.user.few'
        ]"
        [actions]="true"
      >
      </safe-skeleton-table>
    </div>
    <!-- Pagination -->
    <mat-paginator
      [disabled]="loading || updating"
      [pageIndex]="pageInfo.pageIndex"
      [pageSize]="pageInfo.pageSize"
      [pageSizeOptions]="[10, 25, 50]"
      [length]="pageInfo.length"
      aria-label="Select page of applications"
      (page)="onPage($event)"
    >
    </mat-paginator>
  </div>
</ng-container>
