.actions {
  margin: 10px 0 16px;
  text-align: right;
}

.searchbar {
  .filters-toggle {
    margin-left: 12px;
  }

  button {
    margin-bottom: 10px;
  }
}

.filters {
  clear: both;
  margin-left: -12px;

  .mat-form-field {
    margin-left: 12px;
  }
}

safe-applications-summary {
  display: block;
  margin-bottom: 56px;
}
