.actions {
  margin: 10px 0 16px;
  text-align: right;
}

.create-app {
  border-radius: 10px;
}

.buttons-app {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.searchbar {
  .filters-toggle {
    margin-left: 12px;
  }

  button {
    margin-bottom: 10px;
  }
}

.filters {
  clear: both;
  margin-left: -12px;

  .mat-form-field {
    margin-left: 12px;
  }
}

.new-applications-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 56px;
  overflow-x: auto;
}
