<ng-container>
  <div>
    <div class="searchbar">
      <mat-form-field appearance="outline">
        <mat-icon matPrefix>search</mat-icon>
        <input id="custom-search" matInput [formControl]="name" type="search"
               placeholder="Search by name...">
      </mat-form-field>
      <button mat-stroked-button color="primary" (click)="showFilters = !showFilters" class="filters-toggle">
        <mat-icon>filter_list</mat-icon>
        Filter
      </button>
    </div>
    <div class="actions">
      <button mat-flat-button color="primary" (click)="onAdd()" *ngIf="canAdd">
        <mat-icon>add</mat-icon>
        Create an application
      </button>
    </div>
  </div>
  <div class="filters" [style.display]="!showFilters ? 'none' : ''">
    <mat-form-field appearance="outline">
      <mat-label>Date Range</mat-label>
      <mat-date-range-input (click)="rangePicker.open()" [rangePicker]="rangePicker">
        <input #startDate (dateInput)="filtersDate['startDate'] = $event.value" matStartDate readonly>
        <input #endDate (dateInput)="filtersDate['endDate'] = $event.value" matEndDate readonly>
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <button mat-button matDateRangePickerCancel (click)="clearDateFilter()">Clear range</button>
          <button mat-raised-button color="primary" matDateRangePickerApply (click)="search()">
            Apply
          </button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select [formControl]="statusFilter">
        <mat-option>-</mat-option>
        <mat-option value="active">
          Active
        </mat-option>
        <mat-option value="pending">
          Pending
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-button color="warn" (click)="clearAllFilters()">Clear Filters</button>
  </div>
  <safe-infinite-scroll-wrapper [noMoreData]="noMoreData" [loadMoreData]="loadMoreData" (checkScroll)="onCheckScroll()">
    <app-applications-table
      infinite-scroll-child
      [dataSource]="applications"
      [loading]="loading"
      [loadMoreData]="loadMoreData"
      [noMoreData]="noMoreData"
      (sortTable)="sortData($event)"
      (preview)="onPreview($event)"
      (duplicate)="onDuplicate($event)"
      (save)="saveAccess($event.permission, $event.application)"
      (delete)="onDelete($event)"
    >
    </app-applications-table>
  </safe-infinite-scroll-wrapper>
</ng-container>
