.actions {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  text-align: end;
  float: right;
}

.searchbar {
  float: left;

  .filters-toggle {
    margin-left: 12px;
  }
}

.filters {
  clear: both;
  margin-left: -12px;

  .mat-form-field {
    margin-left: 12px;
  }
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.scroll-container {
  overflow-y: auto;
  height: 800px;
}

:host {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  width: 100%;
}
