<ng-container *ngIf="!loading; else skeleton_template">
  <!-- FILTERING -->
  <app-filter (filter)="onFilter($event)"></app-filter>

  <!-- NEW APPLICATIONS -->
  <h2>{{'apps.recent' | translate}}</h2>
  <safe-applications-summary [canCreate]="canAdd" (add)="onAdd()" [applications]="newApplications"
    (openApplication)="onOpenApplication($event)" (delete)="onDelete($event)" (preview)="onPreview($event)"
    (clone)="onClone($event)"></safe-applications-summary>

  <!-- APPLICATIONS TABLE -->
  <ng-container>
    <h2>{{'apps.all' | translate}}</h2>
    <table mat-table [dataSource]="applications" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
          <span class="headerTitle" mat-sort-header>
            {{'global.name' | translate}}
          </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.name }}</td>
      </ng-container>

      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef>
          <span class="headerTitle" mat-sort-header>
            {{'table.date' | translate}}
          </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.createdAt | date }}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
          <span class="headerTitle" mat-sort-header>
            {{'global.status' | translate}}
          </span>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-chip-list>
            <mat-chip class="success-chip" disabled *ngIf="element.status === 'active'">
              {{ 'status.active' | translate | titlecase }}
            </mat-chip>
            <mat-chip class="accent-chip" disabled color="accent" *ngIf="element.status === 'pending'">
              {{ 'status.pending' | translate | titlecase }}
            </mat-chip>
            <mat-chip class="warn-chip" disabled color="warn" *ngIf="element.status === 'archived'">
              {{ 'status.archived' | translate | titlecase }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container matColumnDef="usersCount">
        <th mat-header-cell *matHeaderCellDef>
          <span class="headerTitle" mat-sort-header>
            {{'global.users' | translate}}
          </span>
        </th>
        <td mat-cell *matCellDef="let element">{{ element.usersCount }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <safe-button [isIcon]="true" icon="more_vert" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
          </safe-button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onPreview(element)">
              <mat-icon>preview</mat-icon>
              {{'action.preview' | translate}}
            </button>
            <safe-access [menuItem]="true" [access]="element.permissions" (save)="saveAccess($event, element)"
              *ngIf="element.canUpdate"></safe-access>
            <button mat-menu-item (click)="onClone(element)" *ngIf="element.canDelete">
              <mat-icon>file_copy</mat-icon>
              {{'action.duplicate' | translate}}
            </button>
            <ng-container *ngIf="element.canDelete">
              <mat-divider></mat-divider>
              <button mat-menu-item (click)="onDelete(element, $event)">
                <mat-icon>delete</mat-icon>
                {{'action.delete' | translate}}
              </button>
            </ng-container>
          </mat-menu>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr class="clickable" mat-row *matRowDef="let row; columns: displayedColumns"
        [routerLink]="['/applications', row.id]"></tr>
    </table>
    <mat-paginator [pageSize]="pageInfo.pageSize" [pageSizeOptions]="[10, 25, 50]" [length]="pageInfo.length"
      aria-label="Select page of applications" (page)="onPage($event)">
    </mat-paginator>
  </ng-container>
</ng-container>


<!-- SKELETON TEMPLATE -->
<ng-template #skeleton_template>
  <div style="display: flex;">
    <kendo-skeleton shape="rectangle" height="36px" width="220px"></kendo-skeleton>
    <kendo-skeleton style="margin-left: 16px;" shape="rectangle" height="36px" width="120px"></kendo-skeleton>
  </div>

  <h2 style="margin-top: 16px;">
    <kendo-skeleton shape="text" width="240px"></kendo-skeleton>
  </h2>

  <div style="display: flex; gap: 32px;">
    <kendo-skeleton *ngFor="let item of [1,2,3,4]" shape="rectangle" animation="wave" width="192px" height="192px">
    </kendo-skeleton>
  </div>

  <h2 style="margin-top: 64px;">
    <kendo-skeleton shape="text" width="240px"></kendo-skeleton>
  </h2>

  <table *ngIf="loading" mat-table [dataSource]="skeletonDataSource">
    <ng-container *ngFor="let key of skeletonDisplayedColumns" matColumnDef="{{key}}">
      <th mat-header-cell *matHeaderCellDef>
        <kendo-skeleton shape="text" width="25%"></kendo-skeleton>
      </th>
      <td mat-cell *matCellDef="let element">
        <kendo-skeleton shape="text" width="25%"></kendo-skeleton>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="skeletonDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: skeletonDisplayedColumns;"></tr>
  </table>
</ng-template>