.grid-tile {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: white;
  border: 1px solid darkgray;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.grid-tile:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.tile-handle {
  position: absolute;
  top: 0;
  right: 0;
  color: darkgray;
  cursor: move;
  width: 40px;
  height: 40px;
  z-index: 1100;
}
.tile-options {
  position: absolute;
  top: 0;
  left: 0;
  color: darkgray;
  width: 40px;
  height: 40px;
  z-index: 1100;
}
.tile-content {
  flex: 1;
  max-height: 100% !important;
}

.dashboard-card-content {
  text-align: center;
}

.cdk-drop-list {
  height: 100%;
  width: 100%;
}

.cdk-drag-preview {
  box-sizing: border-box;
  opacity: 0.5;
}

.cdk-drag-animating {
  transition: unset;
}

.cdk-drag-placeholder {
  display: none;
}

.dashboard-name-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  .dashboard-name {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-radius: 6px;
    margin: unset;
  }
  .dashboard-name:hover {
    background-color: #dddddd54;
  }
  .dashboard-icons-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.name-edit-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.share-button {
  color: #a9a9a9 !important;
  margin-left: -6px;
}
