<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && dashboard">
    <app-floating-menu (add)="onAdd($event)" *ngIf="dashboard.canUpdate"></app-floating-menu>
    <div *ngIf="!formActive" class="dashboard-name-container">
        <h1 class="dashboard-name" (click)="toggleFormActive()">{{dashboard.name}}</h1>
        <who-access [access]="dashboard.permissions" 
        [application]="dashboard.page ? dashboard.page.application.id : dashboard.step ? dashboard.step.workflow.page.application.id : null" 
        (save)="saveAccess($event)" *ngIf="dashboard.page ? dashboard.page.canUpdate : dashboard.step ? dashboard.step.canUpdate : false"></who-access>
        <button mat-raised-button color="primary" class="share-button" (click)="onShare()">Share</button>
    </div>
    <ng-container *ngIf="formActive">
        <form [formGroup]="dashboardNameForm" (ngSubmit)="saveName()" class="dashboard-name-container">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="dashboardName" type="string">
            </mat-form-field>
            <button type="submit" mat-icon-button color="primary" [disabled]="!dashboardNameForm.valid">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="toggleFormActive()">
                <mat-icon>close</mat-icon>
            </button>
        </form>
    </ng-container>

    <who-widget-grid [widgets]="tiles" [canUpdate]="dashboard.canUpdate" (move)="onMove()" (edit)="onEditTile($event)"
        (delete)="onDeleteTile($event)" (toggleHistory)="toggleHistoryEvent($event)"></who-widget-grid>
    <mat-drawer [(opened)]="showHistory" class="history-sidenav" mode="side" position="end">
        <who-record-history *ngIf="showHistory" [data]=versions></who-record-history>
    </mat-drawer>
</ng-container>