<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && dashboard">
    <div *ngIf="!formActive" class="dashboard-name-container">
        <h1 class="dashboard-name" (click)="toggleFormActive()">{{dashboard.name}}</h1>
        <safe-access [access]="dashboard.permissions" [application]="applicationId" (save)="saveAccess($event)"
            *ngIf="dashboard.page ? dashboard.page.canUpdate : dashboard.step ? dashboard.step.canUpdate : false">
        </safe-access>
        <button mat-icon-button class="share-button" (click)="onShare()">
            <mat-icon matTooltipPosition="above" matTooltip="Share Dashboard">share</mat-icon>
        </button>
    </div>
    <ng-container *ngIf="formActive">
        <form [formGroup]="dashboardNameForm" (ngSubmit)="saveName()" class="dashboard-name-container">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput formControlName="dashboardName" type="string">
            </mat-form-field>
            <button type="submit" mat-icon-button color="primary" [disabled]="!dashboardNameForm.valid">
                <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="toggleFormActive()">
                <mat-icon>close</mat-icon>
            </button>
        </form>
    </ng-container>
    <safe-widget-grid [widgets]="tiles" [canUpdate]="dashboard.canUpdate || false" (move)="onMove()"
        (edit)="onEditTile($event)" (delete)="onDeleteTile($event)" (goToNextStep)="goToNextStep.emit($event)"
        (update)="onUpdate($event)" (addNewWidget)="onAdd($event)"></safe-widget-grid>
</ng-container>