<h1>Next button settings</h1>
<form [formGroup]="settingsForm" (ngSubmit)="onSave()" class="settings-form">
    <mat-form-field>
        <mat-label>Button name</mat-label>
        <input matInput formControlName="buttonName" type="string">
    </mat-form-field>
    <mat-checkbox [disabled]="true" [checked]="!isLastStep">Go to next step</mat-checkbox>
    <div class="auto-modify-box">
        <mat-checkbox formControlName="autoSave">Auto-save records on click</mat-checkbox>
        <ng-container *ngIf="settingsForm.value.autoSave">
            <mat-checkbox formControlName="modifySelectedRows">Modify rows with keep_it = true</mat-checkbox>
            <mat-form-field *ngIf="settingsForm.value.modifySelectedRows">
                <mat-label>Modified field</mat-label>
                <mat-select formControlName="modifiedField" [compareWith]="compareFields">
                    <mat-option *ngFor="let field of fields" [value]="field">{{ field.name }}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field *ngIf="settingsForm.value.modifySelectedRows">
                <mat-label>Value to assign automatically</mat-label>
                <ng-container *ngIf="settingsForm.value.modifiedField.type === 'Int'">
                    <input matInput formControlName="modifiedInputValue" type="number" />
                </ng-container>
                <ng-container *ngIf="settingsForm.value.modifiedField.type === 'Boolean'">
                    <mat-select formControlName="modifiedInputValue">
                        <mat-option>-- None --</mat-option>
                        <mat-option [value]="true">True</mat-option>
                        <mat-option [value]="false">False</mat-option>
                    </mat-select>
                </ng-container>
                <ng-container *ngIf="settingsForm.value.modifiedField.type !== 'Int' && settingsForm.value.modifiedField.type !== 'Boolean'">
                    <input matInput formControlName="modifiedInputValue" type="string" />
                </ng-container>
            </mat-form-field>
        </ng-container>
    </div>
    <div class="end-buttons">
        <button mat-flat-button (click)="onClose()">Close</button>
        <button mat-flat-button type="submit" color="primary" [disabled]="!settingsForm.valid">Save</button>
    </div>
</form>