<ui-dialog size="small">
  <ng-container ngProjectAs="header">
    <h1>
      {{
        'common.editObject'
          | translate : { name: 'common.channel.one' | translate }
      }}
    </h1>
  </ng-container>
  <ng-container ngProjectAs="content">
    <form [formGroup]="formGroup" class="flex flex-col">
      <div uiFormFieldDirective>
        <label>{{ 'common.title' | translate }}</label>
        <input
          formControlName="title"
          type="text"
          [placeholder]="'common.placeholder.title' | translate"
        />
      </div>
    </form>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <ui-button (click)="onClose()">{{ 'common.close' | translate }}</ui-button>

    <ui-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="formGroup.value"
      cdkFocusInitial
      [disabled]="!formGroup.valid"
    >
      {{ 'common.update' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
