<ui-dialog size="small">
  <ng-container ngProjectAs="header">
    <h1>
      {{
        'common.editObject'
          | translate : { name: 'common.channel.one' | translate }
      }}
    </h1>
  </ng-container>
  <ng-container ngProjectAs="content">
    <form [formGroup]="roleForm" class="flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'common.title' | translate }}</mat-label>
        <input
          matInput
          formControlName="title"
          type="text"
          [placeholder]="'common.placeholder.title' | translate"
        />
      </mat-form-field>
    </form>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <safe-button (click)="onClose()">{{
      'common.close' | translate
    }}</safe-button>
    <safe-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="roleForm.value"
      cdkFocusInitial
      [disabled]="!roleForm.valid"
    >
      {{ 'common.update' | translate }}
    </safe-button>
  </ng-container>
</ui-dialog>
