<div class="h-full">
  <ng-container *ngIf="pages.length">
    <ui-tabs [(selectedIndex)]="selectedTab">
      <ng-container
        *ngFor="let page of pages; let i = index; trackBy: trackById"
      >
        <ui-tab (click)="loadPage(i)">
          <ng-container ngProjectAs="label">
            <ng-container *ngIf="page.id; else addPageTmpl">
              <div class="flex items-center gap-1">
                <ng-container *ngIf="page.label">
                  {{ page.label }}
                </ng-container>
                <ui-button
                  (click)="removePage($event, i)"
                  variant="danger"
                  [isIcon]="true"
                  [icon]="page.icon ?? ''"
                  [uiTooltip]="'models.page.remove' | translate"
                ></ui-button>
              </div>
            </ng-container>
            <ng-template #addPageTmpl>
              <ui-button
                [isIcon]="true"
                [icon]="page.icon ?? 'add_circle'"
                [uiTooltip]="'models.page.add' | translate"
              ></ui-button>
            </ng-template>
          </ng-container>
        </ui-tab>
      </ng-container>
    </ui-tabs>
  </ng-container>
  <div class="h-full overflow-y-auto w-full p-2">
    <router-outlet (activate)="currentTabContent = $event"></router-outlet>
  </div>
</div>
