<div class="h-full">
  <!-- CLASSIC VIEW -->
  <kendo-tilelayout-item-header
    *ngIf="header"
    class="widget-header border-b"
    [ngClass]="{
      'border-transparent': !(settings?.widgetDisplay?.showBorder ?? true),
      'border-b-gray-300': settings?.widgetDisplay?.showBorder ?? true
    }"
  >
    <span class="widget-title" [title]="settings?.title">{{
      settings?.title
    }}</span>
    <!-- Core grid actions -->
    <ng-container *ngIf="true">
      <ng-container *ngTemplateOutlet="floatingButtonsTemplate"></ng-container>
    </ng-container>
  </kendo-tilelayout-item-header>
  <ng-container *ngIf="pages.length">
    <ui-tabs [selectedIndex]="selectedTab">
      <ng-container *ngFor="let page of pages; let i = index">
        <ui-tab (click)="loadPage(i)">
          <ng-container ngProjectAs="label">
            <ng-container *ngIf="page.id; else addPageTmpl">
              <div class="flex items-center gap-1">
                <ng-container *ngIf="page.label">
                  {{ page.label }}
                </ng-container>
                <ui-button
                  (click)="removePage($event, i)"
                  variant="danger"
                  [isIcon]="true"
                  [icon]="page.icon ?? ''"
                  [uiTooltip]="'models.page.remove' | translate"
                ></ui-button>
              </div>
            </ng-container>
            <ng-template #addPageTmpl>
              <ui-button
                [isIcon]="true"
                [icon]="page.icon ?? 'add_circle'"
                [uiTooltip]="'models.page.add' | translate"
              ></ui-button>
            </ng-template>
          </ng-container>
        </ui-tab>
      </ng-container>
    </ui-tabs>
  </ng-container>
  <div class="h-full overflow-y-auto w-full p-2">
    <router-outlet (activate)="getCurrentTabContent($event)"></router-outlet>
  </div>
</div>

<!-- Quick action buttons -->
<ng-template #floatingButtonsTemplate>
  <div class="flex">
    <ng-container
      *ngFor="let floatingButton of settings?.floatingButtons ?? []"
    >
      <ui-button
        variant="primary"
        (click)="onQuickAction(floatingButton)"
        *ngIf="floatingButton.show"
      >
        {{ floatingButton.name }}
      </ui-button>
    </ng-container>
  </div>
</ng-template>
