<form [formGroup]="pageForm">
  <div class="flex flex-col items-center" [ngSwitch]="step">
    <!-- Selection of type of content -->
    <ng-container *ngSwitchCase="1">
      <!-- Select a type of page -->
      <h2>{{ 'pages.application.addPage.selectType' | translate }}</h2>
      <shared-content-choice
        class="mt-4"
        formControlName="type"
        [contentTypes]="contentTypes"
      ></shared-content-choice>
      <ui-divider class="m-8 w-full" [text]="'common.or' | translate"></ui-divider>
      <!-- Select a type of widget -->
      <h2>{{ 'pages.application.addPage.startFromWidget' | translate }}</h2>
      <shared-widget-choice
        class="mt-4"
        [floating]="false"
        [widgetTypes]="availableWidgets"
        (add)="onAddWidget($event)"
      >
      </shared-widget-choice>
    </ng-container>
    <!-- Form selection -->
    <ng-container *ngSwitchCase="2">
      <div class="flex flex-col w-80">
        <!-- Existing form -->
        <div uiFormFieldDirective>
          <ui-graphql-select
            formControlName="content"
            valueField="id"
            textField="name"
            [query]="formsQuery"
            (searchChange)="onSearchChange($event)"
            [filterable]="true"
          ></ui-graphql-select>
        </div>
        <ui-divider [text]="'common.or' | translate" class="my-4"></ui-divider>
        <!-- New form -->
        <ui-button
          class="self-center"
          icon="add"
          category="secondary"
          variant="primary"
          (click)="onAdd()"
          [disabled]="!('create' | able : 'Form')"
        >
          {{ 'models.form.create' | translate }}
        </ui-button>
      </div>
    </ng-container>
  </div>
</form>
<!-- Actions -->
<div class="flex flex-row justify-center mt-16" *ngIf="step !== 1">
  <ui-button [disabled]="step <= 1" (click)="onBack()" class="my-0 mx-1">{{
    'common.back' | translate
  }}</ui-button>
  <ui-button
    class="my-0 mx-1"
    category="secondary"
    variant="primary"
    (click)="onNext()"
    [disabled]="!isStepValid(step)"
  >
    {{ 'common.next' | translate }}
  </ui-button>
</div>
