<!-- Table container -->
<div class="overflow-x-hidden shadow-2lg">
  <!-- Table scroll container -->
  <div class="overflow-x-auto">
    <!-- Records table -->
    <table cdk-table [dataSource]="dataSource">
      <ng-container cdkColumnDef="id">
        <th cdk-header-cell *cdkHeaderCellDef>{{ 'common.id' | translate }}</th>
        <td cdk-cell *cdkCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container cdkColumnDef="createdAt">
        <th cdk-header-cell *cdkHeaderCellDef>
          {{ 'common.createdOn' | translate }}
        </th>
        <td cdk-cell *cdkCellDef="let element">
          {{ element.createdAt | safeDate }}
        </td>
      </ng-container>
      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr
        cdk-row
        *cdkRowDef="let row; columns: displayedColumns"
        (click)="openVersion(row)"
      ></tr>
    </table>
  </div>
</div>
