<ui-dialog size="medium" [closable]="true">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{ 'models.dashboard.dashboardTemplates.manage.few' | translate }}
    </h3>
  </ng-container>

  <ng-container
    ngProjectAs="content"
    *ngIf="dashboardTemplates.length; else emptyTmpl"
  >
    <div class="flex justify-between mb-4">
      <div uiFormFieldDirective [defaultMargin]="false" class="p-0">
        <ui-icon icon="search" uiPrefix></ui-icon>
        <input
          type="text"
          [placeholder]="'common.placeholder.search' | translate"
          [formControl]="searchControl" 
        />
      </div>
    </div>

    <div *ngFor="let dashboardTemplate of dashboardTemplates">
      <div
        class="flex items-center justify-between p-4 bg-white rounded shadow"
        *ngIf="matchesSearch(dashboardTemplate.name ?? '')"
      >
        {{ dashboardTemplate.name }}

        <ui-button
          [isIcon]="true"
          icon="delete"
          variant="danger"
          [uiTooltip]="'common.delete' | translate"
          (click)="onDeleteDashboardTemplate(dashboardTemplate)"
        >
        </ui-button>
      </div>
    </div>
  </ng-container>

  <ng-template #emptyTmpl>
    <!-- Empty indicator -->
    <shared-empty
      [title]="'models.dashboard.dashboardTemplates.none' | translate"
    ></shared-empty>
  </ng-template>

  <ng-container ngProjectAs="actions">
    <ui-button [uiDialogClose] variant="default">{{
      'common.cancel' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      (click)="onSubmit()"
      cdkFocusInitial
    >
      {{ 'common.save' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
