<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && apiConfiguration">
    <div class="page-header">
      <safe-previous-button path="/settings/apiconfigurations"></safe-previous-button>
      <h1 class="page-title">
          {{apiConfiguration?.name}}
      </h1>
      <safe-access [access]="apiConfiguration?.permissions" (save)="saveAccess($event)" *ngIf="apiConfiguration?.canUpdate"></safe-access>
    </div>
    <form [formGroup]="apiForm" *ngIf="apiForm">
        <h1>{{'common.general' | translate}}</h1>
        <div class="form-group">
          <div class="form-group-row">
            <mat-form-field appearance="outline" style="flex: 2;">
              <mat-label>
                {{'common.name' | translate}}
              </mat-label>
              <input matInput formControlName="name" type='text' [placeholder]="'global.namePlaceholder' | translate" />
              <mat-error *ngIf="name?.errors">
                {{'APIConf.warning' | translate}}
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" style="flex: 1;">
              <mat-label>
                {{'common.status' | translate}}
              </mat-label>
              <mat-select formControlName="status">
                <mat-option *ngFor="let statusChoice of statusChoices" [value]=statusChoice>{{
                  ((statusChoice === "active") ?
                      'common.status_active' :
                      ((statusChoice === "pending") ?
                          'common.status_pending' :
                          'common.status_archived'))
                  | translate
                  }}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline" style="flex: 1;">
                <mat-label>
                  {{'models.apiConfiguration.authType' | translate}}
                </mat-label>
                <mat-select formControlName="authType">
                  <mat-option *ngFor="let authTypeChoice of authTypeChoices" [value]=authTypeChoice>{{ authTypeChoice }}</mat-option>
                </mat-select>
              </mat-form-field>
          </div>

          <h1>{{'APIConf.endpoint' | translate}}</h1>
          <div class="form-group-row">
            <mat-form-field appearance="outline" style="flex: 2;">
              <mat-label>
                {{'APIConf.main' | translate}}
              </mat-label>
              <input matInput formControlName="endpoint" type='text'
              [placeholder]="'APIConf.mainPlaceholder' | translate" />
            </mat-form-field>

            <mat-form-field appearance="outline" style="flex: 1;">
              <mat-label>
                {{'APIConf.ping' | translate}}
              </mat-label>
              <input matInput formControlName="pingUrl" type='text'
              [placeholder]="'APIConf.pingPlaceholder' | translate" />
            </mat-form-field>

            <div class="ping-button-container">
              <safe-button icon="online_prediction" category="secondary" variant="primary" (click)="onPing()" [disabled]="!apiForm.value.pingUrl || !apiForm.value.endpoint">
                {{'APIConf.send' | translate}}
              </safe-button>
            </div>

          </div>

          <h1>{{'APIConf.auth' | translate}}</h1>
          <ng-container *ngIf="apiForm.value.authType === 'serviceToService'">
            <div formGroupName="settings" class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>
                  {{'APIConf.tokenURL' | translate}}
                </mat-label>
                <input matInput formControlName="authTargetUrl" type='text'
                [placeholder]="'APIConf.tokenURLPlaceholder' | translate" onfocus="this.value=''"/>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>
                  {{'APIConf.id' | translate}}
                </mat-label>
                <input matInput formControlName="apiClientID" type='text'
                [placeholder]="'APIConf.idPlaceholder' | translate" onfocus="this.value=''"/>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>
                  {{'APIConf.secret' | translate}}
                </mat-label>
                <input matInput formControlName="safeSecret" type='text'
                [placeholder]="'APIConf.secretPlaceholder' | translate" onfocus="this.value=''"/>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>
                  {{'APIConf.scope' | translate}}
                </mat-label>
                <input matInput formControlName="scope" type='text'
                [placeholder]="'APIConf.scopePlaceholder' | translate" onfocus="this.value=''"/>
              </mat-form-field>
            </div>
          </ng-container>
          <ng-container *ngIf="apiForm.value.authType === 'userToService'">
            <div formGroupName="settings" class="form-group">
              <mat-form-field appearance="outline">
                <mat-label>
                  {{'APIConf.token' | translate}}
                </mat-label>
                <input matInput formControlName="token" type='text'
                [placeholder]="'APIConf.tokenPlaceholder' | translate" onfocus="this.value=''"/>
              </mat-form-field>
            </div>
          </ng-container>
        </div>
        <safe-button category="secondary" variant="primary" (click)="onSave()" [disabled]="apiForm.invalid || !apiForm.dirty">
          {{'common.save' | translate}}
        </safe-button>
      </form>
</ng-container>
