<safe-modal size="small">
  <h1 mat-dialog-title>{{ 'models.resource.create' | translate }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="addForm">
      <div class="flex flex-col">
        <div uiFormFieldDirective>
          <label>{{ 'common.name' | translate }}</label>
          <input
            formControlName="name"
            type="text"
            placeholder="Enter a name"
          />
        </div>
      </div>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <ui-button (click)="onClose()">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      [mat-dialog-close]="addForm.value"
      cdkFocusInitial
      [disabled]="!addForm.valid"
    >
      {{ 'common.create' | translate }}
    </ui-button>
  </div>
</safe-modal>
