<ui-dialog size="small">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">{{ 'models.resource.create' | translate }}</h3>
  </ng-container>
  <ng-container ngProjectAs="content">
    <form [formGroup]="addForm">
      <div class="flex flex-col">
        <div uiFormFieldDirective>
          <label>{{ 'common.name' | translate }}</label>
          <input
            formControlName="name"
            type="text"
            placeholder="Enter a name"
          />
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <ui-button uiDialogClose variant="default">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="addForm.value"
      cdkFocusInitial
      [disabled]="!addForm.valid"
    >
      {{ 'common.create' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
