<ui-dialog size="small">
  <ng-container ngProjectAs="header">
    <h1>{{ 'models.resource.create' | translate }}</h1>
  </ng-container>
  <ng-container ngProjectAs="content">
    <form [formGroup]="addForm">
      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'common.name' | translate }}</mat-label>
          <input
            matInput
            formControlName="name"
            type="text"
            placeholder="Enter a name"
          />
        </mat-form-field>
      </div>
    </form>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <safe-button (click)="onClose()">{{
      'common.close' | translate
    }}</safe-button>
    <safe-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="addForm.value"
      cdkFocusInitial
      [disabled]="!addForm.valid"
    >
      {{ 'common.create' | translate }}
    </safe-button>
  </ng-container>
</ui-dialog>
