<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && workflow">
    <mat-horizontal-stepper (selectionChange)="stepChange($event)">
        <mat-step *ngFor="let step of this.steps; let i = index" completed="false" label="{{step.name}}">
            <router-outlet *ngIf="i === selectedIndex"></router-outlet>
            <div class="buttons">
                <button mat-button class="next-button" matStepperNext>Next</button>
                <button mat-button class="back-button" *ngIf="i > 0" matStepperPrevious>Back</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</ng-container>
