.mat-stepper-vertical, .mat-stepper-horizontal {
    background-color: transparent;
}

.nav-buttons {
    margin-top: 20px;
    .next-button {
        float: right;
    }
    
    .back-button {
        float: left;
    }
}
