<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && workflow">
    <div class="step-list-container">
        <mat-divider></mat-divider>
        <div class="step-list">
            <div class="step-box" *ngFor="let step of steps" (click)="onStepClick(step)" [class.selected]="step === selectedStep">
                {{step.name}}
            </div>
        </div>
        <mat-divider></mat-divider>
    </div>
    <router-outlet></router-outlet>
</ng-container>
