<ui-dialog size="medium">
  <ng-container ngProjectAs="header">
    <h1>
      {{
        data.subscription
          ? ('common.editObject'
            | translate : { name: 'common.subscription.one' | translate })
          : ('models.subscription.new' | translate)
      }}
    </h1>
  </ng-container>
  <ng-container ngProjectAs="content">
    <form [formGroup]="subscriptionForm">
      <div class="flex flex-col">
        <div uiFormFieldDirective>
          <label>{{ 'common.title' | translate }}</label>
          <input
            type="text"
            [placeholder]="'common.placeholder.title' | translate"
            formControlName="title"
          />
        </div>
        <mat-form-field appearance="outline">
          <mat-label>{{
            'components.application.subscription.modal.listenTo' | translate
          }}</mat-label>
          <input
            type="text"
            [placeholder]="
              'components.application.subscription.modal.placeholder.listenTo'
                | translate
            "
            matInput
            formControlName="routingKey"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            autoActiveFirstOption
            #auto="matAutocomplete"
            #applicationSelect
            (opened)="onOpenApplicationSelect()"
          >
            <mat-optgroup
              *ngFor="let application of applications$ | async"
              [label]="application.name || ''"
            >
              <mat-option
                *ngFor="let channel of application.channels"
                [value]="channel.routingKey"
              >
                {{ channel.title }}
              </mat-option>
            </mat-optgroup>
          </mat-autocomplete>
          <ui-button
            *ngIf="routingKey"
            matSuffix
            [isIcon]="true"
            icon="close"
            [ariaLabel]="
              'components.application.subscription.modal.routingKey.clear.ariaLabel'
                | translate
            "
            (click)="routingKey = ''"
          ></ui-button>
          <safe-icon
            icon="info"
            class="cursor-pointer"
            variant="'grey'"
            matSuffix
            [uiTooltip]="
              'components.application.subscription.modal.hint.listenTo'
                | translate
            "
          ></safe-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{
            'components.record.convert.select' | translate
          }}</mat-label>
          <safe-graphql-select
            valueField="id"
            textField="name"
            [query]="formsQuery"
            formControlName="convertTo"
            [selectedElements]="[defaultForm]"
            (searchChange)="onSearchChange($event)"
            [filterable]="true"
          ></safe-graphql-select>
        </mat-form-field>          
        <div uiFormFieldDirective>
          <ui-select-menu formControlName="channel">
            <ui-select-option
              *ngFor="let channel of data.channels"
              [value]="channel.id"
            >
              {{ channel.title }}
            </ui-select-option>
          </ui-select-menu>
        </div>
      </div>
    </form>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <ui-button (click)="onClose()">{{ 'common.close' | translate }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="subscriptionForm.value"
      cdkFocusInitial
      [disabled]="!subscriptionForm.valid"
    >
      {{ (data.subscription ? 'common.update' : 'common.create') | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
