<safe-modal size="medium">
  <h1 mat-dialog-title>{{ 'models.form.new' | translate }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'common.name' | translate }}</mat-label>
          <input
            matInput
            formControlName="name"
            type="text"
            placeholder="Enter a name"
          />
        </mat-form-field>
        <mat-radio-group
          formControlName="newResource"
          class="flex flex-col mb-5 gap-1"
        >
          <mat-radio-button [value]="true">
            {{ 'components.form.create.choice.resource' | translate }}
            <safe-icon
              icon="info_outline"
              variant="grey"
              [inline]="true"
              [size]="18"
              [matTooltip]="
                'components.form.create.tooltip.resource' | translate
              "
            ></safe-icon>
          </mat-radio-button>
          <mat-radio-button [value]="false">
            {{ 'components.form.create.choice.inherit' | translate }}
            <safe-icon
              icon="info_outline"
              variant="grey"
              [inline]="true"
              [size]="18"
              [matTooltip]="
                'components.form.create.tooltip.inherit' | translate
              "
            ></safe-icon>
          </mat-radio-button>
        </mat-radio-group>
        <ng-container *ngIf="!form.value.newResource">
          <mat-form-field appearance="outline">
            <mat-label>{{
              'components.form.create.template.title' | translate
            }}</mat-label>
            <safe-graphql-select
              valueField="id"
              textField="name"
              [query]="resourcesQuery"
              formControlName="resource"
            >
            </safe-graphql-select>
          </mat-form-field>
          <ng-container *ngIf="form.controls.resource.value !== null">
            <mat-slide-toggle formControlName="inheritsTemplate" class="mb-5">
              {{ 'components.form.create.choice.template' | translate }}
              <safe-icon
                icon="info_outline"
                variant="grey"
                [inline]="true"
                [size]="18"
                [matTooltip]="
                  'components.form.create.tooltip.template' | translate
                "
              ></safe-icon>
            </mat-slide-toggle>
            <ng-container *ngIf="form.controls.inheritsTemplate.value">
              <mat-form-field appearance="outline">
                <mat-label>{{
                  'components.form.create.template.from' | translate
                }}</mat-label>
                <mat-select
                  formControlName="template"
                  [placeholder]="
                    'components.form.create.template.placeholder' | translate
                  "
                >
                  <mat-option
                    *ngFor="let template of templates"
                    [value]="template.id"
                  >
                    {{ template.name }}
                    <mat-chip-list *ngIf="template.core" class="core-form rounded-lg">
                      <mat-chip class="primary-chip" disabled>{{
                        'models.form.core' | translate
                      }}</mat-chip>
                    </mat-chip-list>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <safe-button (click)="onClose()">{{
      'common.close' | translate
    }}</safe-button>
    <safe-button
      category="secondary"
      variant="primary"
      [mat-dialog-close]="form.value"
      cdkFocusInitial
      [disabled]="!form.valid"
    >
      {{ 'common.create' | translate }}
    </safe-button>
  </div>
</safe-modal>
