<safe-modal size="small">
  <h1 mat-dialog-title>
    {{
      data.add
        ? ('models.positionAttribute.new' | translate)
        : ('common.editObject'
          | translate : { name: 'common.positionAttribute.one' | translate })
    }}
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="positionForm" class="flex flex-col">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'common.title' | translate }}</mat-label>
        <input
          matInput
          formControlName="title"
          type="text"
          [placeholder]="
            data.add ? ('common.placeholder.title' | translate) : data.title
          "
        />
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <ui-button (click)="onClose()">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      [category]="category.SECONDARY"
      [variant]="variant.PRIMARY"
      [mat-dialog-close]="positionForm.value"
      cdkFocusInitial
      [disabled]="!positionForm.valid"
    >
      {{ (data.add ? 'common.create' : 'common.update') | translate }}
    </ui-button>
  </div>
</safe-modal>
