<ui-dialog size="small">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{
        data.add
          ? ('models.positionAttribute.new' | translate)
          : ('models.positionAttribute.edit' | translate)
      }}
    </h3>
  </ng-container>
  <ng-container ngProjectAs="content">
    <form [formGroup]="positionForm" class="flex flex-col">
      <div uiFormFieldDirective>
        <label>{{ 'common.title' | translate }}</label>
        <input
          formControlName="title"
          type="text"
          [placeholder]="
            data.add ? ('common.placeholder.title' | translate) : data.title
          "
        />
      </div>
    </form>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <ui-button uiDialogClose variant="default">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="positionForm.value"
      cdkFocusInitial
      [disabled]="!positionForm.valid"
    >
      {{ (data.add ? 'common.create' : 'common.update') | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
