<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
  <div class="mb-4 flex flex-row justify-end">
    <safe-button
      icon="add"
      category="secondary"
      variant="primary"
      (click)="onAdd()"
    >
      {{ 'pages.application.positionAttributes.create' | translate }}
    </safe-button>
  </div>
  <!-- Table container -->
  <div class="overflow-x-hidden shadow-2lg">
    <!-- Table scroll container -->
    <div class="overflow-x-auto">
      <table mat-table [dataSource]="positionCategories">
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>
            {{ 'common.title' | translate }}
          </th>
          <td mat-cell *matCellDef="let element" class="font-bold">
            {{ element.title }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions" [stickyEnd]="true">
          <th mat-header-cell *matHeaderCellDef class="w-16"></th>
          <td mat-cell *matCellDef="let element">
            <safe-button
              [isIcon]="true"
              icon="more_vert"
              [uiMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            >
            </safe-button>
            <ui-menu #menu>
              <button class="menu-item" (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
                {{ 'common.edit' | translate }}
              </button>
              <button class="menu-item" color="warn" (click)="onDelete(element)">
                <mat-icon>delete</mat-icon>
                {{ 'common.delete' | translate }}
              </button>
            </ui-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          class="cursor-pointer"
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          [routerLink]="[row.id]"
        ></tr>
      </table>
    </div>
  </div>
</ng-container>
