<ui-spinner *ngIf="loading"></ui-spinner>
<ng-container *ngIf="!loading">
  <div class="mb-4 flex flex-row justify-end">
    <safe-button
      icon="add"
      category="secondary"
      variant="primary"
      (click)="onAdd()"
    >
      {{ 'pages.application.positionAttributes.create' | translate }}
    </safe-button>
  </div>
  <!-- Table container -->
  <div class="overflow-x-hidden shadow-2lg">
    <!-- Table scroll container -->
    <div class="overflow-x-auto">
      <table cdk-table uiTableStyle uiTableWrapper [dataSource]="positionCategories">
        <ng-container cdkColumnDef="title">
          <th uiCellHeader *cdkHeaderCellDef>
            {{ 'common.title' | translate }}
          </th>
          <td uiCell *cdkCellDef="let element" class="font-bold">
            {{ element.title }}
          </td>
        </ng-container>

        <ng-container cdkColumnDef="actions" [stickyEnd]="true">
          <th uiCellHeader *cdkHeaderCellDef class="w-16"></th>
          <td uiCell *cdkCellDef="let element">
            <safe-button
              [isIcon]="true"
              icon="more_vert"
              [uiMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            >
            </safe-button>
            <ui-menu #menu>
              <button uiMenuItem (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
                {{ 'common.edit' | translate }}
              </button>
              <button uiMenuItem color="warn" (click)="onDelete(element)">
                <mat-icon>delete</mat-icon>
                {{ 'common.delete' | translate }}
              </button>
            </ui-menu>
          </td>
        </ng-container>

        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr
          class="cursor-pointer"
          cdk-row
          *cdkRowDef="let row; columns: displayedColumns"
          [routerLink]="[row.id]"
        ></tr>
      </table>
    </div>
  </div>
</ng-container>
