<safe-modal size="medium">
  <h1 mat-dialog-title>{{ 'models.form.new' | translate }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="form">
      <div class="flex flex-col">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'common.name' | translate }}</mat-label>
          <input
            matInput
            formControlName="name"
            type="text"
            placeholder="Enter a name"
          />
        </mat-form-field>
        <div
          class="flex flex-col mb-5 gap-1"
          formControlName="newResource"
          uiRadioGroupDirective="newResourceOptions"
        >
          <ui-radio
            [value]="true"
            [checked]="form.get('newResource')?.value === true"
          >
            <ng-container ngProjectAs="label">
              {{ 'components.form.create.choice.resource' | translate }}
              <ui-icon
                [size]="18"
                icon="info_outline"
                [variant]="variant.GREY"
                [uiTooltip]="
                  'components.form.create.tooltip.resource' | translate
                "
              >
              </ui-icon>
            </ng-container>
          </ui-radio>
          <ui-radio
            [value]="false"
            [checked]="form.get('newResource')?.value === false"
          >
            <ng-container ngProjectAs="label">
              {{ 'components.form.create.choice.inherit' | translate }}
              <ui-icon
                [size]="18"
                icon="info_outline"
                [variant]="variant.GREY"
                [uiTooltip]="
                  'components.form.create.tooltip.inherit' | translate
                "
              >
              </ui-icon>
            </ng-container>
          </ui-radio>
        </div>
        <ng-container *ngIf="!form.value.newResource">
          <mat-form-field appearance="outline">
            <mat-label>{{
              'components.form.create.template.title' | translate
            }}</mat-label>
            <safe-graphql-select
              valueField="id"
              textField="name"
              [query]="resourcesQuery"
              formControlName="resource"
              (searchChange)="onResourceSearchChange($event)"
              [filterable]="true"
            >
            </safe-graphql-select>
          </mat-form-field>
          <ng-container *ngIf="form.controls.resource.value !== null">
            <ui-toggle formControlName="inheritsTemplate" class="mb-5">
              <ng-container ngProjectAs="label">
                {{ 'components.form.create.choice.template' | translate }}
                <safe-icon
                  icon="info_outline"
                  variant="grey"
                  [inline]="true"
                  [size]="18"
                  [uiTooltip]="
                    'components.form.create.tooltip.template' | translate
                  "
                ></safe-icon>
              </ng-container>
            </ui-toggle>
            <ng-container *ngIf="form.controls.inheritsTemplate.value">
              <mat-form-field appearance="outline">
                <mat-label>{{
                  'components.form.create.template.from' | translate
                }}</mat-label>
                <mat-select
                  formControlName="template"
                  [placeholder]="
                    'components.form.create.template.placeholder' | translate
                  "
                >
                  <mat-option
                    *ngFor="let template of templates"
                    [value]="template.id"
                  >
                    {{ template.name }}
                    <mat-chip-list
                      *ngIf="template.core"
                      class="float-right py-1.5 px-0 rounded-lg"
                    >
                      <mat-chip class="primary-chip !rounded-lg" disabled>{{
                        'models.form.core' | translate
                      }}</mat-chip>
                    </mat-chip-list>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <ui-button (click)="onClose()">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      [category]="category.SECONDARY"
      [variant]="variant.PRIMARY"
      [mat-dialog-close]="form.value"
      cdkFocusInitial
      [disabled]="!form.valid"
    >
      {{ 'common.create' | translate }}
    </ui-button>
  </div>
</safe-modal>
