<ui-dialog size="medium">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">{{ 'models.form.new' | translate }}</h3>
  </ng-container>
  <ng-container ngProjectAs="content">
    <form [formGroup]="form">
      <div class="flex flex-col">
        <div uiFormFieldDirective>
          <label>{{ 'common.name' | translate }}</label>
          <input
            formControlName="name"
            type="text"
            placeholder="Enter a name"
          />
        </div>
        <div
          class="flex flex-col mb-5 gap-1"
          formControlName="type"
          uiRadioGroupDirective="typeOptions"
        >
          <ui-radio value="core">
            <ng-container ngProjectAs="label">
              <span class="flex items-center gap-1">
                {{ 'components.form.create.choice.resource' | translate }}
                <ui-icon
                  class="cursor-help"
                  [size]="18"
                  icon="info_outline"
                  variant="grey"
                  [uiTooltip]="
                    'components.form.create.tooltip.resource' | translate
                  "
                >
                </ui-icon>
              </span>
            </ng-container>
          </ui-radio>
          <ui-radio value="template">
            <ng-container ngProjectAs="label">
              <span class="flex items-center gap-1">
                {{ 'components.form.create.choice.inherit' | translate }}
                <ui-icon
                  class="cursor-help"
                  [size]="18"
                  icon="info_outline"
                  variant="grey"
                  [uiTooltip]="
                    'components.form.create.tooltip.inherit' | translate
                  "
                >
                </ui-icon>
              </span>
            </ng-container>
          </ui-radio>
          <ui-radio value="kobo">
            <ng-container ngProjectAs="label">
              <span class="flex items-center gap-1">
                {{ 'components.form.create.choice.kobo' | translate }}
                <ui-icon
                  class="cursor-help"
                  [size]="18"
                  icon="info_outline"
                  variant="grey"
                  [uiTooltip]="
                    'components.form.create.tooltip.kobo' | translate
                  "
                >
                </ui-icon>
              </span>
            </ng-container>
          </ui-radio>
        </div>
        <ng-container *ngIf="form.value.type === 'template'">
          <div uiFormFieldDirective>
            <label>{{
              'components.form.create.template.title' | translate
            }}</label>
            <shared-resource-select
              formControlName="resource"
              [placeholder]="
                'components.form.create.template.selectResource' | translate
              "
            ></shared-resource-select>
          </div>
          <ng-container *ngIf="form.controls.resource.value !== null">
            <ui-toggle formControlName="inheritsTemplate" class="mb-5">
              <ng-container ngProjectAs="label">
                {{ 'components.form.create.choice.template' | translate }}
                <ui-icon
                  class="ml-1 cursor-help self-center"
                  icon="info_outline"
                  variant="grey"
                  [size]="18"
                  [uiTooltip]="
                    'components.form.create.tooltip.template' | translate
                  "
                ></ui-icon>
              </ng-container>
            </ui-toggle>
            <ng-container *ngIf="form.controls.inheritsTemplate.value">
              <div uiFormFieldDirective [outline]="false">
                <label>{{
                  'components.form.create.template.from' | translate
                }}</label>
                <ui-select-menu
                  formControlName="template"
                  [customTemplate]="{
                    template: formOptionTmpl,
                    context: { $implicit: selectedTemplate }
                  }"
                >
                  <ui-select-option
                    *ngFor="let template of templates"
                    [value]="template.id"
                  >
                    <ng-container
                      *ngTemplateOutlet="
                        formOptionTmpl;
                        context: { $implicit: template }
                      "
                    ></ng-container>
                  </ui-select-option>
                </ui-select-menu>
              </div>
            </ng-container>
          </ng-container>
        </ng-container>

        <ng-container *ngIf="form.value.type === 'kobo'">
          <!-- API Configuration -->
          <div uiFormFieldDirective class="flex-auto">
            <label>{{ 'common.apiConfiguration.one' | translate }}</label>
            <ui-graphql-select
              valueField="id"
              textField="name"
              [query]="apiConfigurationsQuery"
              formControlName="apiConfiguration"
              [selectedElements]="[selectedApiConfiguration]"
              [filterable]="true"
              (searchChange)="onSearchChange($event)"
              [placeholder]="
                'components.form.create.kobo.apiConfiguration.placeholder'
                  | translate
              "
            >
            </ui-graphql-select>
          </div>
          <div uiFormFieldDirective>
            <label>{{ 'components.form.create.kobo.label' | translate }}</label>
            <input
              formControlName="kobo"
              type="text"
              [placeholder]="
                'components.form.create.kobo.placeholder' | translate
              "
            />
          </div>
        </ng-container>
      </div>
    </form>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <ui-button [uiDialogClose] variant="default">{{
      'common.close' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="form.value"
      cdkFocusInitial
      [disabled]="!form.valid"
    >
      {{ 'common.create' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>

<!-- Template to display templates available -->
<ng-template #formOptionTmpl let-template>
  <div class="flex gap-2 items-center">
    <div uiChipList *ngIf="template?.core">
      <ui-chip class="!rounded-lg" variant="grey">
        {{ 'models.form.core' | translate }}
      </ui-chip>
    </div>
    {{ template?.name }}
  </div>
</ng-template>
