<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
  <div class="mb-4 flex flex-row justify-end">
    <safe-button
      icon="add"
      category="secondary"
      variant="primary"
      (click)="onAdd()"
    >
      {{ 'models.application.subscription.create' | translate }}
    </safe-button>
  </div>
  <!-- Table container -->
  <div class="overflow-x-hidden shadow-2lg">
    <!-- Table scroll container -->
    <div class="overflow-x-auto">
      <table cdk-table uiTableWrapper [dataSource]="subscriptions">
        <ng-container cdkColumnDef="title">
          <th cdk-header-cell *cdkHeaderCellDef>
            {{ 'common.title' | translate }}
          </th>
          <td cdk-cell *cdkCellDef="let element" class="font-bold">
            {{ element.title }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="convertTo">
          <th cdk-header-cell *cdkHeaderCellDef>
            {{ 'components.record.convert.select' | translate }}
          </th>
          <td cdk-cell *cdkCellDef="let element">
            {{ element.convertTo ? element.convertTo.name : '-' }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="channel">
          <th cdk-header-cell *cdkHeaderCellDef>
            {{ 'components.channel.dropdown.select' | translate }}
          </th>
          <td cdk-cell *cdkCellDef="let element">
            {{ element.channel ? element.channel.title : '-' }}
          </td>
        </ng-container>
        <ng-container cdkColumnDef="actions" [stickyEnd]="true">
          <th cdk-header-cell *cdkHeaderCellDef class="w-16"></th>
          <td cdk-cell *cdkCellDef="let element">
            <safe-button
              [isIcon]="true"
              icon="more_vert"
              [uiMenuTriggerFor]="menu"
              (click)="$event.stopPropagation()"
            >
            </safe-button>
            <ui-menu #menu>
              <button uiMenuItem (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
                {{ 'common.edit' | translate }}
              </button>
              <ui-divider class="m-0"></ui-divider>
              <button uiMenuItem color="warn" (click)="onDelete(element)">
                <mat-icon>delete</mat-icon>
                {{ 'common.delete' | translate }}
              </button>
            </ui-menu>
          </td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr *cdkRowDef="let row; columns: displayedColumns" cdk-row></tr>
      </table>
    </div>
  </div>
</ng-container>
