<ng-container *ngIf="!loading; else loadingTmpl">
  <ng-container *ngIf="subscriptions.length">
    <div class="flex justify-end">
      <ng-container *ngTemplateOutlet="newSubscription"></ng-container>
    </div>
  </ng-container>
  <ng-template #newSubscription>
    <ui-button
      icon="add"
      category="secondary"
      variant="primary"
      (click)="onAdd()"
    >
      {{ 'models.application.subscription.create' | translate }}
    </ui-button>
  </ng-template>
  <ng-container *ngIf="subscriptions.length; else emptyTmpl">
    <!-- Table container -->
    <div class="mt-4 overflow-x-hidden shadow-2lg">
      <!-- Table scroll container -->
      <div class="overflow-x-auto">
        <table cdk-table uiTableWrapper [dataSource]="subscriptions">
          <ng-container cdkColumnDef="title">
            <th uiCellHeader *cdkHeaderCellDef>
              {{ 'common.title' | translate }}
            </th>
            <td
              uiCell
              *cdkCellDef="let element"
              class="!text-gray-900 !font-medium max-w-[30vw]"
            >
              {{ element.title }}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="convertTo">
            <th uiCellHeader *cdkHeaderCellDef>
              {{ 'components.record.convert.select' | translate }}
            </th>
            <td uiCell *cdkCellDef="let element">
              {{ element.convertTo ? element.convertTo.name : '-' }}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="channel">
            <th uiCellHeader *cdkHeaderCellDef>
              {{ 'components.channel.dropdown.select' | translate }}
            </th>
            <td uiCell *cdkCellDef="let element">
              {{ element.channel ? element.channel.title : '-' }}
            </td>
          </ng-container>
          <ng-container cdkColumnDef="actions" [stickyEnd]="true">
            <th uiCellHeader *cdkHeaderCellDef class="w-16"></th>
            <td uiCell *cdkCellDef="let element">
              <ui-button
                [isIcon]="true"
                icon="more_vert"
                [uiMenuTriggerFor]="menu"
                (click)="$event.stopPropagation()"
                [uiTooltip]="'common.actions' | translate"
              >
              </ui-button>
              <ui-menu #menu>
                <button uiMenuItem (click)="onEdit(element)">
                  <ui-icon icon="edit" variant="grey"></ui-icon>
                  {{ 'common.edit' | translate }}
                </button>
                <ui-divider class="py-1"></ui-divider>
                <button uiMenuItem (click)="onDelete(element)">
                  <ui-icon icon="delete" variant="danger"></ui-icon>
                  {{ 'common.delete' | translate }}
                </button>
              </ui-menu>
            </td>
          </ng-container>
          <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
          <tr *cdkRowDef="let row; columns: displayedColumns" cdk-row></tr>
        </table>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyTmpl>
    <!-- Empty indicator -->
    <shared-empty
      [title]="'common.subscription.none' | translate"
      [footerTemplate]="newSubscription"
    ></shared-empty>
  </ng-template>
</ng-container>
<ng-template #loadingTmpl>
  <!-- Loading indicator -->
  <shared-skeleton-table [columns]="displayedColumns" [actions]="true">
  </shared-skeleton-table>
</ng-template>
