<ng-container *ngIf="form">
  <div class="flex flex-wrap items-center justify-between gap-4 mx-8">
    <div class="flex items-center overflow-hidden">
      <shared-editable-text
        [text]="form.name"
        [canEdit]="canEditName"
        (onChange)="saveName($event)"
        (formActiveEvent)="formActive = $event"
      >
        <h1 class="!m-0 overflow-hidden text-ellipsis">
          {{ form.name }} {{ activeVersion ? activeVersion.id : '' }}
        </h1>
      </shared-editable-text>

      <shared-access
        [access]="form.permissions"
        [objectTypeName]="'common.form.one' | translate"
        (save)="saveAccess($event)"
        *ngIf="form.canUpdate && !formActive"
      ></shared-access>
    </div>
    <div class="flex items-center" *ngIf="!formActive">
      <div uiFormFieldDirective [outline]="false" class="p-0">
        <label>{{ 'common.status' | translate }}</label>
        <ui-select-menu
          [formControl]="statusControl"
          [customTemplate]="{
            template: statusTemplate,
            context: { $implicit: statusControl.value }
          }"
        >
          <ui-select-option
            *ngFor="let status of statusChoices"
            [value]="status"
          >
            <ng-container
              *ngTemplateOutlet="statusTemplate; context: { $implicit: status }"
            ></ng-container>
          </ui-select-option>
        </ui-select-menu>
      </div>
    </div>
  </div>
  <app-history
    *ngIf="activeVersions"
    [dataSource]="form.versions || []"
    (open)="onOpenVersion($event)"
  ></app-history>
  <div class="w-full grow relative">
    <shared-form-builder
      class="absolute top-0 left-0 w-full h-full"
      [form]="form"
      (save)="onSave($event)"
      (formChange)="formStructureChange($event)"
    ></shared-form-builder>
  </div>
</ng-container>

<!-- Template to display status -->
<ng-template #statusTemplate let-status>
  <shared-status-options [status]="status"></shared-status-options>
</ng-template>
