<safe-modal>
  <h1 mat-dialog-title>
    {{
      'common.editObject' | translate: { name: 'common.channel.one' | translate }
    }}
  </h1>
  <div mat-dialog-content>
    <form [formGroup]="roleForm">
      <div class="form-group">
        <mat-form-field>
          <mat-label>{{ 'common.title' | translate }}</mat-label>
          <input
            matInput
            formControlName="title"
            type="text"
            [placeholder]="'common.placeholder.title' | translate"
          />
        </mat-form-field>
      </div>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">
      {{ 'common.close' | translate }}
    </button>
    <button
      mat-flat-button
      [mat-dialog-close]="roleForm.value"
      cdkFocusInitial
      color="primary"
      [disabled]="!roleForm.valid"
    >
      {{ 'common.update' | translate }}
    </button>
  </div>
</safe-modal>
