<h1 mat-dialog-title>{{'channels.edit.titleEdit' | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]="roleForm">
        <div class="form-group">
            <mat-form-field>
                <mat-label>{{'channels.edit.title' | translate}}</mat-label>
                <input matInput formControlName="title" type='text' />
            </mat-form-field>
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onClose()">{{'channels.edit.close' | translate}}</button>
    <button mat-flat-button [mat-dialog-close]="roleForm.value"
    cdkFocusInitial color="primary" [disabled]="!roleForm.valid">
        {{'channels.edit.confirm' | translate}}
    </button>
</div>