<ui-spinner *ngIf="loading"></ui-spinner>
<ng-container *ngIf="!loading && form">
  <!-- Page header -->
  <div class="flex flex-wrap items-center justify-between mb-6 gap-4">
    <div class="flex items-center overflow-hidden">
      <!-- Page name and name edition -->
      <shared-editable-text
        [text]="page ? page.name || '' : step ? step.name || '' : ''"
        [canEdit]="canEditName"
        (onChange)="saveName($event)"
        (formActiveEvent)="formActive = $event"
      >
        <h1 class="!m-0 overflow-hidden text-ellipsis">
          {{ page ? page.name || '' : step ? step.name || '' : '' }}
        </h1>
      </shared-editable-text>
      <!-- Page settings -->
      <ui-button
        *ngIf="!formActive"
        variant="grey"
        (click)="onOpenSettings()"
        [isIcon]="true"
        icon="settings"
        [uiTooltip]="'common.settings' | translate"
      ></ui-button>
    </div>
    <!-- Page actions -->
    <div class="flex items-center gap-x-3" *ngIf="!formActive">
      <ui-button
        icon="touch_app"
        variant="primary"
        (click)="onEditButtonActions()"
      >
        {{ 'models.dashboard.actionButtons.edit.few' | translate }}
      </ui-button>
      <!-- Edit name -->
      <ui-button
        icon="edit"
        category="secondary"
        variant="primary"
        (click)="editForm()"
        *ngIf="form.canUpdate"
      >
        {{ 'models.form.edit' | translate }}
      </ui-button>
    </div>
  </div>
  <!-- Form -->
  <shared-form [form]="form" (save)="onComplete($event)"></shared-form>
  <!-- Form actions -->
  <div
    class="mt-6 flex justify-center gap-x-4"
    *ngIf="completed && !form.uniqueRecord && !hideNewRecord"
  >
    <!-- Action buttons -->
    <shared-action-buttons [actionButtons]="actionButtons">
      <!-- New record -->
      <ui-button
        [isBlock]="!actionButtons.length"
        class="max-w-xs"
        variant="primary"
        category="secondary"
        (click)="clearForm()"
      >
        {{ 'models.record.new' | translate }}
      </ui-button>
    </shared-action-buttons>
  </div>
</ng-container>
