<form [formGroup]="settingsForm" *ngIf="settingsForm">
  <!-- Header -->
  <div class="flex gap-2 flex-wrap justify-between items-start">
    <div class="flex items-center gap-1">
      <h1 class="!m-0">{{ 'common.general' | translate }}</h1>
      <!-- Access -->
      <shared-access
        [access]="application?.permissions"
        [objectTypeName]="'common.application.one' | translate"
        (save)="saveAccess($event)"
      ></shared-access>
    </div>
    <!-- Selection of status -->
    <div uiFormFieldDirective [outline]="false" class="p-0">
      <label>{{ 'common.status' | translate }}</label>
      <ui-select-menu
        formControlName="status"
        [customTemplate]="{
          template: statusTemplate,
          context: { $implicit: settingsForm.get('status')!.value }
        }"
      >
        <ui-select-option *ngFor="let status of statusChoices" [value]="status">
          <ng-container
            *ngTemplateOutlet="statusTemplate; context: { $implicit: status }"
          ></ng-container>
        </ui-select-option>
      </ui-select-menu>
    </div>
  </div>
  <!-- Settings -->
  <div class="flex flex-col gap-4">
    <div class="flex gap-x-2 flex-wrap">
      <div uiFormFieldDirective class="flex-auto">
        <label>
          {{ 'common.name' | translate }}
        </label>
        <input
          formControlName="name"
          type="text"
          [placeholder]="'common.placeholder.name' | translate"
        />
      </div>
      <div uiFormFieldDirective class="flex-1">
        <label>
          {{ 'models.application.id' | translate }}
        </label>
        <input formControlName="id" type="text" />
      </div>
    </div>
    <div uiFormFieldDirective>
      <label>
        {{ 'models.application.description' | translate }}
      </label>
      <ui-textarea
        formControlName="description"
        [placeholder]="
          'components.application.update.placeholder.description' | translate
        "
        [minRows]="2"
        [maxRows]="5"
        name="textarea"
      >
      </ui-textarea>
    </div>
    <div class="mb-6">
      <ui-toggle formControlName="sideMenu">
        <ng-container ngProjectAs="label">
          {{ 'models.application.menu' | translate }}</ng-container
        >
      </ui-toggle>
    </div>
  </div>
</form>
<!-- Actions -->
<div
  *ngIf="
    application &&
    (application.canUpdate || application.canDelete || 'create'
      | able : 'Application')
  "
  class="mt-2"
>
  <h1>{{ 'pages.application.settings.actions' | translate }}</h1>
  <div class="flex gap-2 flex-wrap">
    <!-- Styling -->
    <ui-button
      *ngIf="application.canUpdate"
      category="secondary"
      variant="primary"
      (click)="onOpenStyle()"
    >
      {{ 'components.application.customStyling' | translate }}
    </ui-button>
    <ui-button
      icon="file_copy"
      category="tertiary"
      variant="primary"
      (click)="onDuplicate()"
      *ngIf="'create' | able : 'Application'"
    >
      {{ 'common.duplicate' | translate }}
    </ui-button>
    <ui-button
      icon="delete"
      category="tertiary"
      variant="danger"
      (click)="onDelete()"
      *ngIf="application.canDelete"
    >
      {{ 'common.delete' | translate }}
    </ui-button>
  </div>
</div>
<!-- Floating div for actions buttons -->
<ui-fixed-wrapper>
  <!-- Save button -->
  <ui-button
    category="secondary"
    variant="primary"
    (click)="onSubmit()"
    [disabled]="settingsForm.invalid || !settingsForm.dirty"
  >
    {{ 'common.saveChanges' | translate }}
  </ui-button>
</ui-fixed-wrapper>
<ng-template #statusTemplate let-status>
  <shared-status-options [status]="status"></shared-status-options>
</ng-template>
