<form [formGroup]="settingsForm" *ngIf="settingsForm">
  <!-- Header -->
  <div class="flex gap-2 flex-wrap justify-between mb-8">
    <h1 class="!m-0">{{ 'common.general' | translate }}</h1>
    <mat-form-field appearance="outline" class="p-0">
      <mat-label>{{ 'common.status' | translate }}</mat-label>
      <mat-select formControlName="status">
        <mat-option value="active">
          {{ 'common.status_active' | translate }}
        </mat-option>
        <mat-option value="pending">
          {{ 'common.status_pending' | translate }}
        </mat-option>
        <mat-option value="archived">
          {{ 'common.status_archived' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- Settings -->
  <div class="flex flex-col">
    <div class="flex gap-x-2 flex-wrap">
      <mat-form-field appearance="outline" class="flex-auto">
        <mat-label>
          {{ 'common.name' | translate }}
        </mat-label>
        <input
          matInput
          formControlName="name"
          type="text"
          [placeholder]="'common.placeholder.name' | translate"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="flex-1">
        <mat-label>
          {{ 'models.application.id' | translate }}
        </mat-label>
        <input matInput formControlName="id" type="text" />
      </mat-form-field>
    </div>

    <ui-textarea
      label="{{ 'models.application.description' | translate }}"
      formControlName="description"
      [placeholder]="
        'components.application.update.placeholder.description' | translate
      "
      [minRows]="2"
      [maxRows]="5"
      name="textarea"
      class="mb-6"
    >
    </ui-textarea>

    <!-- <textarea
        matInput
        formControlName="description"
        [placeholder]="
          'components.application.update.placeholder.description' | translate
        "
        [cdkTextareaAutosize]="true"
        [cdkAutosizeMinRows]="2"
        [cdkAutosizeMaxRows]="5"
      ></textarea> -->
  </div>
  <safe-button
    category="secondary"
    variant="primary"
    (click)="onSubmit()"
    [disabled]="settingsForm.invalid || !settingsForm.dirty"
  >
    {{ 'common.saveChanges' | translate }}
  </safe-button>
</form>
<!-- Actions -->
<div
  *ngIf="application && (application.canUpdate || application.canDelete)"
  class="mt-8"
>
  <h1>{{ 'pages.application.settings.actions' | translate }}</h1>
  <div class="flex gap-2 flex-wrap">
    <!-- Styling -->
    <safe-button category="secondary" variant="primary" (click)="onOpenStyle()">
      {{ 'components.application.customStyling' | translate }}
    </safe-button>
    <safe-button
      icon="file_copy"
      category="tertiary"
      variant="primary"
      (click)="onDuplicate()"
      *ngIf="application.canUpdate"
    >
      {{ 'common.duplicate' | translate }}
    </safe-button>
    <safe-button
      icon="delete"
      category="tertiary"
      variant="danger"
      (click)="onDelete()"
      *ngIf="application.canDelete"
    >
      {{ 'common.delete' | translate }}
    </safe-button>
  </div>
</div>
