
.loading-skeleton {
  height: 100%;
  display: flex;
  justify-content: start;
  gap: 2em;
  flex-direction: column;

  .skeleton-grid{
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
  } 

  .span-2 {
    grid-column: span 2;
  }
  
}