<div [formGroup]="form" class="flex flex-col gap-x-4">
  <!-- Default filter -->
  <shared-list-filter
    [hasSiblingFilters]="true"
    [loading]="loading"
    (showFilters)="show = $event"
  ></shared-list-filter>
  <!-- Advanced filters -->
  <ng-template #expandedFilter>
    <div *ngIf="show" class="flex flex-wrap gap-2 self-start items-end">
      <!-- Date range filter -->
      <div uiFormFieldDirective [defaultMargin]="false">
        <label>{{ 'common.input.dateRange' | translate }}</label>
        <div [formGroup]="form" [uiDateWrapper]="calendar">
          <input
            [uiDatePicker]
            formControlName="startDate"
            [label]="'kendo.datepicker.startLabel' | translate"
          />
          <input
            [uiDatePicker]
            formControlName="endDate"
            [label]="'kendo.datepicker.endLabel' | translate"
          />
          <ui-date-range #calendar> </ui-date-range>
        </div>
      </div>
      <!-- Status filter -->
      <div uiFormFieldDirective [defaultMargin]="false" class="p-0 w-44">
        <label>{{ 'common.status' | translate }}</label>
        <ui-select-menu
          formControlName="status"
          [placeholder]="'common.selectStatus' | translate"
        >
          <ui-select-option value="active">
            {{ 'common.status_active' | translate }}
          </ui-select-option>
          <ui-select-option value="pending">
            {{ 'common.status_pending' | translate }}
          </ui-select-option>
          <ui-select-option value="archived">
            {{ 'common.status_archived' | translate }}
          </ui-select-option>
        </ui-select-menu>
      </div>
      <!-- Core filter -->
      <div uiFormFieldDirective [defaultMargin]="false" class="p-0 w-32">
        <label>{{ 'components.forms.isCore' | translate }}</label>
        <ui-select-menu formControlName="core">
          <ui-select-option>-</ui-select-option>
          <ui-select-option [value]="true">
            {{ 'common.true' | translate }}
          </ui-select-option>
          <ui-select-option [value]="false">
            {{ 'common.false' | translate }}
          </ui-select-option>
        </ui-select-menu>
      </div>
      <!-- Clear filters -->
      <ui-button class="max-sm:!w-auto" variant="danger" (click)="clear()">{{
        'common.filter.clear' | translate
      }}</ui-button>
    </div>
  </ng-template>
</div>
