<div [formGroup]="form" class="flex flex-col gap-4">
  <!-- Default filter -->
  <div class="flex flex-wrap gap-2 sm:items-center flex-col sm:flex-row">
    <!-- Search text filter -->
    <div uiFormFieldDirective>
      <ui-icon [icon]="'search'" uiPrefix></ui-icon>
      <input
        placeholder="{{ 'common.placeholder.search' | translate }}"
        [formControl]="search"
        type="text"
      />
      <ui-spinner [size]="'small'" *ngIf="loading" uiSuffix></ui-spinner>
    </div>
    <!-- Toggle advanced filters -->
    <ui-button
      class="max-sm:!w-auto"
      icon="filter_list"
      category="tertiary"
      variant="primary"
      (click)="show = !show"
    >
      {{
        show
          ? ('common.filter.hide' | translate)
          : ('common.filter.show' | translate)
      }}
    </ui-button>
  </div>
  <!-- Advanced filters -->
  <div
    *ngIf="show"
    class="flex flex-wrap gap-2 sm:items-center flex-col sm:flex-row"
  >
    <!-- Date range filter -->
    <mat-form-field class="p-0 mat-form-field-sm" appearance="outline">
      <mat-label>{{ 'common.input.dateRange' | translate }}</mat-label>
      <mat-date-range-input [rangePicker]="rangePicker">
        <input formControlName="startDate" matStartDate />
        <input formControlName="endDate" matEndDate />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matSuffix
        [for]="rangePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #rangePicker>
        <mat-date-range-picker-actions>
          <ui-button matDateRangePickerCancel (click)="clearDateFilter()">
            {{ 'common.clear' | translate }}
          </ui-button>
          <ui-button
            category="secondary"
            variant="primary"
            matDateRangePickerApply
          >
            {{ 'common.filter.apply' | translate }}
          </ui-button>
        </mat-date-range-picker-actions>
      </mat-date-range-picker>
    </mat-form-field>
    <!-- Status filter -->
    <mat-form-field class="p-0 mat-form-field-sm" appearance="outline">
      <mat-label>{{ 'common.status' | translate }}</mat-label>
      <mat-select formControlName="status">
        <mat-option>-</mat-option>
        <mat-option value="active">
          {{ 'common.status_active' | translate }}
        </mat-option>
        <mat-option value="pending">
          {{ 'common.status_pending' | translate }}
        </mat-option>
        <mat-option value="archived">
          {{ 'common.status_archived' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Core filter -->
    <mat-form-field class="p-0 mat-form-field-sm" appearance="outline">
      <mat-label>{{ 'components.forms.isCore' | translate }}</mat-label>
      <mat-select formControlName="core">
        <mat-option>-</mat-option>
        <mat-option [value]="true">
          {{ 'common.true' | translate }}
        </mat-option>
        <mat-option [value]="false">
          {{ 'common.false' | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- Clear filters -->
    <ui-button class="max-sm:!w-auto" variant="danger" (click)="clear()">{{
      'common.filter.clear' | translate
    }}</ui-button>
  </div>
</div>
