<ui-dialog size="medium" [closable]="true">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{
        (isNew
          ? 'models.dashboard.buttonActions.create'
          : 'models.dashboard.buttonActions.edit.one'
        ) | translate
      }}
    </h3>
  </ng-container>

  <ng-container ngProjectAs="content">
    <form [formGroup]="form" class="flex justify-between w-full flex-col py-2">
      <ui-tabs [vertical]="true">
        <!-- General settings -->
        <ui-tab formGroupName="general">
          <ng-container ngProjectAs="label">
            <ui-icon
              icon="preview"
              [size]="18"
              uiTooltip="{{ 'common.general' | translate }}"
            ></ui-icon>
            <span>{{ 'common.general' | translate }}</span>
          </ng-container>
          <ng-template uiTabContent>
            <div class="flex gap-4 flex-col">
              <!-- Button text -->
              <div uiFormFieldDirective>
                <label>{{
                  'models.dashboard.buttonActions.text' | translate
                }}</label>
                <input formControlName="buttonText" type="string" />
              </div>

              <!-- Use role restriction -->
              <ui-toggle formControlName="hasRoleRestriction" class="mb-4">
                <ng-container ngProjectAs="label">
                  {{
                    'models.dashboard.buttonActions.hasRoleRestriction'
                      | translate
                  }}</ng-container
                >
              </ui-toggle>

              <!-- Role restriction -->
              <div
                uiFormFieldDirective
                *ngIf="form.value.general.hasRoleRestriction"
              >
                <label>{{
                  'models.dashboard.buttonActions.visibleTo' | translate
                }}</label>
                <ui-select-menu formControlName="roles" [multiselect]="true">
                  <ui-select-option
                    *ngFor="let role of roles"
                    [value]="role.id"
                  >
                    {{ role.title }}
                  </ui-select-option>
                </ui-select-menu>
              </div>

              <!-- Display settings -->
              <div class="flex gap-2 mb-2">
                <!-- Button category -->
                <div uiFormFieldDirective [outline]="false" class="grow">
                  <label>{{
                    'models.dashboard.buttonActions.category' | translate
                  }}</label>
                  <ui-select-menu formControlName="category">
                    <ui-select-option
                      *ngFor="let category of categories"
                      [value]="category"
                    >
                      {{ category }}
                    </ui-select-option>
                  </ui-select-menu>
                </div>

                <!-- Button variant -->
                <div uiFormFieldDirective [outline]="false" class="grow">
                  <label>{{
                    'models.dashboard.buttonActions.variant' | translate
                  }}</label>
                  <ui-select-menu formControlName="variant">
                    <ui-select-option
                      *ngFor="let variant of variants"
                      [value]="variant"
                    >
                      {{ variant }}
                    </ui-select-option>
                  </ui-select-menu>
                </div>
              </div>

              <ui-divider class="my-4"></ui-divider>
              <h3 class="font-semibold">{{ 'common.preview' | translate }}</h3>
              <div>
                <!-- Button preview -->
                <ui-button
                  *ngIf="form.value.general.buttonText"
                  class="w-fit mx-auto mt-3"
                  [category]="form.value.general.category || 'secondary'"
                  [variant]="form.value.general.variant || 'primary'"
                  (click)="preview()"
                >
                  {{ form.value.general.buttonText }}
                </ui-button>
              </div>
            </div>
          </ng-template>
        </ui-tab>

        <!-- Action configuration -->
        <ui-tab formGroupName="action">
          <ng-container ngProjectAs="label">
            <ui-icon
              icon="toggle_on"
              [size]="18"
              uiTooltip="{{ 'common.general' | translate }}"
            ></ui-icon>
            <span>{{
              'models.dashboard.buttonActions.action' | translate
            }}</span>
          </ng-container>
          <ng-template uiTabContent>
            <div class="flex gap-4 flex-col">
              <!-- Navigate to -->
              <ng-container formGroupName="navigateTo">
                <ui-toggle formControlName="enabled">
                  <ng-container ngProjectAs="label">
                    {{
                      'models.dashboard.buttonActions.actions.navigateTo'
                        | translate
                    }}
                  </ng-container>
                </ui-toggle>
                <div
                  class="flex flex-col ml-[55px]"
                  *ngIf="form.value.action.navigateTo.enabled"
                >
                  <!-- Previous page -->
                  <ui-toggle formControlName="previousPage">
                    <ng-container ngProjectAs="label">
                      {{
                        'models.dashboard.buttonActions.actions.previousPage'
                          | translate
                      }}
                    </ng-container>
                  </ui-toggle>
                  <ng-container formGroupName="targetUrl">
                    <ui-toggle formControlName="enabled">
                      <ng-container ngProjectAs="label">
                        {{
                          'models.dashboard.buttonActions.actions.url'
                            | translate
                        }}
                      </ng-container>
                    </ui-toggle>
                    <ng-container
                      *ngIf="form.value.action.navigateTo.targetUrl.enabled"
                    >
                      <div uiFormFieldDirective>
                        <label>{{
                          'models.dashboard.buttonActions.actions.url'
                            | translate
                        }}</label>
                        <shared-editor-control
                          formControlName="href"
                          [editorConfig]="hrefEditor"
                        ></shared-editor-control>
                      </div>
                      <ui-toggle formControlName="openInNewTab">
                        <ng-container ngProjectAs="label">
                          {{
                            'models.dashboard.buttonActions.actions.openInNewTab'
                              | translate
                          }}
                        </ng-container>
                      </ui-toggle>
                    </ng-container>
                  </ng-container>
                </div>
              </ng-container>
              <!-- Edit record -->
              <ng-container formGroupName="editRecord">
                <ui-toggle formControlName="enabled">
                  <ng-container ngProjectAs="label">
                    {{
                      'models.dashboard.buttonActions.actions.editRecord'
                        | translate
                    }}
                  </ng-container>
                </ui-toggle>
                <div
                  class="flex flex-col ml-[55px]"
                  *ngIf="form.value.action.editRecord.enabled"
                >
                  <div uiFormFieldDirective class="flex-1">
                    <label>{{
                      'models.dashboard.buttonActions.actions.template'
                        | translate
                    }}</label>
                    <!-- <div *ngFor="let template of templates">
                      {{ template | json }}
                    </div> -->
                    <ui-select-menu
                      formControlName="template"
                      placeholder="{{
                        'models.dashboard.buttonActions.actions.templatePlaceholder'
                          | translate
                      }}"
                    >
                      <ui-select-option
                        *ngFor="let template of templates"
                        [value]="template.id"
                      >
                        {{ template.name }}
                      </ui-select-option>
                    </ui-select-menu>
                    <ui-icon
                      uiSuffix
                      icon="info_outline"
                      variant="grey"
                      [uiTooltip]="
                        'models.dashboard.buttonActions.actions.templateTooltip'
                          | translate
                      "
                    ></ui-icon>
                  </div>
                </div>
              </ng-container>
              <!-- Add record -->
              <ng-container formGroupName="addRecord">
                <ui-toggle formControlName="enabled">
                  <ng-container ngProjectAs="label">
                    {{
                      'models.dashboard.buttonActions.actions.addRecord'
                        | translate
                    }}
                  </ng-container>
                </ui-toggle>
                <div
                  class="flex flex-col ml-[55px]"
                  *ngIf="form.value.action.addRecord.enabled"
                >
                  <!-- Resource -->
                  <div uiFormFieldDirective class="flex-1">
                    <label>{{
                      'models.dashboard.buttonActions.actions.resource'
                        | translate
                    }}</label>
                    <ui-select-menu
                      formControlName="resource"
                      placeholder="{{
                        'models.dashboard.buttonActions.actions.resourcePlaceholder'
                          | translate
                      }}"
                    >
                      <ui-select-option> resource.name </ui-select-option>
                    </ui-select-menu>
                  </div>
                  <!-- Template -->
                  <div uiFormFieldDirective class="flex-1">
                    <label>{{
                      'models.dashboard.buttonActions.actions.template'
                        | translate
                    }}</label>
                    <ui-select-menu
                      formControlName="template"
                      placeholder="{{
                        'models.dashboard.buttonActions.actions.templatePlaceholder'
                          | translate
                      }}"
                    >
                      <ui-select-option> template.name </ui-select-option>
                    </ui-select-menu>
                  </div>
                  <!-- Edit current record -->
                  <ui-toggle formControlName="editCurrentRecord">
                    <ng-container ngProjectAs="label">
                      {{
                        'models.dashboard.buttonActions.actions.editCurrentRecord'
                          | translate
                      }}
                    </ng-container>
                  </ui-toggle>
                  <!-- Attach record -->
                  <div uiFormFieldDirective class="flex-1">
                    <label>{{
                      'models.dashboard.buttonActions.actions.attachNewToCurrentFields'
                        | translate
                    }}</label>
                    <ui-select-menu
                      formControlName="attachNewToCurrentFields"
                      [multiselect]="true"
                      placeholder="{{
                        'models.dashboard.buttonActions.actions.attachNewToCurrentFieldsPlaceholder'
                          | translate
                      }}"
                    >
                      <ui-select-option>
                        attachNewToCurrentFields.name
                      </ui-select-option>
                    </ui-select-menu>
                    <ui-icon
                      uiSuffix
                      icon="info_outline"
                      variant="grey"
                      [uiTooltip]="
                        'models.dashboard.buttonActions.actions.attachNewToCurrentFieldsTooltip'
                          | translate
                      "
                    ></ui-icon>
                  </div>
                </div>
              </ng-container>
              <!-- Subscribe to notification -->
              <ng-container formGroupName="subscribeToNotification">
                <ui-toggle formControlName="enabled">
                  <ng-container ngProjectAs="label">
                    {{
                      'models.dashboard.buttonActions.actions.subscribeToNotification'
                        | translate
                    }}
                  </ng-container>
                </ui-toggle>
              </ng-container>
              <!-- Send notification -->
              <ng-container formGroupName="sendNotification">
                <ui-toggle formControlName="enabled">
                  <ng-container ngProjectAs="label">
                    {{
                      'models.dashboard.buttonActions.actions.sendNotification'
                        | translate
                    }}
                  </ng-container>
                </ui-toggle>
              </ng-container>
            </div>
          </ng-template>
        </ui-tab>
      </ui-tabs>
    </form>
  </ng-container>

  <!-- Modal actions -->
  <ng-container ngProjectAs="actions">
    <ui-button [uiDialogClose] variant="default">{{
      'common.cancel' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      (click)="onSubmit()"
      cdkFocusInitial
      [disabled]="!form.valid"
    >
      {{ 'common.save' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
