<ui-dialog size="medium" [closable]="true">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{
        (isNew
          ? 'models.dashboard.buttonActions.create'
          : 'models.dashboard.buttonActions.edit.one'
        ) | translate
      }}
    </h3>
  </ng-container>

  <ng-container ngProjectAs="content">
    <form [formGroup]="form" class="flex justify-between w-full flex-col py-2">
      <!-- Title -->
      <div uiFormFieldDirective>
        <label>{{ 'models.dashboard.buttonActions.text' | translate }}</label>
        <input formControlName="text" type="string" />
      </div>

      <!-- New tab toggle -->
      <ui-toggle formControlName="hasRoleRestriction" class="mb-4">
        <ng-container ngProjectAs="label">
          {{
            'models.dashboard.buttonActions.hasRoleRestriction' | translate
          }}</ng-container
        >
      </ui-toggle>

      <!-- Roles -->
      <div uiFormFieldDirective *ngIf="form.value.hasRoleRestriction">
        <label>{{
          'models.dashboard.buttonActions.visibleTo' | translate
        }}</label>
        <ui-select-menu formControlName="roles" [multiselect]="true">
          <ui-select-option *ngFor="let role of roles" [value]="role.id">
            {{ role.title }}
          </ui-select-option>
        </ui-select-menu>
      </div>

      <div class="flex gap-2 mb-2">
        <!-- Category  -->
        <div uiFormFieldDirective [outline]="false" class="grow">
          <label>{{
            'models.dashboard.buttonActions.category' | translate
          }}</label>
          <ui-select-menu formControlName="category">
            <ui-select-option
              *ngFor="let category of categories"
              [value]="category"
            >
              {{ category }}
            </ui-select-option>
          </ui-select-menu>
        </div>

        <!-- Variant -->
        <div uiFormFieldDirective [outline]="false" class="grow">
          <label>{{
            'models.dashboard.buttonActions.variant' | translate
          }}</label>
          <ui-select-menu formControlName="variant">
            <ui-select-option
              *ngFor="let variant of variants"
              [value]="variant"
            >
              {{ variant }}
            </ui-select-option>
          </ui-select-menu>
        </div>
      </div>

      <!-- Type -->
      <div uiFormFieldDirective [outline]="false" class="grow">
        <label>{{
          'models.dashboard.buttonActions.type' | translate
        }}</label>
        <ui-select-menu formControlName="type" (selectedOption)="setType()">
          <ui-select-option
            *ngFor="let type of types"
            [value]="type"
          >
            {{ 'models.dashboard.buttonActions.types.' + type | translate }}
          </ui-select-option>
        </ui-select-menu>
      </div>

      <ng-container *ngIf="form.get('type')?.value === 'link'">
        <!-- href -->
        <div uiFormFieldDirective>
          <label>{{ 'models.dashboard.buttonActions.href' | translate }}</label>
          <shared-editor-control
            formControlName="href"
            [editorConfig]="hrefEditor"
          ></shared-editor-control>
        </div>
        <!-- New tab toggle -->
        <ui-toggle formControlName="openInNewTab">
          <ng-container ngProjectAs="label">
            {{
              'models.dashboard.buttonActions.openInNewTab' | translate
            }}</ng-container
          >
        </ui-toggle>
      </ng-container>

      <ui-divider class="my-4"></ui-divider>
      <h3 class="font-semibold">{{ 'common.preview' | translate }}</h3>
      <div>
        <!-- Button preview -->
        <ui-alert class="mb-4 mt-4" *ngIf="form.get('type')?.value === 'recordEdition'">
          {{ 'models.dashboard.buttonActions.hints.recordEdition' | translate }}
        </ui-alert>
        <ui-button
          *ngIf="form.get('text')?.value"
          class="w-fit mx-auto mt-3"
          [category]="form.get('category')?.value || 'secondary'"
          [variant]="form.get('variant')?.value || 'primary'"
          (click)="preview()"
        >
          {{ form.get('text')?.value }}
        </ui-button>
      </div>
    </form>
  </ng-container>

  <ng-container ngProjectAs="actions">
    <ui-button [uiDialogClose] variant="default">{{
      'common.cancel' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      (click)="onSubmit()"
      cdkFocusInitial
      [disabled]="!form.valid"
    >
      {{ 'common.save' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
