<ui-dialog size="medium" [closable]="true">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{
        (isNew
          ? 'models.dashboard.buttonActions.create'
          : 'models.dashboard.buttonActions.edit.one'
        ) | translate
      }}
    </h3>
  </ng-container>

  <ng-container ngProjectAs="content">
    <form [formGroup]="form" class="flex justify-between w-full flex-col py-2">
      <ui-tabs [vertical]="true">
        <!-- General settings -->
        <ui-tab formGroupName="general">
          <!-- Section Name -->
          <ng-container ngProjectAs="label">
            <ui-icon
              icon="preview"
              [size]="18"
              uiTooltip="{{ 'common.general' | translate }}"
            ></ui-icon>
            <span>{{ 'common.general' | translate }}</span>
          </ng-container>
          <!-- Section Content -->
          <div class="flex gap-4 flex-col">
            <!-- Title -->
            <div uiFormFieldDirective>
              <label>{{
                'models.dashboard.buttonActions.text' | translate
              }}</label>
              <input formControlName="buttonText" type="string" />
            </div>

            <!-- New tab toggle -->
            <ui-toggle formControlName="hasRoleRestriction" class="mb-4">
              <ng-container ngProjectAs="label">
                {{
                  'models.dashboard.buttonActions.hasRoleRestriction'
                    | translate
                }}</ng-container
              >
            </ui-toggle>

            <!-- Roles -->
            <div
              uiFormFieldDirective
              *ngIf="form.value.general.hasRoleRestriction"
            >
              <label>{{
                'models.dashboard.buttonActions.visibleTo' | translate
              }}</label>
              <ui-select-menu formControlName="roles" [multiselect]="true">
                <ui-select-option *ngFor="let role of roles" [value]="role.id">
                  {{ role.title }}
                </ui-select-option>
              </ui-select-menu>
            </div>

            <div class="flex gap-2 mb-2">
              <!-- Category  -->
              <div uiFormFieldDirective [outline]="false" class="grow">
                <label>{{
                  'models.dashboard.buttonActions.category' | translate
                }}</label>
                <ui-select-menu formControlName="category">
                  <ui-select-option
                    *ngFor="let category of categories"
                    [value]="category"
                  >
                    {{ category }}
                  </ui-select-option>
                </ui-select-menu>
              </div>

              <!-- Variant -->
              <div uiFormFieldDirective [outline]="false" class="grow">
                <label>{{
                  'models.dashboard.buttonActions.variant' | translate
                }}</label>
                <ui-select-menu formControlName="variant">
                  <ui-select-option
                    *ngFor="let variant of variants"
                    [value]="variant"
                  >
                    {{ variant }}
                  </ui-select-option>
                </ui-select-menu>
              </div>
            </div>

            <ui-divider class="my-4"></ui-divider>
            <h3 class="font-semibold">{{ 'common.preview' | translate }}</h3>
            <div>
              <!-- Button preview -->
              <ui-button
                *ngIf="form.value.general.buttonText"
                class="w-fit mx-auto mt-3"
                [category]="form.value.general.category || 'secondary'"
                [variant]="form.value.general.variant || 'primary'"
                (click)="preview()"
              >
                {{ form.value.general.buttonText }}
              </ui-button>
            </div>
          </div>
        </ui-tab>

        <!-- Action -->
        <ui-tab formGroupName="action">
          <!-- Section Name -->
          <ng-container ngProjectAs="label">
            <ui-icon
              icon="toggle_on"
              [size]="18"
              uiTooltip="{{ 'common.general' | translate }}"
            ></ui-icon>
            <span>{{
              'models.dashboard.buttonActions.action' | translate
            }}</span>
          </ng-container>
          <!-- Section Content -->
          <div class="flex gap-4 flex-col">
            <!-- Navigate to -->
            <ng-container formGroupName="navigateTo">
              <ui-toggle formControlName="enabled">
                <ng-container ngProjectAs="label">
                  {{
                    'models.dashboard.buttonActions.actions.navigateTo'
                      | translate
                  }}
                </ng-container>
              </ui-toggle>
              <div
                class="flex flex-col ml-[55px]"
                *ngIf="form.value.action.navigateTo.enabled"
              >
                <!-- Previous page -->
                <ui-toggle formControlName="previousPage">
                  <ng-container ngProjectAs="label">
                    {{
                      'models.dashboard.buttonActions.actions.previousPage'
                        | translate
                    }}
                  </ng-container>
                </ui-toggle>
                <ng-container formGroupName="targetUrl">
                  <ui-toggle formControlName="enabled">
                    <ng-container ngProjectAs="label">
                      {{
                        'models.dashboard.buttonActions.actions.url' | translate
                      }}
                    </ng-container>
                  </ui-toggle>
                  <ng-container
                    *ngIf="form.value.action.navigateTo.targetUrl.enabled"
                  >
                    <div uiFormFieldDirective>
                      <label>{{
                        'models.dashboard.buttonActions.actions.url' | translate
                      }}</label>
                      <shared-editor-control
                        formControlName="href"
                        [editorConfig]="hrefEditor"
                      ></shared-editor-control>
                    </div>
                    <ui-toggle formControlName="openInNewTab">
                      <ng-container ngProjectAs="label">
                        {{
                          'models.dashboard.buttonActions.actions.openInNewTab'
                            | translate
                        }}
                      </ng-container>
                    </ui-toggle>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
            <!-- Edit record -->
            <ng-container formGroupName="editRecord">
              <ui-toggle formControlName="enabled">
                <ng-container ngProjectAs="label">
                  {{
                    'models.dashboard.buttonActions.actions.editRecord'
                      | translate
                  }}
                </ng-container>
              </ui-toggle>
              <div
                class="flex flex-col ml-[55px]"
                *ngIf="form.value.action.editRecord.enabled"
              >
                <div uiFormFieldDirective class="flex-1">
                  <label>{{ 'models.form.template' | translate }}</label>
                  <ui-select-menu formControlName="template">
                    <ui-select-option>-</ui-select-option>
                    <ui-select-option> template.name </ui-select-option>
                  </ui-select-menu>
                  <ui-icon
                    uiSuffix
                    icon="info_outline"
                    variant="grey"
                    [uiTooltip]="
                      'components.widget.settings.grid.tooltip.template'
                        | translate
                    "
                  ></ui-icon>
                </div>
              </div>
            </ng-container>
            <!-- Add record -->
            <ui-toggle formControlName="addRecord">
              <ng-container ngProjectAs="label">
                {{
                  'models.dashboard.buttonActions.actions.addRecord' | translate
                }}
              </ng-container>
            </ui-toggle>
            <!-- Suscribe to notification -->
            <ui-toggle formControlName="suscribeToNotification">
              <ng-container ngProjectAs="label">
                {{
                  'models.dashboard.buttonActions.actions.suscribeToNotification'
                    | translate
                }}
              </ng-container>
            </ui-toggle>
            <!-- Send notification -->
            <ui-toggle formControlName="sendNotification">
              <ng-container ngProjectAs="label">
                {{
                  'models.dashboard.buttonActions.actions.sendNotification'
                    | translate
                }}
              </ng-container>
            </ui-toggle>
          </div>
        </ui-tab>
      </ui-tabs>
      {{ form.value | json }}
    </form>
  </ng-container>

  <ng-container ngProjectAs="actions">
    <ui-button [uiDialogClose] variant="default">{{
      'common.cancel' | translate
    }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      (click)="onSubmit()"
      cdkFocusInitial
      [disabled]="!form.valid"
    >
      {{ 'common.save' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
