<ui-dialog size="small">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{ 'pages.publicForms.captcha.title' | translate }}
    </h3>
  </ng-container>
  <ng-container ngProjectAs="content">
    <div class="flex flex-col items-center gap-4">
      <p>{{ 'pages.publicForms.captcha.description' | translate }}</p>
      <oort-front-turnstile
        [siteKey]="data.siteKey"
        (tokenChange)="onToken($event)"
      ></oort-front-turnstile>
    </div>
  </ng-container>
  <ng-container ngProjectAs="actions">
    <ui-button [uiDialogClose] variant="default">
      {{ 'common.cancel' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
