<div class="flex gap-8 justify-between mb-8 flex-col sm:flex-row">
  <!-- Filters -->
  <div class="flex flex-col gap-4">
    <!-- Default filter -->
    <div class="flex flex-wrap gap-2 sm:items-center flex-col sm:flex-row">
      <!-- Search text filter -->
      <div uiFormFieldDirective [outline]="true" class="mat-form-field-sm p-0">
        <mat-icon uiPrefix>search</mat-icon>
        <label>{{ 'common.placeholder.search' | translate }}</label>
        <input
          [ngModel]="searchText"
          (keyup)="applyFilter('', $event)"
          type="search"
        />
      </div>
      <!-- Toggle advanced filters -->
      <ui-button
        class="max-sm:!w-auto"
        icon="filter_list"
        category="tertiary"
        variant="primary"
        (click)="showFilters = !showFilters"
      >
        {{
          showFilters
            ? ('common.filter.hide' | translate)
            : ('common.filter.show' | translate)
        }}
      </ui-button>
    </div>
    <!-- Advanced filters -->
    <div
      *ngIf="showFilters"
      class="flex flex-wrap gap-2 sm:items-center flex-col sm:flex-row"
    >
      <!-- Status filter -->
      <mat-form-field appearance="outline" class="mat-form-field-sm p-0">
        <mat-label>{{ 'common.status' | translate }}</mat-label>
        <mat-select
          [ngModel]="statusFilter"
          (selectionChange)="applyFilter('status', $event)"
        >
          <mat-option>-</mat-option>
          <mat-option value="active">
            {{ 'common.status_active' | translate }}
          </mat-option>
          <mat-option value="pending">
            {{ 'common.status_pending' | translate }}
          </mat-option>
          <mat-option value="archived">
            {{ 'common.status_archived' | translate }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Clear filters -->
      <ui-button
        variant="danger"
        (click)="clearAllFilters()"
        class="max-sm:!w-auto"
        >{{ 'common.filter.clear' | translate }}</ui-button
      >
    </div>
  </div>
  <!-- Actions -->
  <div class="flex items-center">
    <ui-button
      icon="add"
      category="secondary"
      variant="primary"
      (click)="onAdd()"
      *ngIf="'create' | able : 'ApiConfiguration'"
    >
      {{ 'pages.apiConfigurations.create' | translate }}
    </ui-button>
  </div>
</div>

<!-- Table container -->
<div class="overflow-x-hidden shadow-2lg">
  <!-- Table scroll container -->
  <div class="overflow-x-auto">
    <table
      *ngIf="!loading"
      cdk-table 
      uiTableWrapper
      (sortChange)="onSort($event)"
      [dataSource]="dataSource"
    >
      <ng-container cdkColumnDef="name">
        <th uiTableHeaderSort="name" uiCellHeader *cdkHeaderCellDef>
          <span class="headerTitle">
            {{ 'common.name' | translate }}
          </span>
        </th>
        <td uiCell *cdkCellDef="let element" class="font-bold">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container cdkColumnDef="status">
        <th uiTableHeaderSort="status" uiCellHeader *cdkHeaderCellDef>
          <span class="headerTitle">
            {{ 'common.status' | translate }}
          </span>
        </th>
        <td uiCell *cdkCellDef="let element">
          <mat-chip-list>
            <mat-chip
              class="success-chip !rounded-lg"
              disabled
              *ngIf="element.status === 'active'"
            >
              {{ 'common.status_active' | translate | titlecase }}
            </mat-chip>
            <mat-chip
              class="accent-chip !rounded-lg"
              disabled
              color="accent"
              *ngIf="element.status === 'pending'"
            >
              {{ 'common.status_pending' | translate | titlecase }}
            </mat-chip>
            <mat-chip
              class="warn-chip !rounded-lg"
              disabled
              color="warn"
              *ngIf="element.status === 'archived'"
            >
              {{ 'common.status_archived' | translate | titlecase }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>

      <ng-container cdkColumnDef="authType">
        <th uiTableHeaderSort="authType" uiCellHeader *cdkHeaderCellDef>
          <span class="headerTitle">
            {{ 'models.apiConfiguration.authType' | translate }}
          </span>
        </th>
        <td uiCell *cdkCellDef="let element">{{ element.authType }}</td>
      </ng-container>

      <ng-container cdkColumnDef="actions" [stickyEnd]="true">
        <th uiCellHeader *cdkHeaderCellDef class="w-16"></th>
        <td uiCell *cdkCellDef="let element">
          <ui-button
            [isIcon]="true"
            icon="more_vert"
            [uiMenuTriggerFor]="menu"
            (click)="$event.stopPropagation()"
            [disabled]="!(element.canUpdate || element.canDelete)"
          >
          </ui-button>
          <ui-menu #menu>
            <button
              uiMenuItem
              (click)="onDelete(element, $event)"
              *ngIf="element.canDelete"
            >
              <mat-icon>delete</mat-icon>
              {{ 'common.delete' | translate }}
            </button>
          </ui-menu>
        </td>
      </ng-container>

      <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
      <tr
        cdk-row
        *cdkRowDef="let row; columns: displayedColumns"
        class="cursor-pointer"
        [routerLink]="['/settings/apiconfigurations', row.id]"
      ></tr>
    </table>
    <safe-skeleton-table
      *ngIf="loading"
      [columns]="[
        'common.name',
        'common.status',
        'models.apiConfiguration.authType'
      ]"
      [actions]="true"
    >
    </safe-skeleton-table>
  </div>
  <mat-paginator
    [disabled]="loading"
    [pageSize]="pageInfo.pageSize"
    [pageSizeOptions]="[10, 25, 50]"
    [length]="pageInfo.length"
    [ariaLabel]="'components.apiConfiguration.paginator.ariaLabel' | translate"
    (page)="onPage($event)"
  >
  </mat-paginator>
</div>
