<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && workflow">
    <mat-horizontal-stepper (selectionChange)="stepChange($event)" #stepper>
        <mat-step *ngFor="let step of this.steps; let i = index" completed="false" label="{{step.name}}">
            <ng-container *ngIf="step.type === 'dashboard'">
                <app-dashboard [id]="step.content!" (goToNextStep)="onActivate($event, stepper)"></app-dashboard>
            </ng-container>
            <ng-container *ngIf="step.type === 'form'">
                <app-form [id]="step.content!"></app-form>
            </ng-container>
        </mat-step>
    </mat-horizontal-stepper>
</ng-container>