<div class="flex flex-col gap-x-4">
  <!-- Default filter -->
  <div class="flex flex-wrap gap-2 sm:items-center flex-col sm:flex-row">
    <!-- Search text filter -->
    <div uiFormFieldDirective class="mat-form-field-sm p-0">
      <ui-icon icon="search" uiPrefix></ui-icon>
      <input
        [formControl]="search"
        type="search"
        [placeholder]="'common.placeholder.search' | translate"
      />
      <ui-spinner *ngIf="loading" diameter="24" uiSuffix></ui-spinner>
    </div>
  </div>
</div>
