<ui-dialog [closable]="true" [size]="'medium'">
    <ng-container ngProjectAs="header">
      <div class="flex flex-row gap-2">
        <h1>{{ 'common.settings' | translate }}</h1>
        <ui-icon
          icon="info"
          [size]="18"
          variant="grey"
          [uiTooltip]="'components.application.pages.settings.settingsTooltip' | translate"
        ></ui-icon>
      </div>
      </ng-container>
  <ng-container ngProjectAs="content">
    <ui-tabs [vertical]="true">
      <!-- General settings -->
      <ui-tab>
        <ng-container ngProjectAs="label">
          <ui-icon
            icon="settings"
            [size]="18"
            uiTooltip="{{ 'common.general' | translate }}"
          ></ui-icon>
          <span>{{ 'common.general' | translate }}</span>
        </ng-container>
        <!-- Tab content -->
        <div class="flex flex-col" *ngIf="this.settingsForm">
          <!-- Page / step icon -->
          <app-page-icon [iconControl]="this.settingsForm.controls.icon"></app-page-icon>
        </div>
      </ui-tab>
      <!-- Access (visibility) settings -->
      <ui-tab *ngIf="data.canEditAccess">
        <ng-container ngProjectAs="label">
          <ui-icon
            icon="visibility"
            [size]="18"
            uiTooltip="{{ 'common.access' | translate }}"
          ></ui-icon>
          <span>{{ 'common.access' | translate }}</span>
        </ng-container>
        <!-- Tab content -->
        <div class="flex flex-col">
          <!-- Edit access -->
          <shared-edit-access
            (updateAccess)="onUpdateAccess($event)"
          ></shared-edit-access>
        </div>
      </ui-tab>
    </ui-tabs>
  </ng-container>

  <!-- Action buttons -->
  <ng-container ngProjectAs="actions">
    <ui-button uiDialogClose variant="default">
      {{ 'common.cancel' | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>
