<ui-dialog size="medium">
  <!-- Modal header -->
  <ng-container ngProjectAs="header">
    <h1>
      {{
        data.pullJob
          ? ('common.editObject'
            | translate : { name: 'common.pullJob.one' | translate })
          : ('models.pullJob.new' | translate)
      }}
    </h1>
  </ng-container>

  <!-- Modal content -->
  <ng-container ngProjectAs="content">
    <form [formGroup]="formGroup">
      <div class="flex flex-col pb-1">
        <div class="flex gap-x-2 flex-wrap">
          <!-- Title -->
          <mat-form-field appearance="outline" class="flex-auto">
            <mat-label>{{ 'common.name' | translate }}</mat-label>
            <input
              type="text"
              [placeholder]="'common.placeholder.name' | translate"
              matInput
              formControlName="name"
            />
          </mat-form-field>
          <!-- Status -->
          <mat-form-field appearance="outline" class="flex-1">
            <mat-label>{{ 'common.status' | translate }}</mat-label>
            <mat-select formControlName="status">
              <mat-select-trigger>
                <ng-container
                  *ngTemplateOutlet="
                    statusTemplate;
                    context: { $implicit: formGroup.value.status }
                  "
                ></ng-container>
              </mat-select-trigger>
              <mat-option *ngFor="let status of statusChoices" [value]="status">
                <ng-container
                  *ngTemplateOutlet="
                    statusTemplate;
                    context: { $implicit: status }
                  "
                ></ng-container>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Schedule -->
        <safe-cron-expression-control
          class="flex"
          formControlName="schedule"
        ></safe-cron-expression-control>
        <!-- API to use -->
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>{{ 'common.apiConfiguration.one' | translate }}</mat-label>
          <safe-graphql-select
            valueField="id"
            textField="name"
            [required]="true"
            [query]="apiConfigurationsQuery"
            formControlName="apiConfiguration"
            [selectedElements]="[defaultApiConfiguration]"
          >
          </safe-graphql-select>
        </mat-form-field>
        <div class="flex gap-x-2 flex-wrap" *ngIf="!isHardcoded">
          <!-- Url to pull -->
          <mat-form-field appearance="outline" class="flex-1">
            <mat-label>{{ 'models.pullJob.url' | translate }}</mat-label>
            <input
              type="text"
              [placeholder]="
                'components.pullJob.modal.placeholder.url' | translate
              "
              matInput
              formControlName="url"
            />
            <safe-icon
              icon="info"
              class="cursor-pointer"
              variant="grey"
              matSuffix
              [uiTooltip]="'components.pullJob.modal.hint.url' | translate"
            ></safe-icon>
          </mat-form-field>
          <!-- Path to pull -->
          <mat-form-field appearance="outline" class="flex-1">
            <mat-label>{{ 'models.pullJob.path' | translate }}</mat-label>
            <input
              type="text"
              [placeholder]="
                'components.pullJob.modal.placeholder.path' | translate
              "
              matInput
              formControlName="path"
            />
            <safe-icon
              icon="info"
              class="cursor-pointer"
              variant="grey"
              matSuffix
              [uiTooltip]="'components.pullJob.modal.hint.path' | translate"
            ></safe-icon>
          </mat-form-field>
        </div>
        <div class="flex gap-x-2 flex-wrap">
          <!-- Resource to use for conversion -->
          <mat-form-field appearance="outline" class="flex-auto">
            <mat-label>{{
              'components.record.convert.select' | translate
            }}</mat-label>
            <safe-graphql-select
              valueField="id"
              textField="name"
              [query]="formsQuery"
              formControlName="convertTo"
              [selectedElements]="[defaultForm]"
              (searchChange)="onFormSearchChange($event)"
              [filterable]="true"
            >
            </safe-graphql-select>
          </mat-form-field>
          <!-- Channel to notify on -->
          <mat-form-field appearance="outline" class="flex-1">
            <mat-label>{{
              'components.channel.dropdown.select' | translate
            }}</mat-label>
            <mat-select
              #channelSelect
              formControlName="channel"
              placeholder="Select a channel"
              (opened)="onOpenApplicationSelect()"
            >
              <mat-optgroup
                *ngFor="let application of applications | async"
                [label]="application.name || ''"
              >
                <mat-option
                  *ngFor="let channel of application.channels"
                  [value]="channel.id"
                >
                  {{ channel.title }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Mapping -->
        <ui-expansion-panel
          [expanded]="false"
          [disabled]="!formGroup.value.convertTo"
        >
          <ng-container ngProjectAs="title">
            {{ 'components.pullJob.modal.mapping' | translate }}
          </ng-container>
          <div class="flex flex-col gap-4">
            <div class="flex justify-end">
              <ui-button
                icon="edit_note"
                category="secondary"
                variant="primary"
                (click)="toggleRawJSON()"
              >
                {{ 'components.pullJob.modal.switch' | translate }}
              </ui-button>
            </div>
            <ng-container *ngIf="openRawJSON">
              <div uiFormFieldDirective>
                <label>{{ 'common.input.rawJson' | translate }}</label>
                <ui-textarea
                  formControlName="rawMapping"
                  placeholder="Please enter a JSON for the data mapping between the API and the Form."
                  [minRows]="2"
                >
                </ui-textarea>
              </div>
            </ng-container>
            <ng-container *ngIf="!openRawJSON">
              <div class="flex flex-col gap-2 overflow-x-auto">
                <form
                  [formGroup]="$any(element)"
                  *ngFor="let element of mappingArray.controls; index as i"
                  class="flex gap-x-2 items-center"
                >
                  <mat-form-field appearance="outline" class="p-0">
                    <mat-label>{{ 'common.field.one' | translate }}</mat-label>
                    <mat-select formControlName="name">
                      <mat-option
                        *ngFor="let field of filteredFields(element.value.name)"
                        [value]="field.name"
                        >{{ field.name }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field
                    appearance="outline"
                    *ngIf="element.value.name"
                    class="p-0"
                  >
                    <mat-label>{{ 'common.value.one' | translate }}</mat-label>
                    <input matInput formControlName="value" type="string" />
                  </mat-form-field>
                  <ui-button
                    [isIcon]="true"
                    icon="remove_circle_outline"
                    variant="danger"
                    (click)="onDeleteElement(i)"
                  >
                  </ui-button>
                </form>
                <ui-button
                  *ngIf="filteredFields('').length > 0"
                  [isIcon]="true"
                  icon="add_circle_outline"
                  variant="primary"
                  (click)="onAddElement()"
                >
                </ui-button>
              </div>
            </ng-container>
          </div>
        </ui-expansion-panel>
        <!-- Unique identifiers -->
        <mat-form-field
          *ngIf="mappingArray.controls.length > 0"
          appearance="outline"
          class="mt-4"
        >
          <mat-label>{{
            'components.pullJob.modal.identifier' | translate
          }}</mat-label>
          <mat-select formControlName="uniqueIdentifiers" multiple>
            <mat-option
              *ngFor="let element of mappingArray.controls"
              [value]="element.value.value"
            >
              {{ element.value.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>
  </ng-container>
  <!-- Modal actions -->
  <ng-container ngProjectAs="actions">
    <ui-button uiDialogClose>{{ 'common.close' | translate }}</ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      [uiDialogClose]="returnFormValue()"
      cdkFocusInitial
      [disabled]="!formGroup.valid"
      (click)="toggleRawJSON()"
    >
      {{ (data.pullJob ? 'common.update' : 'common.create') | translate }}
    </ui-button>
  </ng-container>
</ui-dialog>

<!-- Template to display status -->
<ng-template #statusTemplate let-status>
  <div uiChipList>
    <ui-chip
      class="success-chip !rounded-lg"
      variant="success"
      *ngIf="status === 'active'"
    >
      {{ 'common.status_active' | translate | titlecase }}
    </ui-chip>
    <ui-chip
      class="!rounded-lg"
      variant="warning"
      *ngIf="status === 'pending'"
    >
      {{ 'common.status_pending' | translate | titlecase }}
    </ui-chip>
    <ui-chip
      class="!rounded-lg"
      variant="danger"
      *ngIf="status === 'archived'"
    >
      {{ 'common.status_archived' | translate | titlecase }}
    </ui-chip>
  </div>
</ng-template>
