<div (click)="closeDialog()">
  <div *ngIf="data.exportType==='pdf'" class="relative flex items-center bg-white p-10 rounded-3xl" (click)="$event.stopPropagation()">
    <div class="absolute top-0 right-0 m-1 rounded-full">
      <ui-button
        uiSuffix
        [isIcon]="true"
        icon="close"
        variant="danger"
        (click)="closeDialog()"
        [uiTooltip]="'common.cancel' | translate"
      >
      </ui-button>
    </div>
    <form class="w-full max-w-md mx-auto" [formGroup]="exportPDF" (ngSubmit)="closePDFDialog()">
      <label class="block mb-4">
        <input type="checkbox" formControlName="includeHeaderFooter" class="mr-2">
        {{'common.notifications.export.includeHeaderFooter' | translate}}
      </label>
      <label class="block mb-4">
        {{'common.notifications.export.paperSize' | translate}}
        <select formControlName="paperSize" class="ml-2 w-full py-2 px-4 border border-gray-300 bg-white rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-500 focus:ring-opacity-50 disabled-select">
          <option value="auto" >Auto</option>
        </select>
      </label>
      <ui-button
        category="secondary"
        variant="primary"
        cdkFocusInitial
        (click)="closePDFDialog()"
      >
      {{'common.notifications.export.download' | translate}}
      </ui-button>
    </form>
  </div>
 </div>



 <div (click)="closeDialog()" class="overlay">
 <div *ngIf="data.exportType==='png'" class="relative flex items-center bg-white p-10 rounded-3xl" (click)="$event.stopPropagation()">
  <div class="absolute top-0 right-0 m-1 rounded-full">
    <ui-button
      uiSuffix
      [isIcon]="true"
      icon="close"
      variant="danger"
      (click)="closeDialog()"
      [uiTooltip]="'common.cancel' | translate"
    >
    </ui-button>
  </div>
  <form [formGroup]="exportImage" (ngSubmit)="closeImageDialog()">
   <label class="block mb-4">
     <input type="checkbox" formControlName="includeHeaderFooter" class="mr-2">
     {{'common.notifications.export.includeHeaderFooter' | translate}}
   </label>
   <label class="block mb-4">
    {{'common.notifications.export.format' | translate}}
    <select formControlName="format" class="ml-2 w-full py-2 px-4 border border-gray-300 bg-white rounded-md shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-600 focus:ring-opacity-50">
      <option *ngFor="let format of imageFormats" [value]="format.value">{{format.label}}</option>
    </select>
   </label>
   <ui-button
      category="secondary"
      variant="primary"
      cdkFocusInitial
      (click)="closeImageDialog()"
    >
    {{'common.notifications.export.download' | translate}}
    </ui-button>
  </form>
 </div>
 </div>
