<ui-spinner *ngIf="loading"></ui-spinner>
<ng-container *ngIf="!loading">
  <div class="flex justify-start items-center mb-5">
    <h1 class="overflow-hidden whitespace-nowrap text-ellipsis mb-0">
      {{ categoryName }}
    </h1>
  </div>
  <!-- Table container -->
  <div class="overflow-x-hidden shadow-2lg">
    <!-- Table scroll container -->
    <div class="overflow-x-auto">
      <table cdk-table uiTableWrapper [dataSource]="positionAttributes">
        <ng-container cdkColumnDef="value">
          <th uiTableHeaderSort="value" uiCellHeader *cdkHeaderCellDef>
            <span class="headerTitle">
              {{ 'common.name' | translate }}
            </span>
          </th>
          <td uiCell *cdkCellDef="let element">{{ element.value }}</td>
        </ng-container>
        <ng-container cdkColumnDef="usersCount">
          <th uiTableHeaderSort="usersCount" uiCellHeader *cdkHeaderCellDef>
            <span class="headerTitle">
              {{ 'common.user.few' | translate }}
            </span>
          </th>
          <td uiCell *cdkCellDef="let element">{{ element.usersCount }}</td>
        </ng-container>
        <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
        <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</ng-container>
