<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && apiConfiguration">
  <div class="page-header">
    <h1 class="page-title">
      {{ apiConfiguration.name }}
    </h1>
    <safe-access
      [access]="apiConfiguration.permissions"
      [objectTypeName]="'common.apiConfiguration.one' | translate"
      (save)="saveAccess($event)"
      *ngIf="apiConfiguration?.canUpdate"
    ></safe-access>
  </div>
  <form [formGroup]="apiForm" *ngIf="apiForm">
    <!-- General settings -->
    <div class="flex justify-between mt-8">
      <h2>{{ 'common.general' | translate }}</h2>
      <!-- Status -->
      <mat-form-field appearance="outline" class="p-0">
        <mat-label>{{ 'common.status' | translate }}</mat-label>
        <mat-select formControlName="status">
          <mat-select-trigger>
            <ng-container
              *ngTemplateOutlet="
                statusTemplate;
                context: { $implicit: apiForm.value.status }
              "
            ></ng-container>
          </mat-select-trigger>
          <mat-option *ngFor="let status of statusChoices" [value]="status">
            <ng-container
              *ngTemplateOutlet="statusTemplate; context: { $implicit: status }"
            ></ng-container>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="flex flex-col last:mb-0">
      <div class="flex gap-x-2 flex-wrap">
        <!-- Name -->
        <mat-form-field appearance="outline" class="flex-auto">
          <mat-label>
            {{ 'common.name' | translate }}
          </mat-label>
          <input
            matInput
            formControlName="name"
            type="text"
            [placeholder]="'common.placeholder.name' | translate"
          />
          <mat-error *ngIf="name?.errors">
            {{ 'components.apiConfiguration.create.errors.name' | translate }}
          </mat-error>
        </mat-form-field>
        <!-- Authentication type -->
        <mat-form-field appearance="outline" class="flex-1">
          <mat-label>
            {{ 'models.apiConfiguration.authType' | translate }}
          </mat-label>
          <mat-select formControlName="authType">
            <mat-option
              *ngFor="let authTypeChoice of authTypeChoices"
              [value]="authTypeChoice"
              >{{ authTypeChoice }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Host settings ( endpoint / ping ) -->
    <div class="flex justify-between mt-8">
      <h2>
        {{ 'pages.apiConfiguration.host' | translate }}
      </h2>
      <!-- Send ping request -->
      <ui-button
        icon="online_prediction"
        [category]="btnCategory.SECONDARY"
        [variant]="btnVariant.PRIMARY"
        (click)="onPing()"
        [disabled]="!apiForm.value.pingUrl || !apiForm.value.endpoint"
      >
        {{ 'pages.apiConfiguration.ping' | translate }}
      </ui-button>
    </div>
    <div class="flex gap-x-2">
      <!-- Endpoint -->
      <mat-form-field appearance="outline" class="flex-auto">
        <mat-label>
          {{ 'pages.apiConfiguration.baseUrl' | translate }}
        </mat-label>
        <input
          matInput
          formControlName="endpoint"
          type="text"
          [placeholder]="
            'pages.apiConfiguration.placeholder.baseUrl' | translate
          "
        />
      </mat-form-field>
      <!-- Path to ping -->
      <mat-form-field appearance="outline" class="flex-1">
        <mat-label>
          {{ 'pages.apiConfiguration.pingUrl' | translate }}
        </mat-label>
        <input
          matInput
          formControlName="pingUrl"
          type="text"
          [placeholder]="
            'pages.apiConfiguration.placeholder.pingUrl' | translate
          "
        />
      </mat-form-field>
    </div>

    <!-- Authentication settings -->
    <ng-container *ngIf="apiForm.value.authType !== authType.public">
      <h2 class="mt-8">
        {{ 'pages.apiConfiguration.authentication' | translate }}
      </h2>
      <!-- Service to service connection -->
      <ng-container
        *ngIf="apiForm.value.authType === authType.serviceToService"
      >
        <div formGroupName="settings" class="flex flex-col">
          <!-- Token url -->
          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'pages.apiConfiguration.tokenUrl' | translate }}
            </mat-label>
            <input
              matInput
              formControlName="authTargetUrl"
              type="text"
              [placeholder]="
                'pages.apiConfiguration.placeholder.tokenUrl' | translate
              "
              onfocus="this.value=''"
            />
          </mat-form-field>
          <!-- Client id -->
          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'pages.apiConfiguration.clientId' | translate }}
            </mat-label>
            <input
              matInput
              formControlName="apiClientID"
              type="text"
              [placeholder]="
                'pages.apiConfiguration.placeholder.clientId' | translate
              "
              onfocus="this.value=''"
            />
          </mat-form-field>
          <!-- Client secret -->
          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'pages.apiConfiguration.secret' | translate }}
            </mat-label>
            <input
              matInput
              formControlName="safeSecret"
              type="text"
              [placeholder]="
                'pages.apiConfiguration.placeholder.secret' | translate
              "
              onfocus="this.value=''"
            />
          </mat-form-field>
          <!-- Token scope -->
          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'pages.apiConfiguration.scope' | translate }}
            </mat-label>
            <input
              matInput
              formControlName="scope"
              type="text"
              [placeholder]="
                'pages.apiConfiguration.placeholder.scope' | translate
              "
              onfocus="this.value=''"
            />
          </mat-form-field>
        </div>
      </ng-container>
      <!-- User to service connection -->
      <ng-container *ngIf="apiForm.value.authType === authType.userToService">
        <div formGroupName="settings" class="flex flex-col">
          <!-- Token -->
          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'pages.apiConfiguration.token' | translate }}
            </mat-label>
            <input
              matInput
              formControlName="token"
              type="text"
              [placeholder]="
                'pages.apiConfiguration.placeholder.token' | translate
              "
              onfocus="this.value=''"
            />
          </mat-form-field>
        </div>
      </ng-container>
    </ng-container>

    <!-- GraphQL settings -->
    <h2 class="mt-8">
      {{ 'pages.apiConfiguration.graphQL.title' | translate }}
    </h2>
    <div class="flex flex-col">
      <!-- GraphQL endpoint -->
      <mat-form-field appearance="outline">
        <mat-label>
          {{ 'pages.apiConfiguration.graphQL.endpoint' | translate }}
        </mat-label>
        <input
          matInput
          formControlName="graphQLEndpoint"
          type="text"
          [placeholder]="
            'pages.apiConfiguration.placeholder.graphQLEndpoint' | translate
          "
        />
      </mat-form-field>
    </div>

    <!-- Save button -->
    <ui-button
      [category]="btnCategory.SECONDARY"
      [variant]="btnVariant.PRIMARY"
      (click)="onSave()"
      [disabled]="apiForm.invalid || !apiForm.dirty"
    >
      {{ 'common.save' | translate }}
    </ui-button>
  </form>
</ng-container>

<!-- Template to display status -->
<ng-template #statusTemplate let-status>
  <mat-chip-list>
    <mat-chip
      class="success-chip !rounded-lg"
      disabled
      *ngIf="status === 'active'"
    >
      {{ 'common.status_active' | translate | titlecase }}
    </mat-chip>
    <mat-chip
      class="accent-chip !rounded-lg"
      disabled
      color="accent"
      *ngIf="status === 'pending'"
    >
      {{ 'common.status_pending' | translate | titlecase }}
    </mat-chip>
    <mat-chip
      class="warn-chip !rounded-lg"
      disabled
      color="warn"
      *ngIf="status === 'archived'"
    >
      {{ 'common.status_archived' | translate | titlecase }}
    </mat-chip>
  </mat-chip-list>
</ng-template>
