<div class="h-full flex flex-col">
  <!-- CLASSIC VIEW -->
  <kendo-tilelayout-item-header
    *ngIf="header"
    class="widget-header border-b"
    [ngClass]="{
      'border-transparent': !(settings?.widgetDisplay?.showBorder ?? true),
      'border-b-gray-300': settings?.widgetDisplay?.showBorder ?? true
    }"
  >
    <span class="widget-title" [title]="settings?.title">{{
      settings?.title
    }}</span>
  </kendo-tilelayout-item-header>
  <ng-container *ngIf="tabs.length">
    <ui-tabs [selectedIndex]="selectedTab">
      <ng-container *ngFor="let tab of tabs; let i = index">
        <ui-tab (click)="loadTab(i)">
          <ng-container ngProjectAs="label">
            <ng-container *ngIf="tab.content; else addPageTmpl">
              <div class="flex items-center gap-1">
                <ng-container *ngIf="tab.label">
                  {{ tab.label }}
                </ng-container>
                <!-- todo: translate -->
                <ui-button
                  (click)="removeTab($event, i)"
                  variant="danger"
                  icon="remove"
                  [uiTooltip]="'models.page.remove' | translate"
                ></ui-button>
              </div>
            </ng-container>
            <ng-template #addPageTmpl>
              <ui-button
                [isIcon]="true"
                icon="add_circle"
                [uiTooltip]="'models.page.add' | translate"
              ></ui-button>
            </ng-template>
          </ng-container>
        </ui-tab>
      </ng-container>
    </ui-tabs>
  </ng-container>
  <div class="flex-1 p-2 overflow-y-auto">
    <router-outlet></router-outlet>
  </div>
</div>
