<!-- We use a div so we can have a standard background when seeing the dashboard on fullscreen -->
<div [ngClass]="{ 'p-8 h-full bg-white overflow-auto': isFullScreen }">
  <ng-container
    safeFullScreen
    [(isFullScreenMode)]="isFullScreen"
    *safeSkeleton="
      loading;
      repeat: 1;
      height: '32px';
      width: '120px';
      shape: 'rectangle'
    "
  >
    <ng-container *ngIf="dashboard">
      <div class="flex flex-wrap items-center justify-end mb-6 gap-4">
        <div class="flex items-center gap-1">
          <!-- Fullscreen -->
          <ui-button
            variant="grey"
            [isIcon]="true"
            icon="{{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}"
            (click)="isFullScreen = !isFullScreen"
          >
          </ui-button>
        </div>
      </div>
    </ng-container>
    <safe-widget-grid
      [loading]="loading"
      [widgets]="widgets"
      (goToNextStep)="goToNextStep.emit($event)"
    ></safe-widget-grid>
    <safe-dashboard-filter
      *ngIf="showFilter && isFullScreen"
      [isFullScreen]="isFullScreen"
    ></safe-dashboard-filter>
  </ng-container>
</div>
<safe-dashboard-filter
  *ngIf="showFilter && !isFullScreen"
  [isFullScreen]="isFullScreen"
></safe-dashboard-filter>
