<ng-container
  safeFullScreen
  [(isFullScreenMode)]="isFullScreen"
  *safeSkeleton="
    loading;
    repeat: 1;
    height: '32px';
    width: '120px';
    shape: 'rectangle'
  "
>
  <ng-container *ngIf="dashboard">
    <div class="flex flex-wrap items-center justify-end mb-6 gap-4">
      <div class="flex items-center gap-1">
        <!-- Fullscreen -->
        <safe-button
          variant="grey"
          [isIcon]="true"
          icon="{{ isFullScreen ? 'fullscreen_exit' : 'fullscreen' }}"
          (click)="isFullScreen = !isFullScreen"
        >
        </safe-button>
      </div>
    </div>
  </ng-container>
</ng-container>
<safe-widget-grid
  [loading]="loading"
  [widgets]="widgets"
  (changeStep)="changeStep.emit($event)"
></safe-widget-grid>
