.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end !important;
  text-align: end;
  margin-left: auto;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.table-container {
  overflow-x: auto;
}
