<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && resource">
  <div class="page-header">
    <safe-previous-button path="/resources"></safe-previous-button>
    <h1 class="page-title">
      {{ resource.name }}
    </h1>
    <safe-access
      [access]="resource.permissions"
      (save)="saveAccess($event)"
      *ngIf="resource.canUpdate"
    >
    </safe-access>
    <div class="actions">
      <safe-button
        *ngIf="resource.canUpdate && !showDeletedRecords"
        icon="search_off"
        category="primary"
        variant="danger"
        (click)="onSwitchView($event)"
      >
        {{ 'record.archived' | translate }}
      </safe-button>
      <safe-button
        *ngIf="resource.canUpdate && showDeletedRecords"
        icon="restore_page"
        category="primary"
        variant="success"
        (click)="onSwitchView($event)"
      >
        {{ 'record.active' | translate }}
      </safe-button>
      <safe-button
        icon="file_download"
        category="secondary"
        variant="primary"
        [matMenuTriggerFor]="menu"
      >
        {{ 'record.download' | translate }}
      </safe-button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDownload('csv')">.csv</button>
        <button mat-menu-item (click)="onDownload('xlsx')">.xlsx</button>
      </mat-menu>
      <safe-button
        icon="file_upload"
        category="secondary"
        variant="primary"
        matTooltip="File should contain one record per row. Header row contains the names of data fields."
        [matMenuTriggerFor]="matUploadMenu"
      >
        {{ 'record.upload' | translate }}
      </safe-button>
      <mat-menu #matUploadMenu="matMenu">
        <button mat-menu-item (click)="onDownloadTemplate()">
          {{ 'users.getTemplate' | translate }}
        </button>
        <input
          #xlsxFile
          type="file"
          data-max-size="5120"
          accept=".xlsx"
          (change)="onFileChange($event)"
        />
      </mat-menu>
    </div>
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label> Records </ng-template>
      <ng-template matTabContent>
        <app-resource-records [records]="records" [columns]="resourceFields" [pageInfo]="pageInfo"></app-resource-records>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label> Forms ({{ forms.length }}) </ng-template>
      <ng-template matTabContent>
        <app-resource-forms [forms]="forms"></app-resource-forms>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label> Layouts ({{ layouts.length }}) </ng-template>
      <ng-template matTabContent>
        <app-resource-layouts></app-resource-layouts>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-container>
