<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && resource">
  <div class="page-header">
    <h1 class="page-title">
      {{ resource.name }}
    </h1>
    <safe-access
      [access]="resource.permissions"
      [objectTypeName]="'common.resource.one' | translate"
      (save)="saveAccess($event)"
      *ngIf="resource.canUpdate"
    >
    </safe-access>
  </div>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      (click)="selectedTab = 0"
      [active]="selectedTab === 0"
      routerLink="./records"
      [state]="{ resource }"
      >{{ 'common.record.few' | translate }}</a
    >
    <a
      mat-tab-link
      (click)="selectedTab = 1"
      [active]="selectedTab === 1"
      routerLink="./forms"
      [state]="{ resource }"
      >{{ 'common.form.few' | translate }}</a
    >
    <a
      mat-tab-link
      (click)="selectedTab = 2"
      [active]="selectedTab === 2"
      routerLink="./layouts"
      [state]="{ resource }"
      >{{ 'common.layout.few' | translate }}</a
    >
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>
</ng-container>
