<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && resource">
  <div class="page-header">
    <h1 class="page-title">
      {{ resource.name }}
    </h1>
    <safe-access
      [access]="resource.permissions"
      (save)="saveAccess($event)"
      *ngIf="resource.canUpdate"
    >
    </safe-access>
    <div class="actions">
      <safe-button
        *ngIf="resource.canUpdate && !showDeletedRecords"
        icon="search_off"
        category="primary"
        variant="danger"
        (click)="onSwitchView($event)"
      >
        {{ 'components.records.showArchived' | translate }}
      </safe-button>
      <safe-button
        *ngIf="resource.canUpdate && showDeletedRecords"
        icon="restore_page"
        category="primary"
        variant="success"
        (click)="onSwitchView($event)"
      >
        {{ 'components.records.showActive' | translate }}
      </safe-button>
      <safe-button
        icon="file_download"
        category="secondary"
        variant="primary"
        [matMenuTriggerFor]="menu"
      >
        {{
          'common.downloadObject'
            | translate: { name: 'common.record.few' | translate }
        }}
      </safe-button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onDownload('csv')">.csv</button>
        <button mat-menu-item (click)="onDownload('xlsx')">.xlsx</button>
      </mat-menu>
      <safe-button
        icon="file_upload"
        category="secondary"
        variant="primary"
        [matTooltip]="'components.records.upload.hint' | translate"
        (click)="showUpload = !showUpload"
        cdkOverlayOrigin
        #uploadTrigger="cdkOverlayOrigin"
        style="margin-left: 1rem"
      >
        {{
          'common.uploadObject'
            | translate: { name: 'common.record.few' | translate }
        }}
      </safe-button>
      <ng-template
        cdkConnectedOverlay
        [cdkConnectedOverlayOrigin]="uploadTrigger"
        [cdkConnectedOverlayOpen]="showUpload"
      >
        <app-upload-menu
          (close)="showUpload = false"
          (upload)="onFileChange($event)"
          (download)="onDownloadTemplate()"
        ></app-upload-menu>
      </ng-template>
    </div>
  </div>
  <nav mat-tab-nav-bar [tabPanel]="tabPanel">
    <a
      mat-tab-link
      (click)="selectedTab = 0"
      [active]="selectedTab === 0"
      routerLink="./records"
      [state]="{ records, resource }"
      >{{ 'common.record.few' | translate }} ( {{ pageInfo.length }} )</a
    >
    <a
      mat-tab-link
      (click)="selectedTab = 1"
      [active]="selectedTab === 1"
      routerLink="./forms"
      [state]="{ forms }"
      >{{ 'common.form.few' | translate }} ( {{ resource.forms.length }} )</a
    >
    <a
      mat-tab-link
      (click)="selectedTab = 2"
      [active]="selectedTab === 2"
      routerLink="./layouts"
      [state]="{ layouts, resource }"
      >{{ 'common.layout.few' | translate }} ( {{ layouts.length }} )</a
    >
  </nav>
  <mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
  </mat-tab-nav-panel>

  <!-- <mat-tab-group dynamicHeight
  [(selectedIndex)]="selectedTab"
  (selectedTabChange)="onTabChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'common.record.few' | translate }} ( {{ pageInfo.length }} )
      </ng-template>
      <app-records-tab
        class="table-container"
        [dataSourceRecords]="dataSourceRecords"
        [resource]="resource"
        [showDeletedRecords]="showDeletedRecords"
        [displayedColumnsRecords]="displayedColumnsRecords"
        [recordsDefaultColumns]="recordsDefaultColumns"
      ></app-records-tab>
      <mat-paginator
        [disabled]="loadingMore"
        [pageSize]="pageInfo.pageSize"
        [length]="pageInfo.length"
        aria-label="Select page of records"
        (page)="onPage($event)"
      ></mat-paginator>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'common.form.few' | translate }} ( {{ resource.forms.length }} )
      </ng-template>
      <app-forms-tab
        *ngIf="!loading"
        [dataSourceForms]="dataSourceForms"
      ></app-forms-tab>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        {{ 'common.layout.few' | translate }} ( {{ dataSourceLayouts.length }} )
      </ng-template>
      <app-layouts-tab
        *ngIf="!loading"
        [dataSourceLayouts]="dataSourceLayouts"
        [resource]="resource"
        [id]="id"
      ></app-layouts-tab>
    </mat-tab>
  </mat-tab-group> -->
</ng-container>
