<div class="page-header">
    <h1 class="page-title">{{showDeletedRecords ? 'List of archived records' : 'List of active records'}}</h1>
    <div class="actions" *ngIf="!loading">
        <safe-button *ngIf="form.canUpdate && !showDeletedRecords" icon="search_off" category="primary" variant="danger" (click)="onSwitchView($event)">
            Show archived records
        </safe-button>
        <safe-button *ngIf="form.canUpdate && showDeletedRecords" icon="restore_page" category="primary" variant="success" (click)="onSwitchView($event)">
            Show active records
        </safe-button>
        <safe-button icon="file_download" category="secondary" variant="primary" [matMenuTriggerFor]="menu">
            Download records
        </safe-button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDownload('csv')">.csv</button>
            <button mat-menu-item (click)="onDownload('xlsx')">.xlsx</button>
        </mat-menu>
        <safe-button icon="file_upload" category="secondary" variant="primary" matTooltip="File should contain one record per row. Header row contains the names of data fields."
            [matMenuTriggerFor]="matUploadMenu" style="margin-left: 1rem">
            Upload records
        </safe-button>
        <mat-menu #matUploadMenu="matMenu">
            <button mat-menu-item (click)="onDownloadTemplate()">Download template</button>
            <input #xlsxFile type="file" data-max-size="5120" accept=".xlsx" (change)="onFileChange($event)" />
        </mat-menu>
    </div>
</div>
<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading">
    <table mat-table [dataSource]="dataSource">
        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
            <ng-container *ngIf="column !== '_actions'">
                <th mat-header-cell *matHeaderCellDef class="table-column">{{column}}</th>
                <td mat-cell *matCellDef="let element" class="table-column">
                    <div>{{element.data[column]}}</div>
                </td>
            </ng-container>
            <ng-container *ngIf="column === '_actions'">
                <th mat-header-cell *matHeaderCellDef class="action-column"> Actions</th>
                <td mat-cell *matCellDef="let element" class="action-column">
                    <safe-button [isIcon]="true" icon="more_vert" [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                    </safe-button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item color="warn" (click)="onViewHistory(element.id)">
                            <mat-icon>library_books</mat-icon>
                            History
                        </button>
                        <mat-divider></mat-divider>
                        <button *ngIf="!showDeletedRecords" mat-menu-item (click)="onDeleteRecord(element.id, $event)">
                            <mat-icon>delete</mat-icon>
                            Delete
                        </button>
                        <button *ngIf="showDeletedRecords" mat-menu-item (click)="onDeleteRecord(element.id, $event)">
                            <mat-icon>delete_forever</mat-icon>
                            Delete permanently
                        </button>
                        <button *ngIf="showDeletedRecords" mat-menu-item (click)="onRestoreRecord(element.id, $event)">
                            <mat-icon>unarchive</mat-icon>
                            Restore
                        </button>
                    </mat-menu>
                </td>
            </ng-container>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['./update', row.id]"></tr>
    </table>
</ng-container>
