.actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end !important;
    text-align: end;
    margin-left: auto;
}

.table-column {
    padding: 0px 4px;
}

.action-column {
    border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.sidenav-container {
    flex: 1;
}

.sidenav-content {
    min-height: calc(100% - 64px);
    padding: 32px 24px;
}