<mat-spinner diameter="45" class="page-loader" *ngIf="loading"></mat-spinner>
<ng-container *ngIf="!loading && form">
  <div class="tab-name-container">
    <ng-container *ngIf="!formActive">
      <h1 class="tab-name" (click)="toggleFormActive()">
        {{ page ? page.name : step ? step.name : '' }}
      </h1>
      <safe-access
        [access]="page ? page.permissions : step ? step.permissions : null"
        [application]="applicationId"
        (save)="saveAccess($event)"
        *ngIf="page ? page.canUpdate : step ? step.canUpdate : false"
      ></safe-access>
      <safe-button
        icon="edit"
        category="secondary"
        variant="primary"
        class="edit-button"
        (click)="editForm()"
        *ngIf="form.canUpdate"
      >
        {{
          'common.editObject'
            | translate: { name: 'common.form.one' | translate }
        }}
      </safe-button>
    </ng-container>
    <ng-container *ngIf="formActive">
      <form [formGroup]="tabNameForm" (ngSubmit)="saveName()">
        <mat-form-field>
          <mat-label>{{ 'common.name' | translate }}</mat-label>
          <input matInput formControlName="tabName" type="string" />
        </mat-form-field>
        <safe-button
          type="submit"
          [isIcon]="true"
          icon="save"
          variant="primary"
          [disabled]="!tabNameForm.valid"
        >
        </safe-button>
        <safe-button
          [isIcon]="true"
          icon="close"
          variant="danger"
          (click)="toggleFormActive()"
        >
        </safe-button>
      </form>
    </ng-container>
  </div>
  <safe-form [form]="form" (save)="onComplete($event)"></safe-form>
  <ng-container *ngIf="completed && !form.uniqueRecord && !hideNewRecord">
    <safe-button category="secondary" (click)="clearForm()">{{
      'models.record.new' | translate
    }}</safe-button>
  </ng-container>
</ng-container>
