<ui-dialog size="medium">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{ 'models.dashboard.context.datasource.title' | translate }}
    </h3>
  </ng-container>

  <ng-container ngProjectAs="content">
    <form [formGroup]="form" class="flex justify-between w-full flex-col py-2">
      <ui-alert class="mb-6 text-sm">
        {{ 'models.dashboard.context.datasource.alert' | translate }}
      </ui-alert>
      <div class="flex-1 flex-col">
        <!-- Reference data selection  -->
        <div
          uiFormFieldDirective
          class="flex-1"
          *ngIf="!form.value.resource"
        >
          <label>{{ 'common.referenceData.one' | translate }}</label>
          <shared-reference-data-select
            formControlName="refData"
            [selectedElements]="[refData]"
          ></shared-reference-data-select>
          <!-- Remove value -->
          <ui-button
            *ngIf="form.value.refData"
            uiSuffix
            (click)="clearFormField('refData', $event)"
            [isIcon]="true"
            icon="close"
            variant="danger"
            [uiTooltip]="'common.remove' | translate"
          ></ui-button>
        </div>
        <ui-divider
          class="max-w-xs m-auto"
          [text]="'common.or' | translate"
          *ngIf="!form.value.resource && !form.value.refData"
        ></ui-divider>
        <!-- Resource selection  -->
        <div
          uiFormFieldDirective
          class="flex-1"
          *ngIf="!form.value.refData"
        >
          <label>{{ 'models.resource.select' | translate }}</label>
          <shared-resource-select
            formControlName="resource"
            [selectedElements]="[resource]"
          ></shared-resource-select>
          <!-- Remove value -->
          <ui-button
            *ngIf="form.value.resource"
            uiSuffix
            (click)="clearFormField('resource', $event)"
            [isIcon]="true"
            icon="close"
            variant="danger"
            [uiTooltip]="'common.remove' | translate"
          ></ui-button>
        </div>
      </div>
      
      <!-- Field selection -->
      <div uiFormFieldDirective [outline]="false">
        <label>{{ 'models.dashboard.context.displayField' | translate }}</label>
        <ui-select-menu
          formControlName="displayField"
          [placeholder]="
            'models.dashboard.context.selectDisplayField' | translate
          "
        >
          <ui-select-option
            *ngFor="let field of availableFields"
            [value]="field"
            uiPrefix
          >
            {{ field }}
          </ui-select-option>
        </ui-select-menu>
        <ui-icon
          icon="info"
          class="cursor-pointer"
          variant="grey"
          uiSuffix
          [uiTooltip]="'models.dashboard.context.datasource.info' | translate"
        ></ui-icon>
      </div>
    </form>
  </ng-container>

  <ng-container ngProjectAs="actions">
    <ui-button [uiDialogClose]>
      {{ 'common.close' | translate }}
    </ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      (click)="onSubmit()"
      cdkFocusInitial
      [disabled]="!form.valid || !!form.get('displayField')?.disabled"
      class="ml-auto"
    >
      {{
        (data
          ? 'models.dashboard.context.datasource.update'
          : 'models.dashboard.context.datasource.set'
        ) | translate
      }}
    </ui-button>
  </ng-container>
</ui-dialog>
