<ui-dialog size="medium">
  <ng-container ngProjectAs="header">
    <h3 class="font-semibold">
      {{ 'models.dashboard.context.datasource.title' | translate }}
    </h3>
  </ng-container>

  <ng-container ngProjectAs="content">
    <form [formGroup]="form" class="flex justify-between w-full flex-col py-2">
      <ui-alert class="mb-6 text-sm">
        {{ 'models.dashboard.context.datasource.alert' | translate }}
      </ui-alert>
      <!-- Origin -->
      <div uiFormFieldDirective [outline]="false" class="mb-2">
        <label>{{ 'models.dashboard.context.origin' | translate }}</label>
        <ui-select-menu
          formControlName="origin"
          [placeholder]="'models.dashboard.context.selectOrigin' | translate"
        >
          <ui-select-option value="resource">
            {{ 'common.resource.one' | translate }}
          </ui-select-option>
          <ui-select-option value="refData">
            {{ 'common.referenceData.one' | translate }}
          </ui-select-option>
        </ui-select-menu>
      </div>

      <!-- Resource selection -->
      <div
        uiFormFieldDirective
        class="grow"
        *ngIf="form.get('origin')?.value === 'resource'"
      >
        <label>{{ 'common.resource.one' | translate }}</label>
        <ui-graphql-select
          *ngIf="resourcesQuery"
          valueField="id"
          textField="name"
          [query]="resourcesQuery"
          formControlName="resource"
          [selectedElements]="[resource]"
          (searchChange)="onResourceSearchChange($event)"
          [filterable]="true"
        >
        </ui-graphql-select>
      </div>

      <!-- Reference data selection  -->
      <div
        uiFormFieldDirective
        class="grow"
        *ngIf="form.get('origin')?.value === 'refData'"
      >
        <label>{{ 'common.referenceData.one' | translate }}</label>
        <ui-graphql-select
          *ngIf="refDatasQuery"
          valueField="id"
          textField="name"
          [query]="refDatasQuery"
          formControlName="refData"
          [selectedElements]="[refData]"
        >
        </ui-graphql-select>
      </div>

      <!-- Field selection -->
      <div uiFormFieldDirective [outline]="false">
        <label>{{ 'models.dashboard.context.displayField' | translate }}</label>
        <ui-select-menu
          formControlName="displayField"
          [placeholder]="
            'models.dashboard.context.selectDisplayField' | translate
          "
        >
          <ui-select-option
            *ngFor="let field of availableFields"
            [value]="field"
            uiPrefix
          >
            {{ field }}
          </ui-select-option>
        </ui-select-menu>
        <ui-icon
          icon="info"
          class="cursor-pointer"
          variant="grey"
          uiSuffix
          [uiTooltip]="'models.dashboard.context.datasource.info' | translate"
        ></ui-icon>
      </div>
    </form>
  </ng-container>

  <ng-container ngProjectAs="actions">
    <ui-button uiDialogClose>
      {{ 'common.close' | translate }}
    </ui-button>
    <ui-button
      category="secondary"
      variant="primary"
      (click)="onSubmit()"
      cdkFocusInitial
      [disabled]="!form.valid || !!form.get('displayField')?.disabled"
      class="ml-auto"
    >
      {{
        (data
          ? 'models.dashboard.context.datasource.update'
          : 'models.dashboard.context.datasource.set'
        ) | translate
      }}
    </ui-button>
  </ng-container>
</ui-dialog>
