<safe-modal size="medium" [closable]="true">
  <h2>{{ 'models.dashboard.context.datasource.title' | translate }}</h2>

  <ng-container *ngIf="form">
    <form
      [formGroup]="form"
      class="flex justify-between w-full flex-col m-2"
    >
      <safe-alert class="mb-6">
        {{ 'models.dashboard.context.datasource.alert' | translate }}
      </safe-alert>
      <!-- Origin -->
      <mat-form-field appearance="outline" class="grow">
        <mat-label>{{
          'models.dashboard.context.origin' | translate
        }}</mat-label>
        <mat-select formControlName="origin">
          <mat-option value="resource">{{
            'common.resource.one' | translate
          }}</mat-option>
          <mat-option value="refData">{{
            'common.referenceData.one' | translate
          }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Resource selection -->
      <mat-form-field
        appearance="outline"
        class="grow"
        *ngIf="form.get('origin')?.value === 'resource'"
      >
        <mat-label>{{ 'common.resource.one' | translate }}</mat-label>

        <safe-graphql-select
          *ngIf="resourcesQuery"
          valueField="id"
          textField="name"
          [query]="resourcesQuery"
          formControlName="resource"
          [selectedElements]="[resource]"
          (searchChange)="onResourceSearchChange($event)"
          [filterable]="true"
        >
        </safe-graphql-select>
      </mat-form-field>

      <!-- Reference data selection  -->
      <mat-form-field
        appearance="outline"
        class="grow"
        *ngIf="form.get('origin')?.value === 'refData'"
      >
        <mat-label>{{ 'common.referenceData.one' | translate }}</mat-label>
        <safe-graphql-select
          *ngIf="refDatasQuery"
          valueField="id"
          textField="name"
          [query]="refDatasQuery"
          formControlName="refData"
          [selectedElements]="[refData]"
        >
        </safe-graphql-select>
      </mat-form-field>

      <!-- Field selection -->
      <mat-form-field appearance="outline" class="grow">
        <mat-label>{{
          'models.dashboard.context.displayField' | translate
        }}</mat-label>
        <mat-select formControlName="displayField">
          <mat-option *ngFor="let field of availableFields" [value]="field">
            {{ field }}
          </mat-option>
        </mat-select>
        <safe-icon
          icon="info"
          class="cursor-pointer"
          variant="grey"
          matSuffix
          [uiTooltip]="'models.dashboard.context.datasource.info' | translate"
        ></safe-icon>
      </mat-form-field>
    </form>
    <ui-button
      [category]="btnCategory.SECONDARY"
      [variant]="btnVariant.PRIMARY"
      (click)="onSubmit()"
      cdkFocusInitial
      [disabled]="!form.valid || !!form.get('displayField')?.disabled"
      class="ml-auto"
    >
      {{
        (data
          ? 'models.dashboard.context.datasource.update'
          : 'models.dashboard.context.datasource.set'
        ) | translate
      }}
    </ui-button>
  </ng-container>
</safe-modal>
