$primary_50: 255 243 224;
$primary_100: 255 224 178;
$primary_200: 255 204 128;
$primary_300: 255 183 77;
$primary_400: 255 167 38;
$primary_500: 249 104 21;
$primary_600: 243 101 20;
$primary_700: 236 94 18;
$primary_800: 229 87 16;
$primary_900: 217 72 12;

$secondary_50: 255 243 224;
$secondary_100: 255 224 178;
$secondary_150: 255 204 128;
$secondary_200: 255 183 77;
