.toolbar {
    display: flex;
    flex-direction: row;
    padding: 8px 16px;
    align-items: center;
    justify-content: space-between;

    .toolbar-buttons {
        button:first-child {
            margin: 0 8px;
        }
    }
}

.danger-button {
    background-color: #AF0120;
    color:white;
}