.toolbar {
  display: flex;
  flex-direction: row;
  padding: 8px 16px;
  align-items: center;
  justify-content: flex-end;

  .toolbar-buttons {
    button:first-child {
      margin: 0 8px;
    }
  }
}

.danger-button {
  background-color: #af0120;
  color: white;
}
