<div class="actions">
  <safe-button
    variant="primary"
    class="actions"
    category="secondary"
    (click)="onAddDerivedField()"
  >
    {{
      'components.widget.settings.grid.layouts.add.choice.create' | translate
    }}</safe-button
  >
</div>
<div>
  <table mat-table [dataSource]="fields">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'models.form.field.name' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'components.derivedFields.definition' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.definition }}
      </td>
    </ng-container>

    <ng-container matColumnDef="_actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <safe-button
          [isIcon]="true"
          icon="more_vert"
          [matMenuTriggerFor]="resMenu"
          (click)="$event.stopPropagation()"
          [disabled]="!resource.canUpdate"
        >
        </safe-button>
        <mat-menu #resMenu="matMenu">
          <button mat-menu-item (click)="onEditDerivedField(element)">
            <mat-icon>edit</mat-icon>
            {{ 'common.edit' | translate }}
          </button>
          <button mat-menu-item (click)="onDeleteDerivedField(element)">
            <mat-icon>delete</mat-icon>
            {{ 'common.delete' | translate }}
          </button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
